<% if authorized_internal_user? %>
  <% content_for :page_heading_button do %>
    <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
      with_turbo_modal: true,
      link_to_path: new_order_path,
      link_to_text: "Add order",
    } %>
  <% end %>
<% end %>

<% if !authorized_internal_user? %>
  <% content_for :page_heading_button do %>
    <%= link_to orders_path do %>
      <div class="inline-block">
        <div class="w-full">
          <span class=" relative inline-flex items-center justify-center px-5 py-2 overflow-hidden font-bold text-white transition duration-300 ease-out border-2 border-gray-200 rounded-full shadow-md group">
            <span class="absolute inset-0 flex items-center justify-center w-full h-full text-gray-900 duration-300 -translate-x-full bg-gray-100 group-hover:translate-x-0 ease">
              <%= render partial: "/layouts/stacked_shell/headings/icons/order" %>
              <span class="ml-3"> Orders </span>
            </span>
            <span class="absolute flex items-center justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease tracking-wide"> View orders </span>
            <span class="relative invisible tracking-wide"> View orders </span>
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% content_for :page_heading_card do %>

  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "All orders",
        card_description: Order.all.count,
        card_link: (link_to "View All Orders", all_orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Active orders",
        card_description: Order.all.unarchived.count,
        card_link: (link_to "View Active Orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/box_truck"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Completed orders",
        card_description: Order.all.archived.count,
        card_link: (link_to "(placeholder)View Completed Orders", root_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
      } %>
    </div>
  <% end %>

<% end %>

<!-- <div class="sm:flex sm:items-center mb-5 sm:mb-7">
  <div class="sm:flex-auto">
    <div class="text-center sm:text-left">
      <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
        Recent Orders
      </h1>
      <p class="mt-2 ml-2 mb-1 text-md text-gray-700">
        A list of active orders that have been recently added.
      </p>
    </div>
  </div>
</div>

<div class="w-full inline-block relative">
  <div class="absolute">
    <%#= render partial: "/orders/order", collection: @unarchived_orders.first(5), as: :order %>
  </div>
</div> -->
