<!-- ************************************ -->
<!-- ************************************ -->
<!-- ************************************ -->
<!-- Before esbuiild (webpack dashboard) -->
<!-- ************************************ -->

<!-- <%# content_for :title, 'Dashboard' %>
<%#= render 'shared/under_header_card_options' %>
<div class="text-center mt-20">
  <div class="card">
    <div class="p-4">
    <p class="text-3xl"> Welcome <%#=current_user.first_name if current_user %> </p>

      <%#= "#{Order.all.count} Total Orders" %>
      <br>
      <%#= "#{@unarchived_orders.unarchived.all.count} Unarchived Orders" %>
      <br>
      <%#= "#{@archived_orders.count} Archived Orders" %>
    </div>
  </div>
</div> -->
<!-- <%# content_for :title, 'Dashboard' %>
<%#= render 'shared/under_header_card_options' %>
<div class="text-center mt-20">
  <div class="card">
    <div class="p-4">
    <p class="text-3xl"> Welcome <%=current_user.first_name if current_user %> </p>
      <%#= "#{Order.all.count} Total Orders" %>
      <br>
      <%#= "#{@unarchived_orders.unarchived.all.count} Unarchived Orders" %>
      <br>
      <%#= "#{@archived_orders.count} Archived Orders" %>
    </div>
  </div>
</div> -->
<!-- ************************************ -->
<!-- ************************************ -->
<!-- ************************************ -->

<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
    with_turbo_modal: true,
    link_to_path: new_order_path,
    link_to_text: "Add order",
  } %>
<% end %>

<% content_for :page_heading_card do %>

  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "All Orders",
        card_description: Order.all.count,
        card_link: (link_to "View All Orders", all_orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Active Orders",
        card_description: Order.all.unarchived.count,
        card_link: (link_to "View Active Orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/box_truck"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Completed Orders",
        card_description: Order.all.archived.count,
        card_link: (link_to "(placeholder)View Completed Orders", root_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
      } %>
    </div>
  <% end %>

<% end %>
