<% content_for :title, 'Dashboard' %>

<%= render 'shared/tab_table_options' %>


<div class="text-center">
  <br>
  <br>
  <br>
  <div class=" card">
    <div class="p-4">
    <p class="text-3xl"> Welcome <%=current_user.email if current_user%> </p>

      <%= "#{Order.all.count} Total Orders" %>
      <br>
      <%= "#{@unarchived_orders.unarchived.all.count} Unarchieved Orders" %>
      <br>
      <%= "#{@archived_orders.count} Archieved Orders" %>

    </div>
  </div>
</div>
