<div class="field-unit__label">
  <%= f.label field.attribute_key, field.attribute %>
</div>

<div class="field-unit__field">
  <% if (controller_name == 'users') and ((action_name == 'new') or (action_name == 'edit')) %>
      <% @user = User.where(id: params[:id]).first %>

      <% Role.generic_roles.each do | role | %>

          <% if @user and (@user.roles.include? role) %>

                <div class="p-1">
                  <%= check_box_tag 'role_ids[]', role.id, {:multiple => true} %>
                  <%= h role.name %>
                </div>

          <% else  %>

                <div class="p-1">
                  <%= check_box_tag 'role_ids[]', role.id  %>
                  <%= h role.name %>
                </div>

          <% end %>
      <% end %>
  <% end %>
</div>
