<div class="nested-fields">
  <div class="mx-auto">
    <% fields_for_object = local_assigns[:order_content].new_record? ? PackagingMaterial.new : local_assigns[:order_content].packaging_materials %>

    <%= local_assigns[:form].fields_for :packaging_materials, fields_for_object, child_index: 'TEMPLATE_RECORD' do |ff| %>
      <%= ff.hidden_field :id %>
      <div class="inline-block w-full">
        <div class="grid justify-items-center">
          <div class="flex justify-center space-x-3">
            <div class="mx-auto">
              <%= ff.label :type, 'Type', class: "text-sm font-medium" %>
              <br>
              <%= ff.select :type, PackagingMaterial.types_options, {}, { class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"} %>
            </div>
            <div class="mx-auto">
              <%= ff.label :description, "Description", class: "text-sm font-medium" %>
              <br>
              <%= ff.text_field :description, class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" %>
            </div>
            <div class="mx-auto">
              <%= ff.check_box :_destroy, class: "hidden" %>
              <br>
              <%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" }, class:'text-red-600 font-bold h-full' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
