<table class="bg-white table table-striped border border-2">
  <thead>
    <tr class="col-3">

      <% if @query.present? %>
          <% results_counter = 0 %>
          <th class="align-middle">
            Search Results
          </th>
      <% end %>

      <th>  <%= link_to "#{current_controller.singularize.titleize} ID", request.params.merge(q: @query, sort_option: 'id', sort_direction: sort_direction ) %>  </th>
      <th>  <%= link_to "#{current_controller.singularize.titleize}", request.params.merge(q: @query, sort_option: 'name', sort_direction: sort_direction ) %>  </th>
      <th>  <%= link_to "#{current_controller.singularize.titleize} Orders", request.params.merge(q: @query, sort_option: 'order_amount', sort_direction: sort_direction ) %>  </th>
    </tr>
  </thead>

  <tbody id="table-body">
    <% @purchasers.each do |purchaser| %>
      <tr class="col-3">

        <% if @query.present? %>
            <td class="align-middle font-normal	">
              <%= "Result: #{@resource.paginated_offset += 1}"%>
            </td>
        <% end %>

        <td class=" align-middle font-normal	">
          <%= purchaser.id %>
        </td>
        <td class=" align-middle font-normal	">
          <%= link_to "#{purchaser.name}", purchaser, class:"text-blue-500" %>
        </td>
        <td class=" align-middle font-normal	">
         <%= link_to "#{purchaser.orders.count}", purchaser, class:"text-blue-500" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
