<div id="<%= dom_id purchaser %>">

  <% content_for :page_heading_button do %>

    <div class="grid space-y-3 sm:inline-block sm:space-y-0">
      <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_edit", locals: {
        link_to_path: edit_purchaser_path(purchaser),
        link_to_text: "Edit ship",
      } %>

      <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
        with_turbo_modal: true,
        # link_to_path: new_purchaser_order_path(purchaser),
        link_to_path: new_order_path,
        link_to_text: "Add ship order (placeholder)",
      } %>
    </div>

  <% end %>

  <% content_for :table_section_heading_description_text do %>
      All active orders belonging to <%= content_tag :span, @purchaser.name, class:'font-bold' %> that have not yet been completed.
  <% end %>

  <%= render partial: "/orders/table", locals: {
    table_turbo_frame_tag: "orders",
    orders: @orders,
    pagy: @pagy,
    table_section_heading_title: "#{@purchaser.name}: Active Orders",
    table_section_heading_description: yield(:table_section_heading_description_text),
    table_title: "Active Ship Orders",
    # table_description: "Active orders.",
  } %>

</div>
