<%= form_with model: purchaser, id: "purchaser_form" do |form| %>
    <% if purchaser.errors.any? %>
      <div class="rounded-md bg-red-100 p-4" id="msg-container">
        <div class="flex">
          <div class="ml-3">
            <h3 class="text-sm font-medium text-red-800">
              There was <%= pluralize(purchaser.errors.count, "error") %> with your submission
            </h3>
            <div class="mt-2 text-sm text-red-700">
              <ul role="list" class="list-disc space-y-1 pl-5">
                <% purchaser.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <script type="text/javascript">

      var notNullandNotUndefined = (element) => {
        return element != null && element !== undefined;
      }

      notNullandNotUndefined(document.getElementById('msg-container')) ? fadeMsgContainer() : null

      function fadeMsgContainer(){
        var msgContainer = document.getElementById('msg-container').style;
        msgContainer.opacity = 1;
        (function fade(){(msgContainer.opacity-=.1) < 0 ? msgContainer.display="none" : setTimeout(fade,2500)})();
      }

    </script>

      <div>
        <div class="pt-3">
          <div class="flex justify-between">
            <div>
              <h3 class="text-base font-semibold leading-6 text-gray-900">Ship Form</h3>
              <p class="mt-1 text-sm text-gray-500">Add ship name below to create a new ship.</p>
            </div>
            <div>
             <%= link_to "Delete", purchaser, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this ship? Once deleted it cannot be recovered." }, class:"inline-flex items-center rounded border border-transparent bg-red-100 px-2.5 py-1.5 text-xs font-medium text-red-700 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2" if current_user.has_role?('admin') && !purchaser.new_record? %>
            </div>
          </div>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
          <div class="sm:col-span-6">
            <%= form.text_field :name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>
      </div>

    <div class="pt-5">
      <div class="flex justify-end">

        <%= form.submit 'Save', class: 'inline-flex hover:cursor-pointer justify-center rounded-md bg-indigo-600 py-2 px-5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>

      </div>
    </div>
<% end %>
