<% if params["all"] == "1" %>
  <%= link_to "Show Open Orders", :controller => "purchasers", :action => "show", :id => @purchaser, :all => "0" %>
<% else %>
  <%= link_to "Show all Orders", :controller => "purchasers", :action => "show", :id => @purchaser, :all => "1" %>
<% end %>
<table class="bg-white table table-striped border border-2">
  <thead>
    <tr>
      <% if @query.present? %>
          <% results_counter = 0 %>
          <th class="align-middle">
            Search Results
          </th>
      <% end %>

      <% @resource.table_option.selected_options.each do |option| %>
            <% if option.in? TableOptionsHelper.sortable_ths %>
                <th class="align-middle">
                  <%= link_to "#{option.titleize}", request.params.merge(q: @query, sort_option: "#{option}", sort_direction: sort_direction ) %>
                </th>
            <% else %>
                <th class="align-middle">
                  <%= "#{option.titleize}"%>
                </th>
            <% end %>
      <% end %>
  </thead>

  <tbody id="table-body">

    <% @resource.paginated_target.each do |order| %>
        <tr>

          <% if @query.present? %>
              <td class="align-middle font-normal	">
                <%= "Result: #{@resource.paginated_offset += 1}"%>
              </td>
          <% end %>

          <% @resource.table_option.selected_options.each do |option| %>
                <td class=" align-middle font-normal	">
                <% if (option) == 'id' %>
                  <%= link_to "#{order.id}", order_path(order) %>
                <% elsif (option) == 'ship_name' %>
                  <%= link_to "#{order.purchaser.name}", purchaser_path(order.purchaser) %>
                <% elsif (option) == 'vendor_name' %>
                  <%= link_to "#{order.vendor.name}", vendor_path(order.vendor) %>
                <% elsif (option) == 'date_recieved' %>
                  <%= order.date_recieved ? order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>
                <% elsif (option) == 'order_content' %>
                    <% if order.order_content.present? %>
                      <%= link_to(order_path(order)) do %>

                        Boxes: <%= order.order_content.box ||= "n/a" %>
                        <br>
                        Crates: <%= order.order_content.crate ||= "n/a" %>
                        <br>
                        Pallets: <%= order.order_content.pallet ||= "n/a" %>
                        <br>

                        <% if is_nil_and_zero(order.order_content.other) == false %>
                           <%= "Other: #{order.order_content.other}" %>
                           <br>
                           <%= order.order_content.other_description.to_s.chars.count >= 75 ? "Description: #{order.order_content.other_description[0..75]...}" : "Description: #{order.order_content.other_description}" if order.order_content.other_description %>
                        <% end %>
                      <% end %>
                    <% end %>

                <% elsif (option) == 'date_delivered' %>
                  <%= order.date_delivered ? order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>
                <% else %>

                  <%#= order.send(option[1]) %>
                  <% if option.to_s.downcase.include? ("ship" ) %>
                    <%= order.send("purchaser").name %>
                  <% elsif option.to_s.downcase.include? ("vendor" )  %>
                    <%= order.send("vendor").name %>
                  <% else %>
                    <!-- Error -->
                    <%#= order.send(option[1]) %>
                    <!-- No Error -->
                    <%= order.send(option) %>
                  <% end %>


                <% end %>

              </td>
          <% end %>

        </tr>
    <% end %>

  </tbody>
</table>
