<% if Current.request_variant == :turbo_frame  %>
  <%= turbo_frame_tag :modal do %>
    <%= render "/layouts/stacked_shell/render_modal",
      modal_title: (
        link_to "Edit ship",
        edit_purchaser_path(@purchaser),
        target: "_top",
        class: default_link_to_css_classes
      ) do %>

      <%= render 'form', purchaser: @purchaser %>

    <% end %>
  <% end %>
<% end %>

<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: purchaser_orders_path(@purchaser),
    fallback_location_text: "View ship",
  } %>
<% end %>

<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "Edit Ship" %>
  <%= turbo_stream.update "card_content" do %>
    <div class="p-3 overflow-hidden rounded-lg border border-gray-100 shadow">
      <%= render 'form', purchaser: @purchaser %>
    </div>
  <% end %>
<% end %>
