<% content_for :title, "#{@purchasers.count} Ships" %>

<%= render 'shared/tab_table_options' %>
<%= render 'shared/new_modal' %>

<table class="bg-white table table-striped border border-2">

  <thead>
    <tr>
        <th>
        <%= link_to "Ship ID", purchasers_path(sort_option: 'id', sort_direction: sort_direction) %>
        </th>
        <th>
        <%= link_to "Ship Name", purchasers_path(sort_option: 'name', sort_direction: sort_direction) %>
        </th>
        <th>
        <%= link_to "Ship Orders", purchasers_path(sort_option: 'order_amount', sort_direction: sort_direction) %>
        </th>
    </tr>
  </thead>

  <tbody>
    <% @purchasers.each do |purchaser| %>

      <tr>
        <td class=" align-middle font-light">
          <%= purchaser.id %>
        </td>
        <td class=" align-middle font-light">
         <%= link_to "#{purchaser.name}", purchaser_path(purchaser)  %>
        </td>
        <td class=" align-middle font-light">
          <%= link_to "#{purchaser.orders.count}", purchaser %>
        </td>
      </tr>

    <% end %>
  </tbody>

</table>
