<% content_for :title, "All #{@purchasers.count} Ships" %>

  <!-- For new resource on #index Controller Actions  -->
  <%= render 'shared/new_modal' %>

  <table class="bg-white table table-striped border border-2">
    <thead>
      <tr>
        <!-- <th class="py-2">Ship ID</th>
        <th class="py-2">Ship</th>
        <th class="py-2">Orders</th> -->

        <th class="py-8"> <%= link_to "ShipID", purchasers_path(order_attr: 'id', sort_direction: sort_direction) %> </th>
        <th class="py-8"> <%= link_to "Name", purchasers_path(order_attr: 'purchaser_name', sort_direction: sort_direction) %> </th>
        <th class="py-8"> <%= link_to "Orders", purchasers_path(order_attr: 'order_amount', sort_direction: sort_direction) %> </th>

      </tr>
    </thead>

    <tbody>
      <% @purchasers.each do |purchaser| %>
        <tr>
          <td class="py-8 align-middle font-light">
            <%= purchaser.id %>
          </td>
          <td class="py-8 align-middle font-light">
           <%= link_to "#{purchaser.name}", purchaser_path(purchaser)  %>
          </td>
          <td class="py-8 align-middle font-light">
            <%= link_to "#{purchaser.orders.count}", purchaser %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
