<p id="notice"><%= notice %></p>

<h1>Purchasers</h1>
<%= link_to 'New Purchaser', new_purchaser_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchasers.each do |purchaser| %>
      <tr>
        <td><%= purchaser.name %></td>
        <td class="pl-4">
          <%= link_to 'Show', purchaser %> |
          <%= link_to 'Edit', edit_purchaser_path(purchaser) %> |
          <%= link_to 'Destroy', purchaser, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
