<%# content_for :title, "#{Purchaser.all.count}" + ' Ship'.pluralize(Purchaser.all.count) %>

<%#= render 'shared/under_header_card_options' %>
<%# if (current_user.has_role?('admin') || current_user.has_role?('staff')) %>
    <%#= render 'shared/new_modal' %>
<%# end %>
<%#= render 'shared/top_table_header' %>
<%#= render 'shared/top_table_header_two', total_pages: @resource.total_pages %>
<%#= render partial: 'purchasers/index', locals: { purchasers: @resource} %>
<%#= render "shared/pagination/pagination_buttons", total_pages: @resource.total_pages %>



<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->


<% content_for :page_heading_button do %>
    <%= render partial: "/purchasers/add_purchaser_button" %>
<% end %>

<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "Ships" %>
  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1">
      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Ships",
        card_description: "#{Purchaser.all.count} Ships",
        card_link: (link_to "All Ships", purchasers_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/purchaser"),
      } %>
    </div>
  <% end %>
<% end %>


<div>
  <div class="sm:flex sm:items-center mb-5 sm:mb-7">
    <div class="sm:flex-auto">
      <div class="text-center sm:text-left">
        <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
          All Ships Table
        </h1>
        <p class="mt-2 ml-2 mb-1 text-md text-gray-700">A list of all ships.</p>
      </div>
    </div>
  </div>
</div>
<div class="rounded-md bg-white">
  <div class="flex-1">
    <%= render partial: "/purchasers/remix/table", locals:{
      table_title: "Ships",
      resource: @resource,
      query: @query,
      purchasers: @purchasers,
      purchasers_count: @purchasers.count,
      total_purchasers_count: Purchaser.all.count,
    } %>
  </div>
</div>
