<% content_for :title, "All #{@purchasers.count} Ships" %>

<div class="card p-4">
  <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <!-- <th class="py-2">Ship ID</th>
        <th class="py-2">Ship</th>
        <th class="py-2">Orders</th> -->


        <th class="py-8"> <%= link_to "Ship ID", purchasers_path(order_attr: 'id', sort_direction: sort_direction) %> </th>

        <th class="py-8"> <%= link_to "Ship Name", purchasers_path(order_attr: 'purchaser_name', sort_direction: sort_direction) %> </th>

        <th class="py-8"> <%= link_to "Orders", purchasers_path(order_attr: 'order_amount', sort_direction: sort_direction) %> </th>

      </tr>
    </thead>

    <tbody>
      <% @purchasers.each do |purchaser| %>

        <tr class="">
            <td class="py-4">
              <%= purchaser.id %>
            </td>

            <td class="py-4">
             <%= purchaser.name %>
            </td>

            <td class="py-4">
              <%= link_to "#{purchaser.orders.count}", purchaser %>
            </td>
        </tr>

      <% end %>
    </tbody>
  </table>
</div>

<br>
