<% content_for :title, "Ship: #{@purchaser.name}" %>


<div class="accordion" id="aboveTableAccordionOptions">
    <div class="card">
        <div class="card-header">
            <%= link_to "Export to Excel", export_purchaser_path(@purchaser, format: :xls) %>
        </div>
        <div class="card-header">
            <%= link_to "Deliver Open Orders", deliver_purchaser_path(@purchaser) %>
        </div>
    </div>
</div>





<% content_for :subtitle, "#{@purchaser.orders.unarchived.count}" + ' Open Order'.pluralize(@purchaser.orders.unarchived.count) %>
<% content_for :subtitle_two, "#{@purchaser.orders.archived.count}" + ' Archived Order'.pluralize(@purchaser.orders.archived.count) %>

<%= render 'shared/under_header_card_options' %>
<%= render 'shared/new_order_on_show_modal' %>
<hr>
<%= render 'shared/top_table_header_two', total_pages: @resource.total_pages %>
<%= render partial: "show" %>
<%= render "shared/pagination/pagination_buttons", total_pages: @resource.total_pages %>
