<% @page_heading_title = "Ship Orders" %>

<% content_for :page_heading_card do %>

  <%= turbo_stream.update "card_title", @purchaser.name %>

  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "All purchaser orders",
        card_description: @purchaser.orders.count,
        card_link: (link_to "View all ship orders", purchaser_orders_path(@purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      is_active_card: true,
      card_title: "Active ship orders",
      card_description: @purchaser.orders.unarchived.count,
      card_link: (link_to "View active purchaser orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/purchaser"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Completed ship orders",
      card_description: @purchaser.orders.archived.count,
      card_link: (link_to "View completed purchaser orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
      } %>

    </div>
  <% end %>

  <%#= render partial: "/purchasers/orders/page_heading_card" %>

<% end %>

<%= render @purchaser %>

<!-- <%##= turbo_frame_tag "active_orders", src: active_vendor_orders_path(@vendor), loading: "lazy" do %>
<%#= turbo_frame_tag "active_orders", src: active_vendor_orders_path(@vendor) do %>

  <div class="h-full w-full p-4 bg-slate-300 opacity-25 animate-pulse ">
    <div class="flex justify-center opacity-100">
    <%#= render partial: "/layouts/stacked_shell/headings/icons/loading" %>
    </div>
  </div>

<%# end %> -->

<%= render partial: "/orders/table", locals: {
  table_turbo_frame_tag: "orders",
  orders: @orders,
  pagy: @pagy,
  table_section_heading_title: "#{@purchaser.name}: Active Orders",
  table_section_heading_description: yield(:table_section_heading_description_text),
  table_title: "Active Orders Table",
} %>
