<div class="py-2 px-2 font-bold text-gray-800 text-xl">

  <h1 class="animate-pulse font-bold text-gray-200 text-6xl mb-6">
    Sign up
  </h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field font-bold">
      full name
      <br />
        <%= f.text_field :name, autofocus: true, class:"bg-gray-200" %>
    </div>

    <div class="field font-bold">
      phone number
      <br />
        <%= f.text_field :phone_number, autofocus: true, class:"bg-gray-200" %>
    </div>

    <div class="field font-bold">
      email
      <br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-200 " %>
    </div>

    <div class="field font-bold">
      username
      <br />
        <%= f.text_field :username, autofocus: true, class:"bg-gray-200" %>
    </div>


    <div class="field font-bold">
      password
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:"bg-gray-200 " %>
    </div>

    <div class="field py-3 px-2 font-bold">
      password confirmation
      <br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"bg-gray-200 " %>
    </div>



  <% end %>

  <%= render "devise/shared/links" %>

</div>
