<%= tag.div class: "grid grid-rows-2" do %>
  <%= tag.div class: "inline-block w-full relative" do %>
    <div data-controller="visibility" data-visibility-value-toggled="false" class="inline-flex">
      <div class="group inline-flex whitespace-nowrap rounded-md group ring-1 ring-gray-300 bg-white text-gray-600 group-active:ring-2 group-active:ring-offset-2">
        <button type="button" data-action="visibility#toggleTargets" class="px-2.5 py-1.5 items-center rounded-l-md text-sm font-normal border-r-2 border-gray-200">
          Update status
        </button>
        <button type="button"  data-action="visibility#toggleTargets" class="px-2.5 py-1.5 items-center rounded-r-md" id="option-menu-button" aria-expanded="true" aria-haspopup="true">
          <span class="sr-only">Open options</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      <div data-visibility-target="hideable" hidden class="w-full absolute right-0 z-10 -mr-1 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="option-menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <div class="grid grid-flow-row auto-rows-max divide-y-2 divide-slate-600/5 text-center">
            <% statusable.statuses.each do |status| %>
              <%= tag.div class: "px-3 py-1.5 cursor-pointer hover:bg-gray-100" do %>
                <%= button_to status.to_s.humanize, status_path(
                    statusable,
                    params: { statusable_type: statusable.statusable_type, statusable_id: statusable.id, status: status },
                  ),
                  method: :patch,
                  data: {
                    turbo_stream: true,
                    turbo_method: :patch,
                  }, class: "cursor-pointer text-sm leading-loose font-medium text-gray-700" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= tag.div do %>
    <%= link_to "close", status_path(
        statusable,
        params: { statusable_type: statusable.statusable_type, statusable_id: statusable.id },
      ), class: "text-sm text-gray-400 underline underline-offset-2 hover:text-gray-600 hover:underline" %>
  <% end %>
<% end %>
