<% @card_title = "Viewing Ship" %>

<% content_for :header_button do %>
  <span class="add-order-button">
    <a href="#_" class="scale-90 relative inline-flex items-center justify-start inline-block px-5 py-3 overflow-hidden font-bold rounded-full group">
      <span class="w-32 h-32 rotate-45 translate-x-12 -translate-y-2 absolute left-0 top-0 bg-white opacity-[3%]"></span>
      <span class="absolute top-0 left-0 w-48 h-48 -mt-1 transition-all duration-500 ease-in-out rotate-45 -translate-x-56 -translate-y-24 bg-white opacity-100 group-hover:-translate-x-8"></span>
      <span class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-gray-900 inline-flex">
        <span class="tracking-wide"> Add Ship Order - placeholder </span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-2 ml-1 w-6 h-6 font-extrabold">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
      </span>
      <span class="absolute inset-0 border-2 border-white rounded-full"></span>
    </a>
  </span>
<% end %>

<section id="purchasers-show-section">
  <!-- <h2 class="text-xl font-medium leading-6 text-gray-900">Ship</h2> -->
  <div class="-mt-1 mb-2 flex justify-center sm:justify-start">
    <div class="text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>
      <div class="text-gray-900 font-medium"> <%= purchaser.name %> </div>
    </div>
  </div>


  <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
    <span>
      <% content_for :ship_icon do %>
        <div class="flex space-x-1">
          <?xml version="1.0" encoding="iso-8859-1"?>
          <svg fill="#9CA3AF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 501.6 501.6" class="text-gray-400" xml:space="preserve">
          <g>
            <g>
              <path d="M498.4,330.096c-4.267-6.4-10.667-10.667-18.133-10.667H389.6v-78.933c0-11.733-9.6-21.333-21.333-21.333h-96v-33.067
                c0-11.733-9.6-21.333-21.333-21.333h-68.267V42.096c0-11.733-9.6-21.333-21.333-21.333S140,30.362,140,42.096v122.667H71.733
                c-11.733,0-21.333,9.6-21.333,21.333v133.333H20.533c-7.467,0-13.867,4.267-18.133,10.667c-3.2,6.4-3.2,13.867,0,20.267
                l56.533,105.6c14.933,27.733,43.733,44.8,75.733,44.8H367.2c30.933,0,59.733-17.067,74.667-44.8l56.533-105.6
                C502.667,343.962,502.667,336.496,498.4,330.096z M272.266,260.762H348v58.667h-75.733V260.762z M92,206.362h137.6v113.067H92
                V206.362z M404.533,436.762c-7.467,14.933-22.4,23.467-38.4,23.467H134.666c-16,0-30.933-9.6-38.4-23.467l-40.533-74.667h389.333
                L404.533,436.762z"/>
            </g>
          </g>
          <g>
            <g>
              <path d="M417.333,25.029C415.2,14.362,405.6,5.829,393.866,6.895C371.466,9.029,348,11.162,325.6,9.029
                c-6.4-1.067-13.867-2.133-21.333-3.2c-23.467-4.267-51.2-9.6-77.867,2.133c-10.667,5.333-14.933,17.067-10.667,27.733
                c5.333,10.667,17.066,14.933,27.733,10.667c14.933-6.4,34.133-3.2,54.4,0c8.533,1.067,16,2.133,24.533,3.2
                c7.467,1.067,16,1.067,23.467,1.067c18.133,0,36.267-2.133,53.333-2.133C409.866,46.362,418.4,36.762,417.333,25.029z"/>
            </g>
          </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3.75v16.5M2.25 12h19.5M6.375 17.25a4.875 4.875 0 004.875-4.875V12m6.375 5.25a4.875 4.875 0 01-4.875-4.875V12m-9 8.25h16.5a1.5 1.5 0 001.5-1.5V5.25a1.5 1.5 0 00-1.5-1.5H3.75a1.5 1.5 0 00-1.5 1.5v13.5a1.5 1.5 0 001.5 1.5zm12.621-9.44c-1.409 1.41-4.242 1.061-4.242 1.061s-.349-2.833 1.06-4.242a2.25 2.25 0 013.182 3.182zM10.773 7.63c1.409 1.409 1.06 4.242 1.06 4.242S9 12.22 7.592 10.811a2.25 2.25 0 113.182-3.182z" />
          </svg>
        </div>
      <% end %>
      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "All Ship Orders",
        card_description: "#{active_orders.count + completed_orders.count}",
        card_link: (link_to "View All Ship Orders", purchasers_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: yield(:ship_icon),
      } %>
    </span>

    <span>
      <% content_for :active_orders_icon do %>
        <div class="flex space-x-1">
          <?xml version="1.0" encoding="iso-8859-1"?>
          <svg fill="#9CA3AF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 501.6 501.6" class="text-gray-400" xml:space="preserve">
          <g>
            <g>
              <path d="M498.4,330.096c-4.267-6.4-10.667-10.667-18.133-10.667H389.6v-78.933c0-11.733-9.6-21.333-21.333-21.333h-96v-33.067
                c0-11.733-9.6-21.333-21.333-21.333h-68.267V42.096c0-11.733-9.6-21.333-21.333-21.333S140,30.362,140,42.096v122.667H71.733
                c-11.733,0-21.333,9.6-21.333,21.333v133.333H20.533c-7.467,0-13.867,4.267-18.133,10.667c-3.2,6.4-3.2,13.867,0,20.267
                l56.533,105.6c14.933,27.733,43.733,44.8,75.733,44.8H367.2c30.933,0,59.733-17.067,74.667-44.8l56.533-105.6
                C502.667,343.962,502.667,336.496,498.4,330.096z M272.266,260.762H348v58.667h-75.733V260.762z M92,206.362h137.6v113.067H92
                V206.362z M404.533,436.762c-7.467,14.933-22.4,23.467-38.4,23.467H134.666c-16,0-30.933-9.6-38.4-23.467l-40.533-74.667h389.333
                L404.533,436.762z"/>
            </g>
          </g>
          <g>
            <g>
              <path d="M417.333,25.029C415.2,14.362,405.6,5.829,393.866,6.895C371.466,9.029,348,11.162,325.6,9.029
                c-6.4-1.067-13.867-2.133-21.333-3.2c-23.467-4.267-51.2-9.6-77.867,2.133c-10.667,5.333-14.933,17.067-10.667,27.733
                c5.333,10.667,17.066,14.933,27.733,10.667c14.933-6.4,34.133-3.2,54.4,0c8.533,1.067,16,2.133,24.533,3.2
                c7.467,1.067,16,1.067,23.467,1.067c18.133,0,36.267-2.133,53.333-2.133C409.866,46.362,418.4,36.762,417.333,25.029z"/>
            </g>
          </g>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 01-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 00-3.213-9.193 2.056 2.056 0 00-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 00-10.026 0 1.106 1.106 0 00-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
          </svg>
        </div>

      <% end %>
      <div class="bg-slate-100 rounded-md ring ring-offset-4 ring-4 ring-gray-300">
        <%= render partial: "/shared/data_display/stats/overview_card", locals: {
          card_title: "Active Ship Orders",
          # card_description: purchaser.orders.unarchived.count,
          card_description: active_orders.count,
          card_link: (link_to "View Active Ship Orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
          card_icon: yield(:active_orders_icon),
        } %>
      </div>
    </span>


    <span>
      <% content_for :completed_ship_orders_icon do %>
      <div class="flex space-x-1">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <svg fill="#9CA3AF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 501.6 501.6" class="text-gray-400" xml:space="preserve">
        <g>
          <g>
            <path d="M498.4,330.096c-4.267-6.4-10.667-10.667-18.133-10.667H389.6v-78.933c0-11.733-9.6-21.333-21.333-21.333h-96v-33.067
              c0-11.733-9.6-21.333-21.333-21.333h-68.267V42.096c0-11.733-9.6-21.333-21.333-21.333S140,30.362,140,42.096v122.667H71.733
              c-11.733,0-21.333,9.6-21.333,21.333v133.333H20.533c-7.467,0-13.867,4.267-18.133,10.667c-3.2,6.4-3.2,13.867,0,20.267
              l56.533,105.6c14.933,27.733,43.733,44.8,75.733,44.8H367.2c30.933,0,59.733-17.067,74.667-44.8l56.533-105.6
              C502.667,343.962,502.667,336.496,498.4,330.096z M272.266,260.762H348v58.667h-75.733V260.762z M92,206.362h137.6v113.067H92
              V206.362z M404.533,436.762c-7.467,14.933-22.4,23.467-38.4,23.467H134.666c-16,0-30.933-9.6-38.4-23.467l-40.533-74.667h389.333
              L404.533,436.762z"/>
          </g>
        </g>
        <g>
          <g>
            <path d="M417.333,25.029C415.2,14.362,405.6,5.829,393.866,6.895C371.466,9.029,348,11.162,325.6,9.029
              c-6.4-1.067-13.867-2.133-21.333-3.2c-23.467-4.267-51.2-9.6-77.867,2.133c-10.667,5.333-14.933,17.067-10.667,27.733
              c5.333,10.667,17.066,14.933,27.733,10.667c14.933-6.4,34.133-3.2,54.4,0c8.533,1.067,16,2.133,24.533,3.2
              c7.467,1.067,16,1.067,23.467,1.067c18.133,0,36.267-2.133,53.333-2.133C409.866,46.362,418.4,36.762,417.333,25.029z"/>
          </g>
        </g>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-400">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" />
        </svg>
      </div>
      <% end %>
      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Completed Ship Orders",
        # card_description: Order.all.archived.count,
        card_description: completed_orders.count,
        card_link: (link_to "(placeholder)View Completed Ship Orders", root_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: yield(:completed_ship_orders_icon),
      } %>
    </span>


  </div>
</section>

<% content_for :main_content_under do %>
  <div data-controller="reveal" data-reveal-hidden-class="hidden">
    <div class="sm:flex sm:items-center mb-5 sm:mb-7">
      <div class="sm:flex-auto">
        <div class="text-center sm:text-left">
          <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
            <%= purchaser.name %> Active Orders
          </h1>
          <p class="mt-2 ml-2 mb-1 text-md text-gray-700">A list of all active orders belonging to the ship <%= purchaser.name %>.</p>
        </div>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none hover:cursor-pointer">
        <div data-action="click->reveal#toggle" type="button" class="table-options-button text-center sm:inline-block">
          <div class="mr-2 relative px-4 py-2 overflow-hidden font-medium text-gray-600 bg-gray-50 border border-gray-700 rounded-lg shadow-inner group">
            <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
            <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
            <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
            <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
            <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
            <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">
                <span class="text-base"> Table Options </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div data-reveal-target="item" class="hidden">
      <div class="pb-6">
        <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="rounded-t-md p-8 bg-green-300 text-5xl">
            <%= purchaser.name %> Active Orders Table
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded-md bg-white">
    <div class="flex-1">
      <%= render partial: "/orders/remix/table", locals:{
        table_title: "#{purchaser.name} Active Orders",
        resource: resource,
        query: query,
        orders: resource.paginated_target,
        order_count: resource.paginated_target.count,
        total_order_count: active_orders.count,
      }, cached: false %>
    </div>
  </div>




  <!-- <div class="p-4">
    <div class="text-2xl">
      active_orders:
    </div>
    <%#= active_orders.map {|o| o.inspect }  %>
  </div>
  <div class="p-4">
    <div class="text-2xl">
      completed_orders:
    </div>
    <%#= completed_orders.map {|o| o.inspect }  %>
  </div> -->


  <!-- <div class="p-4">
    <%#= TableOptionsHelper.sortable_ths %>
  </div>
  <div class="p-4">
    <%# resource.paginated_target.each do |targ| %>
      <%#= targ.inspect %>
      <br>
      <br>
    <%# end %>
  </div> -->


<% end %>
