<% if params[:sort_option].present? or params[:q].present?%>

<div class="bg-white p-4 border container flex flex-row text-left space-x-6">
  <div class="mr-4">
    <% if params[:sort_option].present? %>
        <div class="text-lg font-semibold row">
          Sort Options:
        </div>
        <div class="text-md text-gray-600 row">
          <% display_sorted_direction = params[:sort_direction] == 'asc' ? 'descending' : 'ascending' if params[:sort_direction].present? %>

          <%= "#{params[:sort_option].titleize}"%>
          <%= "(#{display_sorted_direction})"  if display_sorted_direction.present? %>
        </div>
        <div class="text-sm row">
           <%= link_to "remove sort", url_for(request.params.slice!(:sort_direction, :sort_option)) %>
        </div>
    <% end %>
  </div>

  <div class="mr-4">
    <% if params[:q].present? %>
        <div class="text-lg font-semibold row">
          <%= pluralize(@resource.results_length , 'result') if @resource.results_length > 0 %>
          <%= 'No results' if @resource.results_length == 0 %>
          for:
        </div>
        <div class="text-md text-gray-600 row">
          <%= "#{params[:q]}"%>
        </div>
        <div class="text-sm row">
           <%= link_to "remove search", url_for(request.params.slice!(:q)) %>
        </div>
    <% end %>
  </div>

</div>
<br>

<% end %>
