<ul class="nav nav-tabs py-2 mt-4 row flex-nowrap">

    <li class="nav-link px-2 ml-3 xs:px-1 pb-1 z-10 hover:bg-blue-100 focus:outline-none  <%= class_names(active: controller_name == 'dashboard') %>">
      <%= link_to "Dashboard", dashboard_path %>
    </li>

    <li class="nav-link px-2 pb-1 z-10 hover:bg-blue-100 focus:outline-none <%= class_names(active: controller_name == 'orders') %>">
      <%= link_to "Orders", orders_path %>
    </li>

    <li class="nav-link px-2 pb-1 z-10 hover:bg-blue-100 focus:outline-none <%= class_names(active: controller_name == 'purchasers') %>">
      <%= link_to "Ships", purchasers_path %>
    </li>

    <li class="nav-link px-2 pb-1 z-10 hover:bg-blue-100 focus:outline-none <%= class_names(active: controller_name == 'vendors') %>">
      <%= link_to "Vendors", vendors_path %>
    </li>
</ul>
