<section>
  <div data-controller="reveal" data-reveal-hidden-class="hidden">
    <div class="sm:flex sm:items-center mb-5 sm:mb-7">
      <div class="sm:flex-auto">
        <div class="text-center sm:text-left">
          <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">

            <%= content_tag(:span, table_section_heading_title, id:"table_section_heading_title" ) %>

          </h1>
          <p class="mt-2 ml-2 mb-1 text-md text-gray-700">

            <%= content_tag(:span, table_section_heading_description, id:"table_section_heading_description" ) %>

          </p>
        </div>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none hover:cursor-pointer">
        <div data-action="click->reveal#toggle" type="button" class="table-options-button text-center sm:inline-block">
          <div class="mr-2 relative px-4 py-2 overflow-hidden font-medium text-gray-600 bg-gray-50 border border-gray-700 rounded-lg shadow-inner group">
            <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
            <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
            <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
            <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
            <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
            <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">
                <span class="text-base cursor-pointer"> Table Options </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div data-reveal-target="item" class="hidden block">
      <%= tag.div class: "block w-full text-right mb-9" do %>
        <%= link_to "Deliver active orders", {
            controller: "orders/bulk",
            action: "update",
            resource_id: @scoped_resource.id
          },
          data: {
            turbo_method: :patch,
            turbo_confirm: "Are you sure?",
          }, class: "inline-block mb-3 btn btn_indigo" if authorized_internal_user? && scoped_resource? %>

        <div class="flex justify-start">
          <%= render partial: "/exports/form", locals: { scoped_resource: @scoped_resource } %>

        </div>
      <% end %>

    </div>
  </div>
</section>
