<!-- https://tailwindui.com/components/application-ui/lists/tables#component-7b5a46e74e475708d966ca31716f1771 -->



<div class="pb-12">
  <div class=""></div>
  <h3>
    <%= title %>
  </h3>
  <div class="">
    <%= yield %>
  </div>
</div>


<div class="rounded-md bg-white">
  <div class="pt-7 w-full px-4 sm:px-6 lg:px-8 ">
    <article class="rounded-md bg-white pb-12">
      <div class="overflow-hidden rounded-md border border-gray-100 shadow">
        <div class="rounded-md bg-white">
          <%# TABLE HEADING %>
          <%#= tag.div class: "bg-gray-100" do %>
            <%#= tag.div class: "overflow-x-auto pt-6 pb-6 sm:pb-7 grid gap-10 grid-flow-col auto-cols-max" do %>
              <%# div_counter, div_amount = 0, 50 %>
              <%# div_amount.times do |amt| %>
                <%#= tag.div (div_counter += 1), class: "bg-white" %>
              <%# end %>

              <%# DataTableDecorator.table_attrs.each do |th| %>
                <%#= tag.div th, class: "bg-white" %>
              <%# end %>

              <%# DataTableDecorator.sortable_table_headers_attrs.each do |th| %>
                <%#= tag.div th, class: "bg-white" %>
              <%# end %>
            <%# end %>
          <%# end %>

          <%# TABLE HEADING %>
          <%#= tag.div class: "bg-white px-4 sm:px-6 lg:px-8" do %>
            <%#= tag.div class: "sm:flex sm:items-center" do %>
              <%#= tag.div class: "sm:flex-auto" do %>
                <%#= tag.h1 "Users", class: "text-base font-semibold leading-6 text-gray-900" %>
                <%#= tag.p "A list of all the users in your account including their name, title, email and role.", class: "mt-2 text-sm text-gray-700" %>
              <%# end %>
              <%#= tag.div class: "mt-4 sm:ml-16 sm:mt-0 sm:flex-none" do %>
                <%#= tag.button "Add user", type: 'button', class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
              <%# end %>
            <%# end %>
          <%# end %>

          <div class="mt-8 w-full px-4 sm:px-6 lg:px-8 ">
            <%= tag.div id: "orders",
              data: {
              controller: 'table',
              "table-target": "rootElement",

              "table-th-class": "px-3 py-3.5 text-left text-sm font-semibold text-gray-900",
              "table-th-first-class": "py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0",
              "table-th-last-class": "relative py-3.5 pl-3 pr-0",

              "table-cheveron-active-class": "ml-2 flex-none rounded bg-gray-100 text-gray-900 group-hover:bg-gray-200",
              "table-cheveron-inactive-class": "invisible ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible",

              "table-td-class": "whitespace-nowrap px-3 py-4 text-sm text-gray-500",
              "table-td-first-class": "whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-0",
              "table-td-last-class": "relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-0",
            }, class: "flow-root" do %>
              <%= tag.div class: "-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8" do %>
                <%= tag.div class: "inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8" do %>
                  <%#= turbo_frame_tag "orders" do %>
                  <!-- <%#= tag.div class: "inline-flex text-gray-700 text-center sm:text-left" do %>
                    <%#= form_with url: "", method: :get, data: { turbo_frame: "orders", turbo_action: "advance" } do |form| %>
                    <%##= form_with url: "", method: :get, data: { turbo_frame: "orders" } do |form| %>
                      <%#= tag.p "Filter by status", class: "text-sm text-gray-700 mb-1" %>
                      <%#= tag.div class: "relative" do %>
                        <select onchange="this.form.requestSubmit()" name="status" id="status" class="relative cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left border-0 drop-shadow-md shadow-sm ring-1 ring-inset ring-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-600 text-sm leading-6">
                          <option disabled selected value> -- select a status -- </option>
                          <%# Order.statuses.each do |status| %>
                            <option value="<%#= status %>"><%#= status.to_s.humanize %></option>
                          <%# end %>
                        </select>
                      <%# end %>
                    <%# end %>
                  <%# end %> -->
                  <%#= tag.div class: "inline-flex text-gray-700 text-center sm:text-left" do %>
                    <%#= form_with url: "", method: :get, data: { turbo_frame: "orders", turbo_action: "advance" } do |form| %>
                      <%#= render partial: "/data_tables/filters/dropdown", locals: {
                        klass: Order,
                        attr_name: :status,
                      } %>
                    <%# end %>
                  <%# end %>



                  <%= form_with url: "", method: :get, data: { turbo_frame: "orders" } do |form| %>
                  <%#= form_with url: "", method: :get, data: { turbo_frame: "orders", turbo_action: "advance" } do |form| %>
                    <div class="text-sm text-gray-700 mb-1">
                      Filter orders
                    </div>
                    <%= form.fields_for :filter do |filter_form| %>
                      <%= tag.div class: "flex space-x-3" do %>
                        <%= tag.div do %>
                          <% status_select = Array.new %>
                          <% Order.select([:status]).distinct.collect { |order| status_select.push([order.status.to_s.humanize, order.status]) if order.status?  } %>
                          <%= filter_form.select :status, status_select, {prompt: '--- select status ---'}, { class: "cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
                        <% end %>
                        <%= tag.div do %>
                          <% dept_select = Array.new %>
                          <% Order.select([:dept]).distinct.collect { |order| dept_select.push([order.dept, order.dept]) if order.dept?  } %>
                          <%= filter_form.select :dept, dept_select.sort, {prompt: '--- select dept ---'}, { class: "cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
                        <% end %>
                        <%= tag.div do %>
                          <% courrier_select = Order.select([:courrier]).distinct.collect { |order| [ order.courrier, order.courrier ] } %>
                          <%= filter_form.select :courrier, courrier_select, {prompt: '--- select courrier ---'}, { class: "cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
                        <% end %>
                        <%= button_tag(type: 'submit', class:"relative -ml-px inline-flex items-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50") do %>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-ml-0.5 h-5 w-5 text-gray-400">
                            <path fill-rule="evenodd" d="M2.628 1.601C5.028 1.206 7.49 1 10 1s4.973.206 7.372.601a.75.75 0 0 1 .628.74v2.288a2.25 2.25 0 0 1-.659 1.59l-4.682 4.683a2.25 2.25 0 0 0-.659 1.59v3.037c0 .684-.31 1.33-.844 1.757l-1.937 1.55A.75.75 0 0 1 8 18.25v-5.757a2.25 2.25 0 0 0-.659-1.591L2.659 6.22A2.25 2.25 0 0 1 2 4.629V2.34a.75.75 0 0 1 .628-.74Z" clip-rule="evenodd" />
                          </svg>
                          Filter orders
                        <% end %>
                      <% end %>
                    <% end %>
                  <% end %>






                  <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                      <tr>
                        <% css_cheveron_active = %w(ml-2 flex-none rounded bg-gray-100 text-gray-900 group-hover:bg-gray-200) %>
                        <% css_cheveron_not_active = %w(invisible ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible) %>
                        <% css_cheveron_no_sort_link_to = %w(invisible ml-2 flex-none rounded text-gray-400) %>

                        <% th_first = DataTableDecorator.table_attrs.first %>
                        <% th_last = DataTableDecorator.table_attrs.last %>

                        <% ths = DataTableDecorator.table_attrs %>
                        <% sortable_ths = DataTableDecorator.sortable_table_headers_attrs %>

                        <% css_th = "px-3 py-3.5 text-sm text-gray-600 font-normal " %>
                        <% css_th_first = "py-3.5 pl-4 pr-3 text-sm text-gray-600 font-normal sm:pl-0" %>
                        <% css_th_last = "relative py-3.5 pl-3 pr-0 text-sm text-gray-600 font-normal" %>

                        <% DataTableDecorator.table_attrs.each_with_index do |th, index| %>
                          <% _th_css = css_th_first if (th == DataTableDecorator.table_attrs.first) %>
                          <% _th_css = css_th_last if (th == DataTableDecorator.table_attrs.last) %>
                          <% _th_css ||= css_th %>

                          <% th_is_sortable = th.in?(sortable_ths) %>
                          <% _th_css << " text-left" %>
                          <% _th_css << " whitespace-nowrap" if 13 <= th.length %>
                          <% _cheveron_css = th_is_sortable ? css_cheveron_not_active : css_cheveron_no_sort_link_to %>
                          <% content_for :table_header_content, flush: true do %>
                            <%= tag.span class: "group inline-flex" do %>
                              <%= tag.span th.to_s.humanize, class: class_names("font-semibold": th_is_sortable) %>
                              <%= tag.span class: _cheveron_css do %>
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                              <% end %>
                            <% end %>
                          <% end %>
                          <th scope="col" class="<%= _th_css %>" data-table-target="th">
                            <% if th_is_sortable %>
                              <% direction = ((params[:direction] == "asc") ? "desc" : "asc") %>
                              <%= link_to request.params.merge(sort: th, direction: direction), data: {
                                turbo_frame: "orders",
                                turbo_action: "advance"
                              }  do %>
                                <%= yield :table_header_content %>
                              <% end %>
                            <% else %>
                              <%= yield :table_header_content %>
                            <% end %>
                          </th>
                        <% end %>
                      </tr>
                      <!-- <tr>
                        <%# css_cheveron_active = "ml-2 flex-none rounded bg-gray-100 text-gray-900 group-hover:bg-gray-200" %>
                        <%# css_cheveron_not_active = "invisible ml-2 flex-none rounded text-gray-400 group-hover:visible group-focus:visible" %>
                        <%#= render partial: "/data_tables/table_elements/header", locals: {
                          css_th: css_th_first,
                          title: "Name",
                          sort_link_to: request.path,
                          active: false,
                        } %>
                        <%#= render partial: "/data_tables/table_elements/header", locals: {
                          css_th: css_th,
                          title: "Title",
                          sort_link_to: request.path,
                          active: true,
                        } %>
                        <%#= render partial: "/data_tables/table_elements/header", locals: {
                          css_th: css_th,
                          title: "Email",
                          sort_link_to: request.path,
                          active: false,
                        } %>
                        <%#= render partial: "/data_tables/table_elements/header", locals: {
                          css_th: css_th,
                          title: "Role",
                          sort_link_to: request.path,
                          active: false,
                        } %>
                        <%## last th %>
                        <th scope="col" class="relative py-3.5 pl-3 pr-0" data-table-target="th">
                          <span class="sr-only">Edit</span>
                        </th>
                      </tr> -->
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                      <%#= render partial: "/data_tables/table_elements/row" %>
                      <%#= render partial: "/data_tables/table_elements/row" %>
                      <%#= render partial: "/data_tables/table_elements/row" %>
                      <%#= render partial: "/data_tables/table_elements/row" %>
                      <%#= render partial: "/data_tables/table_elements/row" %>
                      <%# More people... %>
                      <%= render partial: "/data_tables/table_elements/row", collection: orders, as: :order %>
                    </tbody>
                  </table>
                  <%# end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
