<nav class="bg-gray-800">
  <% tmp_search_input_placeholder_text = "Search" %>
  <%= render partial: "layouts/stacked_shell/nav", locals:{
    search_input_placeholder_text: tmp_search_input_placeholder_text,
  } %>
</nav>

<% content_for :layout_header do %>
  <header class="flow-root py-10">
    <div id="page_header">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="w-full inline-flex flex-wrap justify-center sm:justify-between">
        <div class="w-full sm:w-auto">
          <h1 class="text-center sm:text-left">
            <div id="page_heading_title" class="text-3xl font-bold tracking-tight text-white">
              <%= yield :page_heading_title %>
            </div>
          </h1>
        </div>
        <div class="w-full sm:w-auto">
          <div class="text-center sm:text-left">
            <div id="page_heading_button">
              <%= yield :page_heading_button %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </header>
  <%= turbo_stream.update "page_heading_title", @page_heading_title unless content_for?(:page_heading_title) %>
<% end %>

<%= yield :layout_header %>

<div id="flashes">   <%# New flashes appended to div #flashes %>
  <%= render "shared/flash_messages" %>  <%# old flashes %>
</div>
