<nav id="shared-mobile-nav" data-controller="visibility" data-visibility-value-toggled="false" class="bg-white shadow">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex flex-shrink-0 items-center">
          <div class="h-8 w-auto">
            <% navbar_brand_url = user_signed_in? ? dashboard_path : root_path %>
            <%= link_to "Lightning Marine Services", navbar_brand_url, class:"text-gray-500 hover:text-gray-900 text-lg sm:text-xl lg:text-2xl inline-block h-8 w-auto" %>
          </div>
        </div>
      </div>
      <!-- Mobile menu button -->
      <!--
        Icon when menu is closed.
        Menu open: "hidden", Menu closed: "block"
      -->
      <!-- <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg> -->

      <!--
        Icon when menu is open.

        Menu open: "block", Menu closed: "hidden"
      -->
      <!-- <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg> -->
      <!-- <div class="-mr-2 flex items-center sm:hidden"> -->
      <div class="-mr-2 flex items-center">
        <button type="button"  data-action="visibility#toggleTargets" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div data-visibility-target="hideable" hidden id="mobile-menu">
    <div class="space-y-1 pt-2 pb-3">
      <% mobile_navigation_resource_css_classes = "block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-500 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-700" %>
      <% mobile_navigation_resource_css_classes_current = "block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700 " %>
      <% if user_signed_in? %>
        <%= link_to "Orders", orders_path, class: mobile_navigation_resource_css_classes_current if current_page?(orders_path) %>
        <%= link_to "Orders", orders_path, class: mobile_navigation_resource_css_classes if !current_page?(orders_path) %>

        <%= link_to "Ships", purchasers_path, class: mobile_navigation_resource_css_classes_current if current_page?(purchasers_path) %>
        <%= link_to "Ships", purchasers_path, class: mobile_navigation_resource_css_classes if !current_page?(purchasers_path) %>

        <%= link_to "Vendors", vendors_path, class: mobile_navigation_resource_css_classes_current if current_page?(vendors_path) %>
        <%= link_to "Vendors", vendors_path, class: mobile_navigation_resource_css_classes if !current_page?(vendors_path) %>
      <% end %>
    </div>
    <div class="border-t border-gray-200 pt-4 pb-3">
      <div class="flex items-center px-4">
        <% if user_signed_in? %>
          <!-- <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="ml-3">
            <div class="text-base font-medium text-gray-800">Tom Cook</div>
          </div> -->
          <div class="cursor-default text-md font-bold text-gray-500">
            Welcome <%= "#{current_user.email}" %>
          </div>
          <!-- <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
            <span class="sr-only">View notifications</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button> -->
        <% end %>
      </div>
      <div class="mt-3 space-y-1">
        <% if user_signed_in? %>
          <%= link_to "Dashboard", dashboard_path, class: mobile_navigation_resource_css_classes_current if current_page?(dashboard_path) %>
          <%= link_to "Dashboard", dashboard_path, class: mobile_navigation_resource_css_classes if !current_page?(dashboard_path) %>

          <%= link_to "Account Settings", edit_user_registration_path, class: mobile_navigation_resource_css_classes_current if current_page?(edit_user_registration_path) %>
          <%= link_to "Account Settings", edit_user_registration_path, class: mobile_navigation_resource_css_classes if !current_page?(edit_user_registration_path) %>

          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: mobile_navigation_resource_css_classes %>
        <% else %>
          <%= link_to "Home", root_path, class: mobile_navigation_resource_css_classes_current if current_page?(root_path) %>
          <%= link_to "Home", root_path, class: mobile_navigation_resource_css_classes if !current_page?(root_path) %>

          <%= link_to "Sign In", new_user_session_path, class: mobile_navigation_resource_css_classes_current if current_page?(new_user_session_path) %>
          <%= link_to "Sign In", new_user_session_path, class: mobile_navigation_resource_css_classes if !current_page?(new_user_session_path) %>
          <div class="-mt-6">
            <!-- placeholder to adjust extra padding on top -->
          </div>
        <% end %>

      </div>
    </div>
  </div>
</nav>
