<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

<%= render partial: "/searches/results/modal_content" %>


<div class="relative z-10" data-controller="turbo-modal" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20">
    <!--
      Command palette, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 scale-95"
        To: "opacity-100 scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 scale-100"
        To: "opacity-0 scale-95"
    -->
    <div class="mx-auto max-w-3xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
      <div class="relative">
        <div class="w-full mt-2">
          <div class="flex justify-between">
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ****  /searches/results/_modal_content.html.erb  **** %>
            <%# ****  /searches/results/_modal_content.html.erb  **** %>
            <%# ****  /searches/results/_modal_content.html.erb  **** %>
            <%# ******************************************************** %>
            <%# **** top_row_element  **** %>
            <%# **** top_row_element  **** %>
            <%# **** top_row_element  **** %>
            <%# **** top_row_element  **** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>
            <%# ******************************************************** %>



            <div id="top_row_container" class="w-full h-full">
              <div id="modal_search_bar_container" class="shadow-sm">
                <%= yield :search_bar %>
              </div>

              <div id="results_text_container" class="w-full h-full">
                <div class="ml-3 my-1 text-gray-700">
                <%= yield :results_text %>
              </div>

              </div>
            </div>

            <div class="mr-3">
              <button type="button"  data-action="turbo-modal#hideModal" class="inline-flex rounded-md bg-gray-100 p-1.5 text-gray-500 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-600 focus:ring-offset-2 focus:ring-offset-gray-50">
                <span class="sr-only">Dismiss</span>
                <svg class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>



      <div class="flex divide-x divide-gray-100">
        <%# Preview Visible: "sm:h-96" %>
        <div class="max-h-96 min-w-0 flex-auto scroll-py-4 overflow-y-auto px-6 py-4 sm:h-96">
          <%# hover:bg-gray-100 hover:bg-slate-100 %>
          <%# bg-gray-100 bg-slate-100 %>

          <!-- results -->
          <!-- results -->
          <!-- results -->
          <!-- results -->
          <!-- results -->
          <%# Results, show/hide based on command palette state. %>
          <ul class="-mx-2 text-sm text-gray-700" id="options" role="listbox">
            <!-- <li class="group flex cursor-default select-none items-center rounded-md p-2 bg-gray-100 bg-slate-100" id="option-1" role="option" tabindex="-1">
              <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="h-6 w-6 flex-none rounded-full">
              <span class="ml-3 flex-auto truncate">Tom Cook</span>
              <%# Not Active: "hidden" %>
              <svg class="ml-3 hidden h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </li> -->

            <%= turbo_frame_tag "results", target: '_top', data: { turbo_action: 'advance' } do %>

              <div id="search_results">
              </div>

              <%= turbo_frame_tag 'pagination',
                src: searches_path(
                  query: params[:query],
                  format: :turbo_stream
                ),
              loading: :lazy %>

            <% end %>

          </ul>
        </div>

        <%# Active item side-panel, show/hide based on active state %>
        <%# Active item side-panel, show/hide based on active state %>
        <%# Active item side-panel, show/hide based on active state %>
        <%# Active item side-panel, show/hide based on active state %>
        <!-- #active_result -->
        <!-- #active_result -->
        <!-- #active_result -->
        <!-- #active_result -->
        <!-- #active_result -->
        <div id="active_result" class="hidden h-96 w-1/2 flex-none flex-col divide-y divide-gray-100 overflow-y-auto sm:flex">
          <%#= yield :active_result %>
          <% if content_for?(:active_result) %>
            <%= yield :active_result %>
          <% else %>
            <%= yield :empty_state %>
          <% end %>
        </div>


        <%# Empty state, show/hide based on command palette state %>
        <%# Empty state, show/hide based on command palette state %>
        <%# Empty state, show/hide based on command palette state %>
        <!-- <div class="px-6 py-14 text-center text-sm sm:px-14">
          <svg class="mx-auto h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
          </svg>
          <p class="mt-4 font-semibold text-gray-900">No people found</p>
          <p class="mt-2 text-gray-500">We couldn’t find anything with that term. Please try again.</p>
        </div> -->
      </div>

      <%# Empty state, show/hide based on command palette state %>
      <!-- <div class="px-6 py-14 text-center text-sm sm:px-14">
        <svg class="mx-auto h-6 w-6 text-gray-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
        </svg>
        <p class="mt-4 font-semibold text-gray-900">No people found</p>
        <p class="mt-2 text-gray-500">We couldn’t find anything with that term. Please try again.</p>
      </div> -->

    </div>
  </div>
</div>
