<%= content_tag :div, data: { search_target: "result" }, class: "result", id: "#{dom_id order}" do -%>

  <% if local_assigns[:details] %>
    <div class="w-full min-h-full">
      <details class="bg-white rounded-md group hover:bg-gray-50 hover:ring-offset-4 hover:ring-4 hover:ring-slate-100 hover:cursor-default">
        <summary class="m-3">
          <!-- <div class="text-lg sm:text-md text-gray-800 inline-flex align-baseline">
            <div class="text-center sm:text-left">
              Order <%= order.id %>
            </div>
          </div> -->
          <div class="w-full sm:-ml-1.5 text-center sm:text-left">
            <div class="sm:flex sm:justify-between">
              <div class="sm:inline-flex">
                <div class="hidden sm:flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="align-baseline w-5 h-5">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="text-lg sm:text-md text-gray-800">
                  Order <%= order.id %>
                </div>
              </div>

              <div class="sm:inline-flex sm:mt-1 text-xs">
                <%#= content_tag :span, class: "hidden", id: "order-#{order.id}-possible-match" do -%>
                <%# end -%>
                <%= content_tag :span, nil, class: "hidden", id: "order-#{order.id}-possible-match" %>
              </div>

            </div>
          </div>



          <div class="font-semibold text-gray-900 mb-1 sm:flex sm:space-x-3">
            <div class="text-center sm:text-left">
              Ship:
              <%= link_to order.purchaser_name, order.purchaser, method: :get, target: '_top', class: "inline-block text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" %>
            </div>
            <div class="text-center sm:text-left">
              Vendor:
              <%= link_to order.vendor_name, order.vendor, method: :get, target: '_top', class: "inline-block text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" if authorized_internal_user? %>

              <%= content_tag(:p, order.vendor.name, class:"inline-block text-md font-normal hover:cursor-pointer") if !authorized_internal_user? %>
            </div>
          </div>

        </summary>
        <span id="" class="inline-block w-full border border-slate-100 bg-white">
          <%= turbo_frame_tag dom_id(order, :thumbnail), loading: :lazy, src: hovercard_order_path(order) do %>
            <span class="animate-pulse p-4">
              <span class="my-3">Loading...</span>
            </span>
          <% end %>
        </span>
      </details>
    </div>
  <% else %>
    <div class="bg-white w-full min-h-full rounded-md group hover:bg-gray-50  hover:ring-offset-4 hover:ring-4 hover:ring-slate-100 hover:cursor-default">
      <div class="w-full min-h-full ">
        <div class="hoverWrapper ">
          <div class="m-3">
            <span class="text-lg sm:text-md text-gray-800 inline-flex align-baseline text-center"> Order <%= order.id %></span>
            <div class="">
              <span class="font-semibold text-gray-900 mb-1">
                Ship:
                <%= link_to order.purchaser_name, order.purchaser, method: :get, target: '_top', class: "text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" %>
              </span>
              <span class="font-semibold text-gray-900 mb-1">
                Vendor:
                <%= link_to order.vendor_name, order.vendor, method: :get, target: '_top', class: "text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" if authorized_internal_user? %>

                <%= content_tag(:p, order.vendor.name, class:"text-md font-normal hover:cursor-pointer") if !authorized_internal_user? %>
              </span>
            </div>
          </div>
          <span id="hoverContent" class="inline-block h-full border border-slate-100 bg-white">
            <%= turbo_frame_tag dom_id(order, :thumbnail), loading: :lazy, src: hovercard_order_path(order) do %>
              <span class="animate-pulse p-4">
                <span class="my-3">Loading...</span>
              </span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end -%>
<!-- </div> -->
