<%= form_for @new_order, url: {action: "create"} do |f| %>
  <div class="field">
    <p class="text-3xl"> Ship </p>
    <% if @purchaser.present? %>
      <%= f.select :purchaser_id, options_for_select(Purchaser.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, :selected => params[:id] ), {}, class:'form-control' %>
    <% else %>
      <%= f.select :purchaser_id, Purchaser.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, {}, {class: "form-control"} %>
    <% end %>
  </div>

  <div class="field pb-2">
    <p class="text-3xl"> Vendor </p>
    <% if @vendor.present? %>
      <%= f.select :vendor_id, options_for_select(Vendor.all.order(:name).collect  { |vendor| [ vendor.name, vendor.id ] }, :selected => params[:id] ), {}, class:'form-control' %>
    <% else %>
      <%= f.select :vendor_id, Vendor.all.order(:name).collect  { |vendor| [ vendor.name, vendor.id ] }, {}, {class: "form-control"} %>
    <% end %>
  </div>

  <div class="container p-2">

    <div class="field pb-2">
      <p class="text-2xl"> Dept. </p>
      <%= f.text_field :dept, class: "form-control" %>
    </div>

    <div class="field pb-2">
      <p class="text-2xl"> PO# </p>
      <%= f.number_field :po_number, class: "form-control" %>
    </div>

    <div class="field pb-2">
      <p class="text-2xl"> Courrier </p>
      <%= f.text_field :courrier, class: "form-control" %>
    </div>

    <div class="field pb-2">
      <p class="text-2xl"> Date Recieved </p>
      <%= f.date_field :date_recieved, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    </div>


    <div class="field pb-2">
      <p class="text-2xl"> Date Delivered </p>
      <%= f.date_field :date_delivered, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    </div>
  </div>

  <p class="text-4xl font-semibold p-2"> Order Contents </p>

    <%= f.fields_for :order_content, @new_order.order_content do |p| %>

    <div class="field pb-2">
      <%= p.label'Boxes', class:"text-2xl" %>
      <%= p.number_field :box, class: 'form-control' %>
    </div>
    <div class="field pb-2">
      <%= p.label 'Crates', class:"text-2xl" %>
      <%= p.number_field :crate, class: 'form-control' %>
    </div>
    <div class="field pb-2">
      <%= p.label 'Pallets', class:"text-2xl" %>
      <%= p.number_field :pallet, class: 'form-control' %>
    </div>
    <div class="field pb-2">
      <%= p.label 'Other', class:"text-2xl" %>
      <%= p.number_field :other, class: 'form-control' %>
    </div>

    <div class="field pb-2">
      <%= p.label 'Description', class:"text-2xl" %>
      <%= p.text_area :other_description,rows: 3, class: 'form-control' %>
    </div>
  <% end %>

  <br>
  <div class="p-2">
    <div class="actions btn btn-outline-primary">
      <%= button_tag(type: 'submit') do %>
        Save
      <% end %>
    </div>
  </div>


<% end %>
