<% css_form_label = "inline-block align-middle text-sm font-medium leading-6" %>
<% css_form_text_field = "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
<div class="w-full">
  <%= form.fields_for :order_content, local_assigns[:order].order_content do |order_content_form| %>
    <div class="h-auto">
      <div class="max-w-full max-h-full">
        <div class="m-auto grid grid-cols-1 sm:grid-cols-3 gap-y-5 gap-x-3">
          <div class="col-span-1 sm:col-span-1">
            <div class="flex w-full">
              <div class="mt-1">
                <%= order_content_form.label :box, 'Boxes', class: css_form_label %>
              </div>
              <div class="w-full pl-3 sm:pl-1">
                <%= order_content_form.text_field :box, data: { controller: "number-field-input", action: "number-field-input#rejectLetters"}, class: css_form_text_field%>
              </div>
            </div>
          </div>
          <div class="col-span-1 sm:col-span-1">
            <div class="flex w-full">
              <div class="mt-1">
                <%= order_content_form.label :crate, 'Crates', class: css_form_label %>
              </div>
              <div class="w-full pl-3 sm:pl-1">
                <%= order_content_form.text_field :crate, data: { controller: "number-field-input", action: "number-field-input#rejectLetters"}, class: css_form_text_field%>
              </div>
            </div>
          </div>
          <div class="col-span-1 sm:col-span-1">
            <div class="flex w-full">
              <div class="mt-1">
                <%= order_content_form.label :pallet, 'Pallets', class: css_form_label %>
              </div>
              <div class="w-full pl-3 sm:pl-1">
                <%= order_content_form.text_field :pallet, data: { controller: "number-field-input", action: "number-field-input#rejectLetters"}, class: css_form_text_field%>
              </div>
            </div>
          </div>
          <div class="col-span-1 sm:col-span-3">
            <%= order_content_form.label :other_description, "Description", class: css_form_label %>
            <div class="mt-1">
              <%= order_content_form.text_area :other_description, rows: 3, class: "block w-full rounded-md border-0 shadow-sm placeholder:text-gray-400 sm:py-1.5 sm:text-sm sm:leading-6 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
            </div>
            <%= content_tag :p, "Write a few details about the order.", class: "mt-2 text-sm text-gray-500" %>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 shadow">
      <div class="block hover:cursor-default">
        <div class="w-full relative">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div class="relative flex justify-center">
            <span class="bg-white px-2 text-sm text-gray-400">Packaging materials</span>
          </div>
        </div>
      </div>
      <div class="mt-3 bg-gray-50 m-auto w-full">
        <fieldset id="packaging_materials">
          <div class="mx-auto my-3">
            <%= render partial: "/order_contents/packaging_materials/packaging_material", collection: order_content_form.object.packaging_materials, locals: {
              form: order_content_form,
              order_content: order_content_form.object,
            } %>
          </div>
          <div class="mt-3 bg-white text-center">
            <%= button_tag "Add a packaging material", type: "button", class: "btn btn_outline_indigo", data: { action: "render-response#getPackagingMaterialPartial" } %>
          </div>
        </fieldset>
      </div>
    </div>
  <% end %>
</div>
