<div id="<%= dom_id order %>" class="bg-white hover:bg-gray-50 rounded-md shadow-sm mb-5 hover:cursor-default">

  <span class="hoverWrapper -mx-auto">
    <div class="m-3 inline-block w-full">
      <span class="text-lg sm:text-md text-gray-800 inline-flex align-baseline text-center"> Order <%= order.id %></span>
      <div class="ml-5">
        <div class="font-semibold text-gray-900 mb-1">
          Ship:
          <%= link_to order.purchaser_name, order.purchaser, method: :get, target: '_top', class: "text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" %>
        </div>
        <div class="font-semibold text-gray-900 mb-1">
          Vendor:
          <%= link_to order.vendor_name, order.vendor, method: :get, target: '_top', class: "text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" %>
        </div>
      </div>
    </div>

    <div id="hoverContent" class="-mt-3 border border-slate-100 bg-white m-3 shadow-lg">
      <%= turbo_frame_tag dom_id(order, :thumbnail), loading: :lazy, src: hovercard_order_path(order) do %>
        <span class="animate-pulse p-4">
          <span class="my-3">Loading...</span>
        </span>
      <% end %>
    </div>
  </span>

</div>
