<%= form_for @order do |f| %>

  <div class="field">
    <p class="text-3xl"> Ship </p>
    <%= f.select :purchaser_id, Purchaser.all.shuffle.collect  { |ship| [ ship.name, ship.id ] }, {}, {class: "form-control"} %>
  </div>



  <div class="field pb-2">
    <p class="text-3xl"> Vendor </p>
    <%= f.select :vendor_id, Vendor.all.shuffle.collect  { |vendor| [ vendor.name, vendor.id ] }, {}, {class: "form-control"} %>
  </div>

  <div class="container p-2">

    <div class="field pb-2">
      <p class="text-2xl"> Dept. </p>
      <%= f.text_field :dept, class: "form-control" %>
    </div>

    <div class="field pb-2">
      <p class="text-2xl"> PO# </p>
      <%= f.number_field :po_number, value: Faker::IDNumber.valid_south_african_id_number[1..5], class: "form-control" %>
    </div>


    <div class="field pb-2">
      <p class="text-2xl"> Courrier </p>
      <%= f.text_field :courrier, value: ['Fedex', 'UPS', 'USPS', 'DHL'].sample, class: "form-control" %>
    </div>


    <div class="field pb-2">
      <p class="text-2xl"> Date Recieved </p>
      <%= f.date_field :date_recieved, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    </div>


    <div class="field pb-2">
      <p class="text-2xl"> Date Delivered </p>
      <%= f.date_field :date_delivered, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
    </div>
  </div>

  <h1> Order Contents</h1>
    <%= f.fields_for :order_content, @order.order_content do |p| %>
    <%= p.label'Boxes' %>
    <%= p.number_field :box, value: rand(1..10), class: 'form-control' %>

    <%= p.label 'Crates' %>
    <%= p.number_field :crate, value: rand(1..10), class: 'form-control' %>

    <%= p.label 'Pallets' %>
    <%= p.number_field :pallet, value: rand(1..10), class: 'form-control' %>

    <%= p.label 'Other' %>
    <%= p.number_field :other, value: rand(1..10), class: 'form-control' %>

    <% rand_desc_length = rand(10..100) %>
    <% rand_desc = Faker::Lorem.sentence(word_count: rand(10..100)) %>

    <%= p.label 'Description' %>
    <%= p.text_area :other_description,rows: 3, value: rand_desc, class: 'form-control' %>

  <% end %>

  <br>
  <div class="p-2">
    <div class="actions btn btn-outline-primary">
      <%= button_tag(type: 'submit') do %>
        Save
      <% end %>
    </div>
  </div>


<% end %>
