<%= form_with model: order, id: "turbo_form" do |form| %>

  <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">

    <% if form.object.errors.any? %>
      <div class="rounded-md bg-red-100 p-4">
        <div class="flex">
          <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-3">
            <h3 class="text-sm font-medium text-red-800">
              There was <%= pluralize(form.object.errors.count, "error") %> with your submission
            </h3>
            <div class="mt-2 text-sm text-red-700">
              <ul role="list" class="list-disc space-y-1 pl-5">
                <% form.object.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <h3 class="text-base font-semibold leading-6 text-gray-900">New Order</h3>
    <p class="mt-1 text-sm text-gray-500">Use a permanent address where you can receive mail.</p>

    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <%= form.label :purchaser, "Ship", class:" text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.select :purchaser_id, Purchaser.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, {}, {class: " w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= form.label :vendor, "Vendor", class:" text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.select :vendor_id, Vendor.all.order(:name).collect  { |vendor| [ vendor.name, vendor.id ] }, {}, {class: " w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
        </div>
      </div>
      <div class="sm:col-span-6">
        <%= form.label :dept, class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :dept, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="sm:col-span-6">
        <%= form.label :po_number, class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :po_number, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="sm:col-span-6">
        <%= form.label :tracking_number, class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :tracking_number, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="sm:col-span-6">
        <%= form.label :courrier, class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :courrier, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <%= fields_for :order_content, order.order_content do |order_content_form| %>

        <!-- <%# if order_content_form.object.nil? %>
        <div class="sm:col-span-6 bg-red-100 text-red-400 text-xl p-4">
          <%#= order_content_form.object.inspect %>
        </div>
        <%# else %>

        <div class="sm:col-span-6 bg-green-100 text-green-400 text-xl p-4">
          <%#= order_content_form.object.inspect %>
        </div>
        <%# end %> -->

        <div class="sm:col-span-6">
          <%= order_content_form.label 'Boxes', class:"col-span-1 text-sm font-medium text-gray-900" %>
          <%= order_content_form.text_field :box, class: 'col-span-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>

          <%= order_content_form.label 'Crates', class:"col-span-1 text-sm font-medium text-gray-900" %>
          <%= order_content_form.text_field :crate, class: 'col-span-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
        </div>

        <div class="sm:col-span-6">
          <%= order_content_form.label 'Pallets', class:"col-span-1 text-sm font-medium text-gray-900" %>
          <%= order_content_form.text_field :pallet, class: 'col-span-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>

          <%= order_content_form.label 'Other', class:"col-span-1 text-sm font-medium text-gray-900" %>
          <%= order_content_form.text_field :other, class: 'col-span-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
        </div>

        <div class="sm:col-span-6">
          <%= order_content_form.label :other_description, class:"block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= order_content_form.text_area :other_description, rows: 3, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

      <% end %>

      <div class="sm:col-span-3">
        <%= form.label :date_recieved, class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.date_field :date_recieved, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= form.label :date_delivered, class:"block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.date_field :date_delivered, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
        </div>
      </div>
    </div>

    <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">

      <%= form.submit 'Save', class: 'inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 sm:col-start-2' %>


      <%= link_to request.referer, data: {turbo_method: :get} do %>
        <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:col-start-1 sm:mt-0">Cancel</button>
      <% end %>

    </div>
  </div>
<% end %>
