<% content_for :title, "All Orders" %>



    <div class="card p-4">
      <div class="p-2">

        <%= link_to all_orders_path%>

        <h1> Sort Table Logic</h1>

          <%= SortTableLogic.get_resource(controller_name) %>
          <br>

          <%= SortTableLogic.th_attr_names_arr %>
          <br>

          <%= SortTableLogic.th_attr_names_arr %>
          <br>




          <!-- Table Headers -->
          <% SortTableLogic.th_attr_names_arr.each do |resource_attr_name| %>

            <th class="py-8">
              <%= link_to "#{resource_attr_name.to_s.humanize}", :sort => all_orders_path(sort_column: resource_attr_name) %>
            </th>

          <% end %>


      </div>
    </div>







  <table class="bg-white table table-striped border border-2">

    <thead>
      <tr>
        <!-- <th class="py-8"> <%#= link_to "Order ID", all_orders_path(order_attr: 'id', sort_direction: sort_direction) %> </th> -->

        <!-- <th class="py-8"> <%#= link_to "Ship Name", all_orders_path(order_attr: 'purchaser_name', sort_direction: sort_direction) %> </th> -->

        <!-- <th class="py-8"> <%#= link_to "Vendor Name", all_orders_path(order_attr: 'vendor_name', sort_direction: sort_direction) %> </th> -->

        <!-- <th class="py-8 "> <%#= link_to "po_number", sort_direction: sort_direction %> </th> -->

        <!-- <th class="py-8"> ID </th>
        <th class="py-8"> Purchaser </th>
        <th class="py-8"> Vendor </th>
        <th class="py-8"> PO# </th> -->

        <!-- <th class="py-8 "> <%#= sortable "po_number" %> </th>
        <th class="py-8 "> <%#= sortable "date_recieved" %> </th>
        <th class="py-8 "> <%#= sortable "courrier" %> </th>
        <th class="py-8 "> <%#= sortable "date_delivered" %> </th>
        <th class="py-8 "> <%#= sortable "id", "Content"  %> </th> -->

        <% SortTableLogic.th_attr_names_arr.each do |resource_attr_name| %>
          <th class="py-8">

            <%= link_to "#{resource_attr_name.to_s.humanize}", all_orders_path(sort_column: "#{resource_attr_name}", sort_direction: sort_direction) %>

          </th>
        <% end %>


      </tr>
    </thead>

    <tbody>


      <% @orders.each do |order| %>
      <tr>
            <td class="py-8 align-middle font-light">
              <%= order.id %>
            </td>

            <td class="py-8 align-middle font-light">
              <%= link_to "#{order.purchaser.name}", purchaser_path(order.purchaser) %>
            </td>

            <td class="py-8 align-middle font-light">
              <%= link_to "#{order.vendor.name}", vendor_path(order.vendor) %>
            </td>

            <td class="py-8 align-middle font-light">
              <%= order.po_number ||= "n/a" %>
            </td>
      <% end %>
    </tr>

    </tbody>
  </table>
