<% content_for :page_heading_button do %>
  <% if request.referer.nil? %>
    <%= link_to order_path(@order) do %>
      <span class="scale-90 relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-bold text-white transition duration-300 ease-out border-2 border-gray-200 rounded-full shadow-md group">
      <span class="absolute inset-0 flex items-center justify-center w-full h-full text-gray-900 duration-300 -translate-x-full bg-gray-100 group-hover:translate-x-0 ease">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
      </span>
      <span class="absolute flex items-center justify-center w-full h-full text-gray-200 transition-all duration-300 transform group-hover:translate-x-full ease">View order</span>
      <span class="relative invisible">View order</span>
      </span>
    <% end %>

  <% else %>

    <%= link_to :back do %>
      <span class="scale-90 relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-bold text-white transition duration-300 ease-out border-2 border-gray-200 rounded-full shadow-md group">
      <span class="absolute inset-0 flex items-center justify-center w-full h-full text-gray-900 duration-300 -translate-x-full bg-gray-100 group-hover:translate-x-0 ease">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
      </span>
      <span class="absolute flex items-center justify-center w-full h-full text-gray-200 transition-all duration-300 transform group-hover:translate-x-full ease">Back</span>
      <span class="relative invisible">Back</span>
      </span>
    <% end %>

  <% end %>
<% end %>

<section>
  <div class="flex justify-center sm:justify-start">
    <div class="flex-wrap text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>
      <div class="text-gray-900 font-medium"> Editing Order <%= @order.id %> </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="rounded-md bg-white">
      <div class="flex-1 mt-4 md:mt-6 pb-8">
        <div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-8">

          <%= form_with model: @order, id: "order_form" do |form| %>
            <div class="space-y-8 divide-y divide-gray-200">

              <% if @order.errors.any? %>
                <div data-controller="notification" data-notification-delay-value="5000" class="rounded-md bg-red-100 p-4" id="msg-container">
                  <div class="flex justify-between text-sm font-medium ">
                    <div class="text-red-800">
                      There was <%= pluralize(@order.errors.count, "error") %> with your submission
                    </div>
                    <div class="ml-4 flex flex-shrink-0">
                      <button type="button" data-action="notification#hide" class="inline-flex rounded-md text-red-800 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
                        <span class="sr-only">Close</span>
                        <svg class="h-5 w-5 text-red-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="mt-2 text-sm text-red-700">
                    <ul role="list" class="list-disc space-y-1 ml-5">
                      <% @order.errors.each do |error| %>
                        <li><%= error.full_message %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>

              <div class="space-y-8 divide-y divide-gray-200">
                <div>
                  <div class="pt-3">
                    <div class="flex justify-between">
                      <div>
                        <h3 class="text-base font-semibold leading-6 text-gray-900">Order Form</h3>
                        <p class="mt-1 text-sm text-gray-500">Add information about the order below.</p>
                      </div>
                      <div>

                      <% if current_user_is_admin_or_staff? && !@order.new_record? %>
                        <%= button_to "Delete", @order, method: :delete, data: {turbo: false }, class:" inline-flex items-center rounded border border-transparent bg-red-100 px-2.5 py-1.5 text-xs font-medium text-red-700 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2" %>
                      <% end %>

                      </div>
                    </div>
                  </div>



                  <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                      <%= form.label 'Ship', class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :purchaser do %>
                          <%= form.select :purchaser_id, Purchaser.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, {}, { class: "block w-full hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
                        <% end %>
                      </div>
                    </div>

                    <div class="sm:col-span-3">
                      <%= form.label 'Vendor', class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :vendor do %>
                          <%= form.select :vendor_id, Vendor.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, {}, { class: "block w-full hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
                        <% end %>
                      </div>
                    </div>

                    <div class="sm:col-span-6">
                      <%= form.label :dept, class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :dept do %>
                          <%= form.text_field :dept, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="sm:col-span-6">
                      <%= form.label :po_number, class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :po_number do %>
                          <%= form.text_field :po_number, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="sm:col-span-6">
                      <%= form.label :courrier, class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :courrier do %>
                          <%= form.text_field :courrier, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                        <% end %>
                      </div>
                    </div>


                    <div class="sm:col-span-3">
                      <%= form.label :date_recieved, class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :date_recieved do %>
                          <%= form.date_field :date_recieved, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class:"block w-full hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="sm:col-span-3">
                      <%= form.label :date_delivered, class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :date_delivered do %>
                          <%= form.date_field :date_delivered, as: :date, value: form.object.try(:strftime,"%m/%d/%Y"), class:"block w-full hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                        <% end %>
                      </div>
                    </div>


                    <div class="sm:col-span-6">
                      <%= form.label :tracking_number, class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :tracking_number do %>
                          <%= form.text_field :tracking_number, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
                        <% end %>
                      </div>
                    </div>

                    <div class="sm:col-span-6">
                      <%= form.label :images, "Attachments", class:"block text-sm font-medium leading-6 text-gray-900" %>
                      <div class="mt-2">
                        <%= render "inline_fields", form: form, attribute: :images do %>
                        <div class="p-3 w-full rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                          <div class="flex justify-center ">
                            <div class="space-y-1 text-center">
                              <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                              <div class="flex text-sm text-gray-600">
                                <label for="order_images" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                                  <span>Click here to upload an attachment</span>
                                  <%= form.file_field :images, multiple: true, class: 'hidden' %>
                                </label>
                              </div>
                              <p class="text-xs text-gray-500">Accepts PNG, JPG, JPEG</p>
                            </div>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div>

                    <div class="inline-flex sm:col-span-6 -mb-6 hover:cursor-default">
                      <div class="my-3 w-full relative">
                        <div class="absolute inset-0 flex items-center" aria-hidden="true">
                          <div class="w-full border-t border-gray-200"></div>
                        </div>
                        <div class="relative flex justify-center">
                          <span class="bg-white px-2 text-sm text-gray-400">Order Content Details</span>
                        </div>
                      </div>
                    </div>
                    <div class="sm:col-span-6 ml-2 mr-3">
                      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">

                      <%= form.fields_for :order_content, @order.order_content do |p| %>

                        <div class="sm:col-span-2">
                          <div class="flex">
                            <%= p.label 'Boxes', class:"col-span-1 text-sm font-medium text-gray-900  m-auto" %>
                            <div class="ml-3 w-full">
                              <%= p.text_field :box, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                            </div>
                          </div>
                        </div>
                        <div class="sm:col-span-2">
                          <div class="flex">
                            <%= p.label 'Crates', class:"col-span-1 text-sm font-medium text-gray-900  m-auto" %>
                            <div class="ml-3 w-full">
                              <%= p.text_field :crate, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                            </div>
                          </div>
                        </div>
                        <div class="sm:col-span-2">
                          <div class="flex">
                            <%= p.label 'Pallets', class:"col-span-1 text-sm font-medium text-gray-900  m-auto" %>
                            <div class="ml-3 w-full">
                              <%= p.text_field :pallet, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
                            </div>
                          </div>
                        </div>
                        <div class="sm:col-span-6">
                          <%= p.label :other_description, "Description", class:"block text-sm font-medium leading-6 text-gray-900" %>
                          <div class="mt-2">
                            <%= p.text_area :other_description, rows: 3, class: "block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:py-1.5 sm:text-sm sm:leading-6" %>
                          </div>
                          <p class="mt-2 text-sm text-gray-500">Write a few details about the order.</p>
                        </div>

                      <% end %>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="pt-5">
                <div class="flex justify-end">
                  <%#= link_to 'Back', :back, class:'rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50' %>

                  <%#= link_to 'Cancel', request.referer, class:'rounded-md bg-white py-2 px-3 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50' %>

                  <%= form.submit 'Save', class: 'inline-flex hover:cursor-pointer justify-center rounded-md bg-indigo-600 py-2 px-5 text-md font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>

                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</section>

<% if request.variant == [:turbo_frame]  %>
  <%= turbo_frame_tag :modal do %>

    <% content_for :edit_order_modal_title, flush: true do %>
      <%= link_to "Editing Order #{@order.id}", edit_order_path(@order), target: "_top", class:"font-medium underline text-indigo-600 hover:text-indigo-800 hover:cursor-pointer" %>
    <% end %>

    <div data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">
      <%= render "/layouts/stacked_shell/modal", modal_title: yield(:edit_order_modal_title) do %>
        <%= render '/orders/modal_form', order: @order %>
      <% end %>
    </div>

  <% end %>
<% end %>
