<%= turbo_frame_tag dom_id(@order, :thumbnail) do %>
  <div class="grid grid-cols-2 space-3">
    <div class="p-2 m-1 rounded-md hover:bg-gray-50">
      <div class="mb-1">
        <div class="text-sm font-medium text-gray-600">
          PO/Tracking Number
        </div>
        <div class="text-xs font-medium text-gray-500">
            <%= @order.po_number.blank? ? 'n/a' : @order.po_number %>
        </div>
      </div>
    </div>
    <!--
    <%# Tracking Number %>
    <div class="p-2 m-1 rounded-md hover:bg-gray-50">
      <div class="mb-1">
        <div class="text-sm font-medium text-gray-600">
          Tracking Number:
        </div>
        <div class="text-xs font-medium text-gray-500">
            <%= @order.tracking_number.blank? ? 'n/a' : @order.tracking_number %>
        </div>
      </div>
    </div>
    -->
    <div class="p-2 m-1 rounded-md hover:bg-gray-50">
      <div class="mb-1">
        <div class="text-sm font-medium text-gray-600">
          Date Recieved:
        </div>
        <div class="text-xs font-medium text-gray-500">
            <%= @order.try(:date_recieved) ? @order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>
        </div>
      </div>
    </div>
    <div class="p-2 m-1 rounded-md hover:bg-gray-50">
      <div class="mb-1">
        <div class="text-sm font-medium text-gray-600">
          Date Delivered:
        </div>
        <div class="text-xs font-medium text-gray-500">
            <%= @order.try(:date_delivered) ? @order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>
        </div>
      </div>
    </div>
    <div class="p-2 m-1 rounded-md hover:bg-gray-50">
      <div class="mb-1">
        <div class="text-sm font-medium text-gray-600">
          Courrier:
        </div>
        <div class="text-xs font-medium text-gray-500">
            <%= @order.courrier.blank? ? 'n/a' : @order.courrier %>
        </div>
      </div>
    </div>
    <div class="p-2 m-1 rounded-md hover:bg-gray-50">
      <div class="mb-1">
        <div class="text-sm font-medium text-gray-600">
          Dept:
        </div>
        <div class="text-xs font-medium text-gray-500">
            <%= @order.dept.blank? ? 'n/a' : @order.dept %>
        </div>
      </div>
    </div>
  </div>
  <% if Current.request_variant == :turbo_frame  %>
    <div class="w-full bg-gray-50 py-3">
      <div class="text-center ">
        <%= link_to "View order", @order, method: :get, target: '_top', class: "hover:bg-gray-50 text-md font-medium text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" %>
      </div>
    </div>
  <% end %>
<% end %>
