<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_edit", locals: {
    link_to_text: "Edit #{@scoped_resource.class.display_name.downcase}",
    link_to_path: edit_polymorphic_path(@scoped_resource),
  } if authorized_internal_user? && scoped_resource? %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
    with_turbo_modal: true,
    link_to_path: ({ controller: "orders", action: "new" }),
    link_to_text: "Add order",
  } if authorized_internal_user? %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: dashboard_path,
    fallback_location_text: "Dashboard",
  } unless authorized_internal_user? %>
<% end %>
<%= render partial: 'orders/page_heading_card' %>
<% table_section_heading_title = "#{scoped_status.humanize}#{scoped_resource? ? " #{@scoped_resource.class.display_name.downcase} " : " "}orders" %>
<% table_section_heading_description = "orders with the following statuses: #{status_scopes_names(status_scope: scoped_status)}" %>
<%= render partial: '/data_tables/section_heading', locals: {table_section_heading_title: table_section_heading_title, table_section_heading_description: table_section_heading_description} %>
<section>
  <% x_axis_padding = "px-4 sm:px-6 lg:px-8" %>
  <div class="rounded-md bg-white">
    <div class="pt-7">
      <%= tag.div id: 'table-container', class: "inline-block max-w-full rounded-md bg-white pb-8" do %>
        <%= tag.div class: "w-full mb-5 #{x_axis_padding}" do %>
          <div data-controller="reveal" data-reveal-hidden-class="hidden">
            <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
              <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <%= tag.h3 "#{scoped_status.humanize} orders", class: "ml-2 mt-2 text-base font-semibold leading-6 text-gray-900" %>
                <%= tag.p "orders with the following statuses: #{status_scopes_names(status_scope: scoped_status)}", class: "ml-2 mt-1 truncate text-sm text-gray-500" %>
              </div>
              <div class="mt-3 sm:ml-4 sm:mt-0">
                <div class="flex">
                  <button type="button" data-action="click->reveal#toggle" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-medium ring-1 ring-inset ring-gray-300 rounded-md shadow-sm hover:bg-gray-50">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 w-6 h-6 text-gray-400">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h7.5c.621 0 1.125-.504 1.125-1.125m-9.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-7.5A1.125 1.125 0 0 1 12 18.375m9.75-12.75c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125m19.5 0v1.5c0 .621-.504 1.125-1.125 1.125M2.25 5.625v1.5c0 .621.504 1.125 1.125 1.125m0 0h17.25m-17.25 0h7.5c.621 0 1.125.504 1.125 1.125M3.375 8.25c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m17.25-3.75h-7.5c-.621 0-1.125.504-1.125 1.125m8.625-1.125c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M12 10.875v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125M13.125 12h7.5m-7.5 0c-.621 0-1.125.504-1.125 1.125M20.625 12c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h7.5M12 14.625v-1.5m0 1.5c0 .621-.504 1.125-1.125 1.125M12 14.625c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m0 1.5v-1.5m0 0c0-.621.504-1.125 1.125-1.125m0 0h7.5" />
                    </svg>
                    <%= tag.span 'Table options', class: "whitespace-nowrap " %>
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div data-reveal-target="item" class="hidden mt-5 rounded-lg border-2 border-slate-100">
              <%= render partial: "/data_tables/table_options" %>
            </div>
          </div>
        <% end %>
        <%= tag.div class: "inline-block w-full" do %>
          <%= tag.div class: x_axis_padding do %>
            <section>
              <%= turbo_frame_tag "orders" do %>
                <%= tag.div class: "mb-3 flex justify-end space-x-3" do %>
                  <% _filename_str = "#{@scoped_resource.name}" if scoped_resource? %>
                  <% if (scoped_status? && status_param_valid?) %>
                    <% _filename_str_orders = "#{scoped_status.capitalize} Orders" %>
                  <% end %>
                  <% _filename_str_orders ||= "Orders" %>
                  <% if _filename_str %>
                    <% _filename_str = "#{_filename_str} #{_filename_str_orders}" %>
                  <% else %>
                    <% _filename_str = "#{_filename_str_orders}" %>
                  <% end %>
                  <% _filename = "#{_filename_str} #{format_datetime_now_str.parameterize}" %>
                  <% export_param_format = scoped_status %>
                  <% export_param_exportable_class = scoped_resource? ? @resource_class_scoped : "Order" %>
                  <% export_param_exportable_id = scoped_resource? ? @scoped_resource.id : nil %>
                <% end %>
                <%= render partial: "/data_tables/pagy_nav", locals: { pagy: @pagy } %>
                <%= tag.div class: "overflow-x-auto rounded-lg bg-white #{x_axis_padding} shadow border border-slate-50" do %>
                  <%= render partial: "/data_tables/data_table", locals: { orders: @orders } %>
                <% end %>
                <%= render partial: "/data_tables/pagy_nav", locals: { pagy: @pagy } %>
              <% end %>
            </section>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
