<% content_for :page_heading_button do %>
  <%= render partial: '/orders/page_heading_button' %>
<% end %>
<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "Active Orders" %>
  <% page_heading_card_partial_path = 'purchasers/page_heading_card' if "purchasers".in? request.controller_class.to_s.downcase %>
  <% page_heading_card_partial_path = 'vendors/page_heading_card' if "vendors".in? request.controller_class.to_s.downcase %>
  <% page_heading_card_partial_path ||= 'orders/page_heading_card' %>

  <%= render partial: page_heading_card_partial_path %>
<% end %>
<%#= render partial: "/orders/table", locals: {
  table_turbo_frame_tag: "orders",
  orders: @orders,
  pagy: @pagy,
  table_section_heading_title: "Active Orders",
  table_section_heading_description: "All active orders that have not yet been completed.",
  table_title: "Active Orders Table",
} %>
<section>
  <% x_axis_padding = "px-4 sm:px-6 lg:px-8" %>
  <div class="rounded-md bg-white">
    <div class="pt-7">
      <%= tag.div id: 'table-container', class: "inline-block max-w-full rounded-md bg-white pb-8" do %>
        <%= tag.div class: "w-full mb-5 #{x_axis_padding}" do %>
          <div data-controller="reveal" data-reveal-hidden-class="hidden">
            <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
              <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
                <h3 class="ml-2 mt-2 text-base font-semibold leading-6 text-gray-900">Active Orders</h3>
                <p class="ml-2 mt-1 truncate text-sm text-gray-500">all orders that have not yet been completed.</p>
              </div>
              <div class="mt-3 sm:ml-4 sm:mt-0">
                <label for="mobile-search-orders" class="sr-only">Search</label>
                <label for="desktop-search-orders" class="sr-only">Search</label>
                <div class="flex rounded-md shadow-sm">
                  <div class="relative flex-grow focus-within:z-10">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                      <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                      </svg>
                    </div>
                    <input type="text" name="mobile-search-orders" id="mobile-search-orders" class="block w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:hidden" placeholder="Search">
                    <input type="text" name="desktop-search-orders" id="desktop-search-orders" class="hidden w-full rounded-none rounded-l-md border-0 py-1.5 pl-10 text-sm leading-6 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:block" placeholder="Search orders">
                  </div>
                  <button type="button" data-action="click->reveal#toggle" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-medium ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                    <svg class="-ml-0.5 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M2 3.75A.75.75 0 012.75 3h11.5a.75.75 0 010 1.5H2.75A.75.75 0 012 3.75zM2 7.5a.75.75 0 01.75-.75h6.365a.75.75 0 010 1.5H2.75A.75.75 0 012 7.5zM14 7a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02l-1.95-2.1v6.59a.75.75 0 01-1.5 0V9.66l-1.95 2.1a.75.75 0 11-1.1-1.02l3.25-3.5A.75.75 0 0114 7zM2 11.25a.75.75 0 01.75-.75H7A.75.75 0 017 12H2.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
                    </svg>
                    <%= tag.span 'options', class: "whitespace-nowrap " %>
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div data-reveal-target="item" class="hidden mt-5 rounded-lg border-2 border-slate-100">
              <%= tag.section do %>
                <%= tag.h2 'Options', class: "m-3" %>
                <%= tag.div class: "m-3 block" do %>
                  <%= tag.div class: "my-3" do %>
                    <%= tag.div class: "bg-gray-50 rounded-md p-3 mb-3 md:mb-5" do %>
                      <%= render layout:"/data_tables/option", locals:{ title: 'Orders per page', description: 'Select the amount of orders you would like to display on table below.' } do %>
                        <%= render partial: "/data_tables/amount_per_page" %>
                      <% end %>
                    <% end %>

                    <!-- <div class="rounded-lg bg-gray-50 shadow-sm ring-1 ring-gray-900/5"> -->
                    <%= tag.div class: "rounded-lg bg-gray-50 shadow-sm p-3 mb-3 md:mb-5" do %>
                      <%= render layout:"/data_tables/option", locals:{
                        title: 'Orders filters',
                        description: 'Select one or more filters below to display to filter for matching orders.',
                      } do %>
                        <%= render partial: "/data_tables/filters" %>
                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= tag.div class: "block mb-5 h-full w-full #{x_axis_padding}" do %>
          <%= tag.div class: "" do %>
            <% export_orders_form_default_filename = "" %>
            <% (export_orders_form_default_filename << @scoped_resource.name) if scoped_resource? %>
            <% export_orders_form_default_filename << " " if scoped_resource? %>
            <% export_orders_form_default_filename << scoped_status.humanize  %>
            <% export_orders_form_default_filename << " " if scoped_status? %>
            <% export_orders_form_default_filename << "Orders" %>
            <% export_orders_form_default_filename << " " %>
            <% export_orders_form_default_filename = export_orders_form_default_filename.gsub("-", "_") %>
            <% export_orders_form_default_filename << format_datetime_now_str.gsub("/", "-") %>
            <% export_orders_form_default_filename = export_orders_form_default_filename.gsub(" ", "_") %>
            <%= render partial: "/exports/dropdown_form", locals: {
              # export_orders_form_url: export_orders_form_url,
              export_orders_form_default_filename: export_orders_form_default_filename,
              scoped_resource: @scoped_resource,
            } %>
          <% end %>
        <% end %>
        <%= tag.div class: "inline-block w-full" do %>
          <%= tag.div class: x_axis_padding do %>
            <section>
              <%= turbo_frame_tag "orders" do %>
                <%= tag.div class: "mb-3 flex justify-end space-x-3" do %>
                <%# TODO - refactor with Orders::ResourceScoped methods %>
                  <% _filename_str = "#{@purchaser.name}" if purchaser? %>
                  <% _filename_str = "#{@vendor.name}" if vendor? %>
                  <% if (scoped_status? && status_param_valid?) %>
                    <% _filename_str_orders = "#{scoped_status.capitalize} Orders" %>
                  <% else %>
                    <% _filename_str_orders = "Orders" %>
                  <% end %>
                  <% if _filename_str %>
                    <% _filename_str = "#{_filename_str} #{_filename_str_orders}" %>
                  <% else %>
                    <% _filename_str = "#{_filename_str_orders}" %>
                  <% end %>
                  <% _filename = "#{_filename_str} #{format_datetime_now_str.parameterize}" %>

                  <% export_param_format = scoped_status %>
                  <% export_param_exportable_class = scoped_resource? ? @resource_class_scoped : "Order" %>
                  <% export_param_exportable_id = scoped_resource? ? @scoped_resource.id : nil %>
                  <%#= button_to "export to Excel",
                    export_orders_path(format: 'xls'),
                    action: "export",
                    params: {
                      export: {
                        format: export_param_format,
                        filename: "#{_filename}.xls",
                        exportable_class: export_param_exportable_class,
                        exportable_id: export_param_exportable_id,
                        export_class: "Order",
                        export_ids: @exportables.pluck(:id),
                      }
                    },
                    method: :get,
                    class: "inline-flex btn btn_indigo" %>

                  <%#= button_to "export to CSV",
                    export_orders_path(format: 'csv'),
                    action: "export",
                    params: {
                      export: {
                        format: scoped_status,
                        filename: "#{_filename}.csv",
                        exportable_class: export_param_exportable_class,
                        exportable_id: export_param_exportable_id,
                        export_class: "Order",
                        export_ids: @exportables.pluck(:id),
                      }
                    },
                    method: :get,
                    class: "inline-flex btn btn_indigo" %>
                    <%#= link_to "export orders xsls", export_orders_path(export: { order_ids: @orders.ids}, format: :xsls), action: "export", params: { export: { order_ids: @orders.ids} }, method: :get, class: "inline-block btn btn_outline_indigo" %>
                <% end %>
                <div class="min-w-full flex flex-wrap justify-between">
                  <div class="w-full text-center sm:w-auto">
                    <p class="text-sm text-gray-700 inline-block align-baseline">
                      Showing
                      <span class="font-medium"><%= @pagy.from %></span>
                      to
                      <span class="font-medium"><%= @pagy.to %></span>
                      of
                      <span class="font-medium"><%= @pagy.count %> </span>
                      results
                    </p>
                  </div>
                  <div class="w-full text-center sm:w-auto">
                    <div class="text-sm inline-block align-baseline">
                      <%== pagy_nav @pagy %>
                    </div>
                  </div>
                </div>
                <%= tag.div class: "overflow-x-auto rounded-lg bg-white #{x_axis_padding} shadow border border-slate-50" do %>
                  <%= render partial: "/data_tables/data_table", locals: {
                    orders: @orders,
                  } %>
                <% end %>
              <% end %>
            </section>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
