<% content_for :title, "#{Order.unarchived.count} Orders" %>

<%= render 'shared/tab_table_options' %>
<%= render 'shared/new_modal' %>
<br>
<%= render 'shared/top_table_header', resource: @orders %>

<table class="bg-white table table-striped border border-2">
  <thead>
    <tr>
      <!-- Creating th's with BusinessLogicTableOption defined in app/models/business_logic_table_option.rb -->
      <% @initialize_table_options.selected_table_options.each do |option| %>
            <% if ((option[1]) == 'po_number') || ((option[1]) == 'order_content' )%>
                <th>
                  <%= "#{option[0]}"%>
                </th>
            <% else %>
                <th>
                  <%= link_to "#{option[0]}", request.params.merge(sort_option: "#{option[1]}", sort_direction: sort_direction ) %>
                </th>
            <% end %>
      <% end %>
  </thead>

  <tbody id="table-body">

    <% @orders.paginate.each do |order| %>
      <% if order.archived == false %>
        <tr>
          <% @initialize_table_options.selected_table_options.each do |option| %>
            <td class="align-middle">
                <% if (option[1]) == 'id' %>
                  <%= link_to "#{order.id}", order_path(order) %>

                <% elsif (option[1]) == 'ship_name' %>
                  <%= link_to "#{order.purchaser.name}", purchaser_path(order.purchaser) %>

                <% elsif (option[1]) == 'vendor_name' %>
                  <%= link_to "#{order.vendor.name}", vendor_path(order.vendor) %>

                <% elsif (option[1]) == 'date_recieved' %>
                  <%= order.date_recieved ? order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>

                <% elsif (option[1]) == 'order_content' %>

                    <% if order.order_content.present? %>

                      <%= link_to(order_path(order)) do %>

                        Boxes: <%= order.order_content.box ||= "n/a" %>
                        <br>
                        Crates: <%= order.order_content.crate ||= "n/a" %>
                        <br>
                        Pallets: <%= order.order_content.pallet ||= "n/a" %>
                        <br>

                        <% if is_nil_and_zero(order.order_content.other) == false %>
                           <%= "Other: #{order.order_content.other}" %>
                           <br>
                           <%= order.order_content.other_description.to_s.chars.count >= 75 ? "Description: #{order.order_content.other_description[0..75]...}" : "Description: #{order.order_content.other_description}" if order.order_content.other_description %>
                        <% end %>

                      <% end %>
                    <% end %>

                <% elsif (option[1]) == 'date_delivered' %>
                  <%= order.date_delivered ? order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>

                <% else %>
                  <%= order.send(option[1]) %>
                <% end %>

              </td>
          <% end %>


        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<%= render "shared/pagination/pagination_buttons", total_pages: @orders.total_pages %>
