<% content_for :title, "#{Order.unarchived.count}" + ' Order'.pluralize(Order.unarchived.count) %>
<% if (current_user.has_role?('admin') || current_user.has_role?('staff')) %>
  <%= render 'shared/under_header_card_options' %>
  <%= render 'shared/new_modal' %>
<% else %>
  <%= link_to "All Orders Page", all_orders_path %>
<% end %>
<br>
<span data-controller="visibility orders-bulk" data-visibility-close-on-outside-click-value="false">
  <%= render 'shared/top_table_header' %> <!-- Sort options display when present -->
  <%#= render 'shared/top_table_header_two', total_pages: @resource.total_pages %>
  <nav class="navbar navbar-light bg-white border py-4">
    <!-- table title-->
    <div class="w-2/4">
      <div class="text-left">
        <div class="flex">
          <div>
            <span class="text-3xl">
              <%= "#{current_controller.titleize}" %>
              <br>
              Table
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="w-2/4 pt-3">
      <div>
        <!-- bulk operations if admin or staff -->
        <% if current_user.has_role?(:admin) && ("orders".in? current_controller) %>
          <div class="-mt-2 text-right mb-3">
              <div class="ml-3 inline-flex">
                <div  data-visibility-target="hideable" hidden class="inline-flex">
                  <div class="isolate inline-flex rounded-md shadow-sm">
                    <button type="button" data-action="click->orders-bulk#destroy" class="mr-1 pl-1 relative inline-flex items-center rounded-l-md bg-white py-1 px-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Delete Selected Orders</button>
                    <button type="button" class="mr-1 pl-1 relative inline-flex items-center rounded-l-md bg-white py-1 px-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Edit Selected Orders</button>
                    <button type="button"  data-action="visibility#toggleTargets" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Cancel</button>
                  </div>
                </div>
                <div class="ml-1 inline-flex">
                  <span class="isolate inline-flex rounded-md shadow-sm">
                    <button type="button" data-visibility-value-toggled="false" data-action="visibility#toggleTargets" class="relative -ml-px inline-flex items-center bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
                      bulk update orders
                    </button>
                  </span>
                </div>
              </div>
          </div>
        <% end %>
        <!-- page dropdown -->
        <div class="text-right">
          <% if @resource.first_page_disabled? %>
              <ul class="text-gray-600 float-right" id="navbarNavDropdown">
                <li class="nav-item text-right dropdown">
                  <span class="nav-link border -m-2 border-gray-500 text-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Page: 1/1
                  </span>
                </li>
              </ul>
          <% else %>
            <ul class="text-gray-600 float-right cursor-pointer " id="navbarNavDropdown">
              <li class="nav-item text-right dropdown">
                <span class="nav-link border -m-2 border-gray-500 text-right" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Page: <%= "#{@resource.humanized_current_page}/#{@resource.humanized_total_pages}"%>
                </span>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% (@resource.humanized_total_pages).times do | page_number, index | %>

                    <% display_offset_page_number = page_number += 1 %>
                    <% display_selected_current_page = "selected" %>
                    <% selected_page = (@resource.humanized_current_page) == display_offset_page_number ? true : false %>

                    <% if selected_page == true %>
                      <%= link_to "#{display_offset_page_number}/#{@resource.total_pages + 1  } (current page)", request.params.merge(q: @query, page: (display_offset_page_number - 1) ), class:'dropdown-item mr-8' %>
                    <% else %>
                      <%= link_to "#{display_offset_page_number}/#{@resource.total_pages + 1 }", request.params.merge(q: @query, page: (display_offset_page_number - 1) ), class:'dropdown-item mr-8' %>
                    <% end %>
                  <% end %>
                </div>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </nav>
  <table class="bg-white table table-striped border border-2">   <%#= render partial: 'orders/index', orders: @orders, cached: false %>
    <thead>
      <tr>
        <% if @query.present? %>
          <% results_counter = 0 %>
          <th class="align-middle">
            Search Results
          </th>
        <% end %>
        <% @resource.table_option.selected_options.each do |option| %>
          <% if option.in? TableOptionsHelper.sortable_ths  %>
            <th class="align-middle">
            <%= link_to "#{option.titleize}", request.params.merge(q: @query, sort_option: "#{option}", sort_direction: sort_direction ) %>
            </th>
          <% else %>
            <th class="align-middle">
            <%= "#{option.titleize}"%>
            </th>
          <% end %>
        <% end %>
        <% if current_user.has_role?(:admin) %>
          <th data-visibility-target="hideable" hidden class="align-middle">
           <%= check_box_tag nil, nil, false, data: { "orders-bulk-target": "checkboxAll" }, class:"inline-block ml-2 mr-1 mb-1 mt-1 h-5 w-5 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody id="table-body">
      <% @orders.each do |order| %>
        <tr>
          <% if @query.present? %>
            <td class="align-middle font-normal	">
              <%= "Result: #{@resource.paginated_offset += 1}"%>
            </td>
          <% end %>
          <% @resource.table_option.selected_options.each do |option| %>
            <td class="align-middle font-normal	">
              <% case option %>
              <% when 'id' %>
                <%= link_to "#{order.id}", order_path(order), class:"text-blue-500" %>

              <% when 'order_sequence' %>
                <%= order.try(:order_sequence) || 0 %>

              <% when 'dept' %>
                <%= order.try(:dept) || '' %>

              <% when 'ship_name' %>
                <%= order.try(:purchaser) ? (link_to "#{order.purchaser.name}", purchaser_path(order.purchaser), class:"text-blue-500") : 'n/a' %>

              <% when 'vendor_name' %>
                <%= order.try(:vendor) ? (link_to "#{order.vendor.name}", vendor_path(order.vendor), class:"text-blue-500") : 'n/a' %>

              <% when 'po_number' %>
                <%= order.try(:po_number) || '' %>

              <% when 'tracking_number' %>
                <%= order.try(:tracking_number) || '' %>

              <% when 'date_recieved' %>
                <%= order.try(:date_recieved) ? order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>

              <% when 'order_content' %>

              <% if order.try(:order_content).present?%>
                <%= link_to(order_path(order), class:"text-blue-500") do %>
                  Boxes: <%= order.try(:order_content).box || '' %>
                  <br>
                  Crates: <%= order.try(:order_content).crate || '' %>
                  <br>
                  Pallets: <%= order.try(:order_content).pallet || '' %>
                  <br>
                  <% if is_nil_and_zero(order.order_content.other) == false %>
                  <%= "Other: #{order.order_content.other}" %>
                  <br>
                  <%= order.order_content.other_description.to_s.chars.count >= 75 ? "Description: #{order.order_content.other_description[0..75]...}" : "Description: #{order.order_content.other_description}" if order.order_content.other_description %>
                <% end %>
              <% end %>

              <% else %>
                n/a
              <% end %>

              <% when 'courrier' %>
                <%= order.try(:courrier) || '' %>

              <% when 'date_delivered' %>
                <%= order.try(:date_delivered) ? order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>

              <% end %>
            </td>
          <% end %>
          <% if current_user.has_role?(:admin) %>
            <td data-visibility-target="hideable" hidden class="align-middle font-normal	">
              <%= check_box_tag "ids[]", order.id, false, data: { "orders-bulk-target": "checkbox"}, class:"inline-block ml-2 mr-1 mb-1 mt-1 h-5 w-5 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"  %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</span>
<%= render "shared/pagination/pagination_buttons", total_pages: @resource.total_pages %>
