<!-- <%# content_for :title, "Order: #{@order.id}" %>

<%# content_for :subtitle do %>
  Ship: <%#= link_to "#{@order.purchaser.name}", purchaser_path(@order.purchaser)  %>
<%# end %>

<%#= render 'shared/under_header_card_options' %>
<%# if (current_user.has_role?('admin') || current_user.has_role?('staff')) %>
<%#= render "shared/new_modal" %>
<%# end %>

<table class="bg-white table table-striped border border-2">
    <thead>
      <tr>
        <th class="align-middle"> Order ID </th>
        <th class="align-middle"> Seq </th>
        <th class="align-middle"> Dept </th>
        <th class="align-middle"> Vendor </th>
        <th class="align-middle"> PO# </th>
        <th class="align-middle"> Tacking# </th>
        <th class="align-middle"> Date Recieved </th>
        <th class="align-middle"> Courrier </th>
        <th class="align-middle"> Date Delivered </th>
        <th class="align-middle"> Contents </th>
      </tr>
    </thead>

    <tbody>

        <tr>
          <td class="align-middle font-normal	">
              <%# if @order.archived  %>
                <span class="text-gray-500">archived</span>
                <br>
              <%# end %>
              <%#= @order.id %>
          </td>

          <td class="align-middle font-normal	">
            <%#= @order.order_sequence ||= 0 %>
          </td>

          <td class="align-middle font-normal	">
            <%#= @order.dept ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%#= link_to "#{@order.vendor.name}", vendor_path(@order.vendor) %>
          </td>

          <td class="align-middle font-normal	">
            <%#= @order.po_number ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%#= @order.tracking_number ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%#=  @order.date_recieved ? @order.date_recieved.try(:strftime,"%m/%d/%Y") : "n/a "%>
          </td>

          <td class="align-middle font-normal	">
            <%#= @order.courrier ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%#=  @order.date_delivered ? @order.date_delivered.try(:strftime,"%m/%d/%Y") : "n/a "%>
          </td>

          <td class="align-middle font-normal	">
            <%# if @order.order_content.present? %>
                Boxes: <%#= @order.order_content.box ||= "n/a" %>
                <br>
                Crates: <%#= @order.order_content.crate ||= "n/a" %>
                <br>
                Pallets: <%#= @order.order_content.pallet ||= "n/a" %>
                <br>
                <%# if is_nil_and_zero(@order.order_content.other) == false %>
                   <%#= "Other: #{@order.order_content.other}" %>
                <%# end %>
            <%# end %>
          </td>

        </tr>
    </tbody>
  </table>

  <div class="card p-4">

  <%# if @order.order_content.other_description.present? %>
    <div class="px-4">
      <div class="pb-2 px-2 font-bold">
        Description
      </div>

      <td class="pb-4 px-2">
        <%#= "Description: #{@order.order_content.other_description}" %>
      </td>
    </div>
  <%# end %>

      <div>
        <div class="p-4">
          <div class="pb-2 px-2 font-bold">
            <%#= pluralize(@order.images.count, 'Upload') %>
          </div>

        <%# if @order.images.count > 0 %>
          <div class="grid grid-cols-3 gap-3 border">
            <%# upload_count = 1 %>
            <%# @order.images.reverse.each do |image| %>

              <%# if image.image? %>
                <div class="max-w-xs align-middle p-4 bg-gray-200" >
                  <%#= link_to image_tag(image), "#", data: {toggle: "modal", target: ".bd-image-modal-#{image.blob_id}-lg"} %>
                </div>
              <%# elsif image.blob.content_type == "video/mp4" %>
                <div class="max-w-xs align-middle p-4 bg-gray-200">
                  <%#= video_tag rails_blob_path(image), controls: true %>
                </div>
              <%# end %>

              <%###### Modal ##### %>
              <div class="modal fade bd-image-modal-<%#= "#{image.blob_id}"%>-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header mb-12">
                      <h5 class="modal-title"> Upload #<%#= upload_count %> </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="px-4">
                      <div class="inline-block justify-content-center ">
                        <%#= image_tag image, class:"object-fit" if image.variable?  %>
                      </div>
                      <div class="m-4">
                        <%#= link_to "Download", rails_blob_path(image, disposition: :attachment), class:"btn btn-outline-success" if image.variable? %>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                </div>
              </div>

              <%# upload_count += 1 %>


            <%# end %>

          </div>
        <%# end %>
      </div>
    </div>
  </div>

  <br> -->

<% order = @order %>
<% @card_title = "Orders" %>

<% content_for :header_button do %>
    <%= render partial: "/orders/edit_order_button", locals: {
      order: @order,
    } %>
<% end %>

<section id="orders-show-section">
  <div class="-mt-1 mb-2 flex justify-center sm:justify-start">
    <div class="text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>
      <div class="text-gray-900 font-medium"> <%= "Order #{order.id}" %> </div>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-2">
    <% content_for :ships_icon do %>
      <?xml version="1.0" encoding="iso-8859-1"?>
      <svg fill="#9CA3AF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 501.6 501.6" class="text-gray-400" xml:space="preserve">
      <g>
      	<g>
      		<path d="M498.4,330.096c-4.267-6.4-10.667-10.667-18.133-10.667H389.6v-78.933c0-11.733-9.6-21.333-21.333-21.333h-96v-33.067
      			c0-11.733-9.6-21.333-21.333-21.333h-68.267V42.096c0-11.733-9.6-21.333-21.333-21.333S140,30.362,140,42.096v122.667H71.733
      			c-11.733,0-21.333,9.6-21.333,21.333v133.333H20.533c-7.467,0-13.867,4.267-18.133,10.667c-3.2,6.4-3.2,13.867,0,20.267
      			l56.533,105.6c14.933,27.733,43.733,44.8,75.733,44.8H367.2c30.933,0,59.733-17.067,74.667-44.8l56.533-105.6
      			C502.667,343.962,502.667,336.496,498.4,330.096z M272.266,260.762H348v58.667h-75.733V260.762z M92,206.362h137.6v113.067H92
      			V206.362z M404.533,436.762c-7.467,14.933-22.4,23.467-38.4,23.467H134.666c-16,0-30.933-9.6-38.4-23.467l-40.533-74.667h389.333
      			L404.533,436.762z"/>
      	</g>
      </g>
      <g>
      	<g>
      		<path d="M417.333,25.029C415.2,14.362,405.6,5.829,393.866,6.895C371.466,9.029,348,11.162,325.6,9.029
      			c-6.4-1.067-13.867-2.133-21.333-3.2c-23.467-4.267-51.2-9.6-77.867,2.133c-10.667,5.333-14.933,17.067-10.667,27.733
      			c5.333,10.667,17.066,14.933,27.733,10.667c14.933-6.4,34.133-3.2,54.4,0c8.533,1.067,16,2.133,24.533,3.2
      			c7.467,1.067,16,1.067,23.467,1.067c18.133,0,36.267-2.133,53.333-2.133C409.866,46.362,418.4,36.762,417.333,25.029z"/>
      	</g>
      </g>
      </svg>
    <% end %>
    <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Ship",
      card_description: order.purchaser.name,
      card_link: (link_to "View Ship", purchaser_path(order.purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: yield(:ships_icon),
    } %>

    <% content_for :vendors_icon do %>
      <?xml version="1.0" encoding="utf-8"?>
      <svg width="20px" height="20px" viewBox="0 0 1024 1024" class="icon text-gray-400" xmlns="http://www.w3.org/2000/svg"><path fill="#9CA3AF" d="M704 288h131.072a32 32 0 0131.808 28.8L886.4 512h-64.384l-16-160H704v96a32 32 0 11-64 0v-96H384v96a32 32 0 01-64 0v-96H217.92l-51.2 512H512v64H131.328a32 32 0 01-31.808-35.2l57.6-576a32 32 0 0131.808-28.8H320v-22.336C320 154.688 405.504 64 512 64s192 90.688 192 201.664v22.4zm-64 0v-22.336C640 189.248 582.272 128 512 128c-70.272 0-128 61.248-128 137.664v22.4h256zm201.408 483.84L768 698.496V928a32 32 0 11-64 0V698.496l-73.344 73.344a32 32 0 11-45.248-45.248l128-128a32 32 0 0145.248 0l128 128a32 32 0 11-45.248 45.248z"/></svg>
    <% end %>
    <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Vendor",
      card_description: order.vendor.name,
      card_link: (link_to "View Vendor", vendor_path(order.vendor), class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: yield(:vendors_icon),
    } %>
  </div>
</section>

<% content_for :main_content_under do %>

  <span id="<%= dom_id order %>">
    <section class="pb-12">
      <div class="sm:flex sm:items-center mb-5 sm:mb-7">
        <div class="sm:flex-auto">
          <div class="text-center sm:text-left">
            <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
              Order Content
            </h1>
            <p class="mt-2 ml-2 mb-1 text-md text-gray-700">Information about what was recieved in the order.</p>
          </div>
        </div>
        <div class="text-center sm:text-right mt-4 sm:mt-0 sm:ml-16 sm:flex-none hover:cursor-pointer">
          <button type="button" class="rounded-md bg-white py-2.5 px-3.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Edit order content - placeholder</button>
        </div>
      </div>
      <div>
        <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <span>


              <div class="my-3 mt-2 flex rounded-md shadow-sm">
                <span class="hover:cursor-default inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">Boxes</span>
                <div class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span class="ml-3">
                    <%= order.order_content.box.present? ? order.order_content.box : '0' %>
                  </span>
                </div>
              </div>



              <div class="my-3 mt-2 flex rounded-md shadow-sm">
                <span class="hover:cursor-default inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">Crates</span>
                <div class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span class="ml-3">
                    <%= order.order_content.crate.present? ? order.order_content.crate : '0' %>
                  </span>
                </div>
              </div>


              <div class="my-3 mt-2 flex rounded-md shadow-sm">
                <span class="hover:cursor-default inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">Pallets</span>
                <div class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <span class="ml-3">
                    <%= order.order_content.pallet.present? ? order.order_content.pallet : '0' %>
                  </span>
                </div>
              </div>






              <% if order.order_content.other.present? %>

                <div class="my-3 mt-2 flex rounded-md shadow-sm">
                  <span class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 px-3 text-gray-500 sm:text-sm">Other</span>
                  <div class="block w-full min-w-0 flex-1 rounded-none rounded-r-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <span class="ml-3">
                      <%= order.order_content.other.present? ? order.order_content.other : '0' %>
                    </span>
                  </div>
                </div>

              <% end %>

            </span>
            <!-- <span>
              <h2 class="mt-6 text-xl font-medium leading-6 text-gray-900 mb-3">Description</h2>
              <%# if order.order_content.other_description.present? %>
                <div class=" sm:col-span-4">
                  <p class="text-sm text-gray-900">
                    <%#= order.order_content.other_description %>
                  </p>
                </div>
              <%# else %>
                <button type="button" class="rounded-md bg-white py-2.5 px-3.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Add description - placeholder</button>
              <%# end %>
            </span> -->
          </div>
        </div>
      </div>
    </section>

    <!-- Description list-->
    <section class="pb-12" aria-labelledby="order-details-more">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 pt-5 pb-3 sm:px-6">
          <h2 class="mb-2 text-xl font-medium leading-6 text-gray-900">More details</h2>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">More information about order.</p>
        </div>
        <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
          <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">


            <!-- <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Ship
                </div>
                <div class="text-sm text-gray-900">
                  <%#= render "inline_edit", model: @order, attribute: :purchaser do %>
                    <%#= @order.purchaser.name %>
                  <%# end %>
                </div>
              </div>
            </div> -->

            <!-- <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Vendor
                </div>
                <div class="text-sm text-gray-900">
                  <%#= render "inline_edit", model: @order, attribute: :vendor do %>
                    <%#= @order.vendor.name %>
                  <%# end %>
                </div>
              </div>
            </div> -->



            <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  PO Number
                </div>
                <div class="text-sm text-gray-900">
                  <%= render "inline_edit", model: @order, attribute: :po_number do %>
                    <%= @order.po_number %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Tracking Number
                </div>
                <div class="text-sm text-gray-900">
                  <%= render "inline_edit", model: @order, attribute: :tracking_number do %>
                    <%= @order.tracking_number %>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Date Recieved
                </div>
                <div class="text-sm text-gray-900">
                  <%= render "inline_edit", model: @order, attribute: :date_recieved do %>
                    <%= @order.try(:date_recieved) ? @order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Date Delivered
                </div>
                <div class="text-sm text-gray-900">
                  <%= render "inline_edit", model: @order, attribute: :date_delivered do %>
                    <%= @order.try(:date_delivered) ? @order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Courrier
                </div>
                <div class="text-sm text-gray-900">
                  <%= render "inline_edit", model: @order, attribute: :courrier do %>
                    <%= @order.courrier %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
              <div class="cursor-default">
                <div class="text-sm font-medium text-gray-500">
                  Dept
                </div>
                <div class="text-sm text-gray-900">
                  <%= render "inline_edit", model: @order, attribute: :dept do %>
                    <%= @order.dept %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="sm:col-span-2">
              <dt class="text-sm font-medium text-gray-500">
                <%= pluralize(order.images.count, 'Attachment') %>
              </dt>
              <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                <% if order.images.count > 0 %>
                  <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">

                    <% upload_count = 1 %>
                    <% order.images.reverse.each do |image| %>

                      <% if !image.variable?  %>
                        <li data-controller="reveal" data-reveal-hidden-class="hidden">
                          <div class="flex items-center justify-between py-3 pl-3 pr-4 text-sm bg-red-100">
                            <div class="flex w-0 flex-1 items-center">
                              <svg class="h-5 w-5 flex-shrink-0 text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                              </svg>
                              <span class="ml-2 w-0 flex-1 text-red-600 truncate"> <%= "ERROR: #{image.blob.filename}" %> </span>
                            </div>
                            <div class="ml-4 flex-shrink">

                              <%= link_to "Remove - placeholder", rails_blob_path(image, disposition: :attachment), class:" mx-2 font-medium text-pink-600 hover:text-red-700" %>

                              <%= link_to "Download", rails_blob_path(image, disposition: :attachment), class:" mx-2 font-medium text-indigo-600 hover:text-indigo-500" %>
                            </div>
                          </div>
                        </li>
                      <% end %>

                      <% if image.variable?  %>
                        <li data-controller="reveal" data-reveal-hidden-class="hidden">
                          <div class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                              <div class="flex w-0 flex-1 items-center">
                                <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                </svg>
                                <span class="ml-2 w-0 flex-1 truncate"> <%= image.blob.filename %> </span>
                              </div>

                              <div class="ml-4 flex-shrink-0">
                                <button data-action="click->reveal#toggle" type="button" class="mx-2">
                                  Preview
                                </button>

                                <%= link_to "Download", rails_blob_path(image, disposition: :attachment), class:"mx-2 font-medium text-indigo-600 hover:text-indigo-500" if image.variable? %>



                                <%= link_to "Delete", order_attachment_destroy_attachment_path(@order, image), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this attachment? Once deleted it cannot be recovered." }, class:"mx-2 font-medium text-red-600 hover:text-red-700" if current_user.has_role?('admin') || current_user.has_role?('staff') %>

                              </div>
                          </div>
                          <div data-reveal-target="item" class="hidden">
                            <div class="grid justify-items-center bg-gray-100 p-5">
                              <span class="text-center text-md sm:text-xl flex-shrink">Preview: <%= image.blob.filename %> </span>
                              <%= image_tag image, class:"object-fit" %>
                            </div>
                          </div>
                        </li>
                      <% end %>

                      <% upload_count += 1 %>
                    <% end %>
                  </ul>
                <% end %>
              </dd>
            </div>
          </dl>
        </div>


        <div data-controller="reveal" data-reveal-hidden-class="hidden">
          <button data-action="click->reveal#toggle" type="button" class="block bg-gray-100 w-full py-3 text-center text-sm font-medium text-gray-500 hover:text-gray-700 sm:rounded-b-lg">
            Upload Attachment - placeholder
          </button>
          <div data-reveal-target="item" class="hidden py-3 px-6">
            <div class="p-3 w-full rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
              <div class="flex justify-center ">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                      <span>Click here to upload an attachment</span>
                      <input id="file-upload" name="file-upload" type="file" class="sr-only">
                    </label>
                  </div>
                  <p class="text-xs text-gray-500">Accepts PNG, JPG, MP3</p>
                </div>
              </div>
            </div>
            <div class="mt-3 flex justify-center">
              <div class="text-center">
                <button type="button" class="rounded-md bg-white py-2.5 px-3.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Save - placeholder</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


    <!-- <section class="pb-12">
      <div class="sm:flex sm:items-center mb-5 sm:mb-7">
        <div class="sm:flex-auto">
          <div class="text-center sm:text-left">
            <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
              More details
            </h1>
            <p class="mt-2 ml-2 mb-1 text-md text-gray-700">Information about order.</p>
          </div>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none hover:cursor-pointer">
          <button type="button" class="rounded-md bg-white py-2.5 px-3.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Edit order content</button>
        </div>
      </div>
      <div>
        <div class="overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6">
            <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
              <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
                <div class="cursor-default">
                  <dt class="text-sm font-medium text-gray-500">
                    PO Number
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    <%= order.po_number.present? ? order.po_number : 'n/a' %>
                  </dd>
                </div>
              </div>
              <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
                <div class="cursor-default">
                  <dt class="text-sm font-medium text-gray-500">
                    Tracking Number
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    <%= order.tracking_number.present? ? order.tracking_number : 'n/a' %>
                  </dd>
                </div>
              </div>
              <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
                <div class="cursor-default">
                  <dt class="text-sm font-medium text-gray-500">
                    Date Recieved
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    <%= order.try(:date_recieved) ? order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>
                  </dd>
                </div>
              </div>
              <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
                <div class="cursor-default">
                  <dt class="text-sm font-medium text-gray-500">
                    Date Delivered
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    <%= order.try(:date_delivered) ? order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>
                  </dd>
                </div>
              </div>
              <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
                <div class="cursor-default">
                  <dt class="text-sm font-medium text-gray-500">
                    Courrier
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    <%= order.courrier || "n/a" %>
                  </dd>
                </div>
              </div>
              <div class="sm:col-span-1 p-1 sm:-m-1 rounded-md hover:bg-gray-100">
                <div class="cursor-default">
                  <dt class="text-sm font-medium text-gray-500">
                    Dept
                  </dt>
                  <dd class="mt-1 text-sm text-gray-900">
                    <%= order.dept.present? ? order.dept : 'n/a' %>
                  </dd>
                </div>
              </div>
              <div class="sm:col-span-2">
                <dt class="text-sm font-medium text-gray-500">
                  <%= pluralize(order.images.count, 'Attachment') %>
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                  <% if order.images.count > 0 %>
                    <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">

                      <% upload_count = 1 %>
                      <% order.images.reverse.each do |image| %>

                        <% if !image.variable?  %>
                          <li data-controller="reveal" data-reveal-hidden-class="hidden">
                            <div class="flex items-center justify-between py-3 pl-3 pr-4 text-sm bg-red-100">
                              <div class="flex w-0 flex-1 items-center">
                                <svg class="h-5 w-5 flex-shrink-0 text-red-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                  <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                </svg>
                                <span class="ml-2 w-0 flex-1 text-red-600 truncate"> <%= "ERROR: #{image.blob.filename}" %> </span>
                              </div>
                              <div class="ml-4 flex-shrink">
                                <%= link_to "Remove - placeholder", rails_blob_path(image, disposition: :attachment), class:" mx-2 font-medium text-red-600 hover:text-red-700" %>
                                <%= link_to "Download", rails_blob_path(image, disposition: :attachment), class:" mx-2 font-medium text-indigo-600 hover:text-indigo-500" %>
                              </div>
                            </div>
                          </li>
                        <% end %>

                        <% if image.variable?  %>
                          <li data-controller="reveal" data-reveal-hidden-class="hidden">
                            <div class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                                <div class="flex w-0 flex-1 items-center">
                                  <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                                  </svg>
                                  <span class="ml-2 w-0 flex-1 truncate"> <%= image.blob.filename %> </span>
                                </div>

                                <div class="ml-4 flex-shrink-0">
                                  <button data-action="click->reveal#toggle" type="button" class="mx-2">
                                    Preview
                                  </button>
                                  <%= link_to "Download", rails_blob_path(image, disposition: :attachment), class:"mx-2 font-medium text-indigo-600 hover:text-indigo-500" if image.variable? %>
                                </div>
                            </div>
                            <div data-reveal-target="item" class="hidden">
                              <div class="grid justify-items-center bg-gray-100 p-5">
                                <span class="text-center text-md sm:text-xl flex-shrink">Preview: <%= image.blob.filename %> </span>
                                <%= image_tag image, class:"object-fit" %>
                              </div>
                            </div>
                          </li>
                        <% end %>

                        <% upload_count += 1 %>
                      <% end %>
                    </ul>
                  <% end %>
                </dd>
              </div>
            </dl>
          </div>
          <span>
            <div data-controller="reveal" data-reveal-hidden-class="hidden">
              <button data-action="click->reveal#toggle" type="button" class="block bg-gray-100 w-full py-3 text-center text-sm font-medium text-gray-500 hover:text-gray-700 sm:rounded-b-lg">
                Upload Attachment - placeholder
              </button>
              <div data-reveal-target="item" class="hidden py-3 px-6">
                <div class="p-3 w-full rounded-md border-2 border-dashed border-gray-300 px-6 pt-5 pb-6">
                  <div class="flex justify-center ">
                    <div class="space-y-1 text-center">
                      <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <div class="flex text-sm text-gray-600">
                        <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-medium text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:text-indigo-500">
                          <span>Click here to upload an attachment</span>
                          <input id="file-upload" name="file-upload" type="file" class="sr-only">
                        </label>
                      </div>
                      <p class="text-xs text-gray-500">Accepts PNG, JPG, MP3</p>
                    </div>
                  </div>
                </div>
                <div class="mt-3 flex justify-center">
                  <div class="text-center">
                    <button type="button" class="rounded-md bg-white py-2.5 px-3.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Save - placeholder</button>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </section> -->



    <!-- <div>
      <div class="overflow-hidden bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <div class="flex flex-wrap justify-around sm:justify-between">
            <div class=" sm:mx-0">
              Previous Order
            </div>
            <div class=" sm:mx-0">
              Next Order
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </span>
<% end %>
