<% @page_heading_title = "Order" %>
<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: orders_path(status: @order.status),
    fallback_location_text: "View #{status_display_name(status_scope: @order.status)} orders",
  } %>
<% end %>
<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "Order #{@order.id}" %>
  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-2">
      <%= render partial: "/application/data_display/stats/overview_card", locals: {
        card_title: "Ship",
        card_description: @order.purchaser.name,
        card_link: (link_to "View Ship", purchaser_orders_path(@order.purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/purchaser"),
      } %>
      <% vendor_data_overview_card_link = (link_to "View Vendor", vendor_orders_path(@order.vendor), class:"font-medium text-cyan-700 hover:text-cyan-900") if authorized_internal_user?  %>
      <% vendor_data_overview_card_link = content_tag(:p, "Vendor", class:"font-medium hover:cursor-default") if !authorized_internal_user? %>
      <%= render partial: "/application/data_display/stats/overview_card", locals: {
        card_title: "Vendor",
        card_description: @order.vendor.name,
        card_link: vendor_data_overview_card_link,
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/vendor"),
      } %>
    </div>
  <% end %>
<% end %>
<span id="<%= dom_id @order %>">
  <%= render partial: "/orders/packaging_materials/data_display", locals: {
    order: @order,
    order_content: @order.order_content,
  } if @order.order_content.has_packaging_materials? %>
  <%= render partial: "/orders/packaging_materials/order_content_pill_rows", locals: {
    order: @order,
    order_content: @order.order_content,
  } unless @order.order_content.has_packaging_materials? %>
  <%= render "/orders/more_details", order: @order %>
</span>
<section>
  <%= render partial: "/orders/neighboring_order_buttons", locals: {order: @order} %>
</section>
