<% content_for :title, "Order: #{@order.id}" %>

<% content_for :subtitle do %>
  Ship: <%= link_to "#{@order.purchaser.name}", purchaser_path(@order.purchaser)  %>
<% end %>

<%= render 'shared/under_header_card_options' %>
<%= render "shared/new_modal" %>

<table class="bg-white table table-striped border border-2">
    <thead>
      <tr>
        <th class="align-middle"> Order ID </th>
        <th class="align-middle"> Dept </th>
        <th class="align-middle"> Vendor </th>
        <th class="align-middle"> PO# </th>
        <th class="align-middle"> Date Recieved </th>
        <th class="align-middle"> Courrier </th>
        <th class="align-middle"> Date Delivered </th>
        <th class="align-middle"> Contents </th>
      </tr>
    </thead>

    <tbody>

        <tr>
          <td class="align-middle font-normal	">
              <% if @order.archived  %>
                <span class="text-gray-500">archived</span>
                <br>
              <% end %>
              <%= @order.id %>
          </td>

          <td class="align-middle font-normal	">
            <%= @order.dept ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%= link_to "#{@order.vendor.name}", vendor_path(@order.vendor) %>
          </td>

          <td class="align-middle font-normal	">
            <%= @order.po_number ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%=  @order.date_recieved ? @order.date_recieved.try(:strftime,"%m/%d/%Y") : "n/a "%>
          </td>

          <td class="align-middle font-normal	">
            <%= @order.courrier ||= "n/a" %>
          </td>

          <td class="align-middle font-normal	">
            <%=  @order.date_delivered ? @order.date_delivered.try(:strftime,"%m/%d/%Y") : "n/a "%>
          </td>

          <td class="align-middle font-normal	">
            <% if @order.order_content.present? %>
                Boxes: <%= @order.order_content.box ||= "n/a" %>
                <br>
                Crates: <%= @order.order_content.crate ||= "n/a" %>
                <br>
                Pallets: <%= @order.order_content.pallet ||= "n/a" %>
                <br>
                <% if is_nil_and_zero(@order.order_content.other) == false %>
                   <%= "Other: #{@order.order_content.other}" %>
                <% end %>
            <% end %>
          </td>

        </tr>
    </tbody>
  </table>

  <div class="card p-4">

  <% if @order.order_content.other_description.present? %>
  <div class="px-4">
    <div class="pb-2 px-2 font-bold">
      Description
    </div>

    <td class="pb-4 px-2">
      <%= "Description: #{@order.order_content.other_description}" %>
    </td>
  </div>
  <% end %>

      <div>
        <div class="p-4">
          <div class="pb-2 px-2 font-bold">
            <%= pluralize(@order.images.count, 'Upload') %>
          </div>

        <% if @order.images.count > 0 %>
          <div class="grid grid-cols-3 gap-3 border">
            <% upload_count = 1 %>
            <% @order.images.reverse.each do |image| %>

              <% if image.image? %>
                <div class="max-w-xs align-middle p-4 bg-gray-200" >
                  <%= link_to image_tag(image), "#", data: {toggle: "modal", target: ".bd-image-modal-#{image.blob_id}-lg"} %>
                </div>
              <% elsif image.blob.content_type == "video/mp4" %>
                <div class="max-w-xs align-middle p-4 bg-gray-200">
                  <%= video_tag rails_blob_path(image), controls: true %>
                </div>
              <% end %>

              <!-- Modal -->
              <div class="modal fade bd-image-modal-<%= "#{image.blob_id}"%>-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header mb-12">
                      <h5 class="modal-title"> Upload #<%= upload_count %> </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="px-4">
                      <div class="inline-block justify-content-center ">
                        <%= image_tag image, class:"object-fit" if image.variable?  %>
                      </div>
                      <div class="m-4">
                        <%= link_to "Download", rails_blob_path(image, disposition: :attachment), class:"btn btn-outline-success" if image.variable? %>
                      </div>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                </div>
              </div>

              <% upload_count += 1 %>


            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
