<%= form_with(model: table_option) do |form| %>

  <div class="field">
    <p class="text-3xl"> <%= "New" if table_option.id.nil? %> <%= current_controller.titleize.singularize %> Table Options </p>
    <%= form.hidden_field :resource_table_type, value: controller_name.singularize.titleize %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <div class="container bg-gray-200 p-2 ">
      <p class="text-2xl -mb-1 pb-2"> Select which columns you would like displayed. </p>

      <div class="text-xl">
        <% if controller_name == 'orders' %>
              <%= form.select :option_list, options_for_select(TableOptionsHelper.order_options_for_select_arr), {:include_hidden => false}, {:multiple => true}  %>
        <% elsif controller_name == 'purchasers' %>
              <%= form.select :option_list, options_for_select(TableOptionsHelper.purchaser_options_for_select_arr), {:include_hidden => false}, {:multiple => true}  %>
          <% elsif controller_name == 'vendors' %>
              <%= form.select :option_list, options_for_select(TableOptionsHelper.vendor_options_for_select_arr), {:include_hidden => false}, {:multiple => true}  %>
        <% end %>
      </div>

      <span class="desktop-text"style="color:gray;">
        <div>
            <br>
            To select multiple columns
            <br>
            <strong>Windows:</strong> hold ctrl + click role
            <br>
            <strong>Mac:</strong> hold cmd + click role
            <br>
            <br>
        </div>
      </span>
      <hr>
      <div class="pb-4">
        <div class="text-xl pt-2">
          <%= current_controller.titleize %> Table Options:
        </div>
        <% if table_option.id.nil? %>
            <p class="font-bold -mb-1">
              You have not selected Table Options for <%= current_controller.titleize %>
            </p>
            <div class="text-base font-bold text-gray-500">
              Default Options:
              <br>
              <span class="text-gray-500">
                <%= TableOptionsHelper.default_table_options(controller_name).map {|option| option[0]} %>
              </span>
            </div>
        <% else %>
            <p class="text-base font-bold">
              <%= table_option.option_list%>
            </p>
        <% end %>
      </div>

    </div>

    <br>
  </div>

  <div class="pb-2">
    <div class="actions btn btn-outline-primary">
      <%= button_tag(type: 'submit') do %>
        Save
      <% end %>
    </div>
  </div>

<% end %>
