<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
    with_turbo_modal: true,
    link_to_path: new_vendor_order_path(@vendor),
    link_to_text: "Add vendor order",
  } %>
<% end %>

<% content_for :page_heading_card do %>

  <%= turbo_stream.update "card_title", "#{@vendor.name}" %>

  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        is_active_card: true,
        card_title: "All vendor orders",
        card_description: @vendor.orders.count,
        card_link: (link_to "View all vendor orders", vendor_orders_path(@vendor), class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Active vendor orders",
      card_description: @vendor.orders.unarchived.count,
      card_link: (link_to "View active vendor orders", vendor_path(@vendor), class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/vendor"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Completed vendor orders",
      card_description: @vendor.orders.archived.count,
      card_link: (link_to "View completed vendor orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
      } %>

    </div>
  <% end %>

<% end %>

<% content_for :table_section_heading_description_text do %>
  All active and completed orders belonging to <%= content_tag :span, @vendor.name, class:'font-bold' %>.
<% end %>

<%= render partial: "/orders/table", locals: {
  table_turbo_frame_tag: "orders",
  orders: @orders,
  pagy: @pagy,
  table_section_heading_title: "#{@vendor.name}: All Orders",
  table_section_heading_description: yield(:table_section_heading_description_text),
  table_title: "All Vendor Orders",
} %>
