<nav class="navbar navbar-expand-lg navbar-light bg-white border py-4">
  <span class="text-3xl">
    <span class="">
      <%= "#{current_controller.titleize}" %> Table
    </span>

    <% if params[:sort_option].present? %>
      <% if params[:sort_direction].present? %>
        <% display_sorted_direction = params[:sort_direction] == 'asc' ? 'descending' : 'ascending' %>
      <% end %>
        <span class="ml-2 text-xl">
          sort option:
          <span class="text-xl text-gray-600 "> <%= " #{params[:sort_option].titleize}"%></span>
          <span class="text-xl  text-gray-600"> <%= " (#{display_sorted_direction})"%></span>

        </span>
    <% end %>
  </span>

  <button class="" type="button" data-toggle="" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class=""></span>
  </button>
  <div class="ml-auto" id="navbarNavDropdown">
    <ul class="navbar-nav  ">

      <li class="nav-item dropdown">

        <a class="nav-link border-2 px-2" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= "Page: #{@page + 1}/#{resource.display_humanized_total_pages}"%>
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% (resource.display_humanized_total_pages).times do | page_number, index | %>

            <% display_offset_page_number = page_number += 1 %>
            <% display_selected_current_page = "selected" %>
            <% select_me = (@page + 1) == display_offset_page_number ? true : false%>

            <% if select_me == true %>
              <%= link_to "#{display_offset_page_number}/#{resource.display_humanized_total_pages} (current page)", request.params.merge(page: (display_offset_page_number - 1) ), class:'dropdown-item' %>
            <% else %>
              <%= link_to "#{display_offset_page_number}/#{resource.display_humanized_total_pages}", request.params.merge(page: (display_offset_page_number - 1) ), class:'dropdown-item' %>
            <% end %>
          <% end %>
        </div>
      </li>

    </ul>
  </div>
</nav>
