<%= form_with(model: vendor) do |form| %>
  <% if vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
        <% vendor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  <div class="field">
    <%= form.text_field :name, placeholder:'Vendor Name' ,class: "form-control" %>
  </div>

  <br>
  <div class="p-2">
    <div class="actions btn btn-outline-primary">
      <%= button_tag(type: 'submit') do %>
        Save
      <% end %>
    </div>
  </div>

<% end %>
