<div id="<%= dom_id vendor %>" class="table-row odd:bg-white even:bg-slate-50 hover:bg-slate-100">
  <% primary_col_css_classes = "table-cell px-2 py-2 text-sm font-medium text-gray-900 align-middle text-center" %>
  <% secondary_col_css_classes = "table-cell px-2 py-2 text-sm font-medium text-gray-500 cursor-default align-middle text-center" %>
  <div class="<%= primary_col_css_classes %>">
    <%= content_tag :span, vendor.id, class: 'cursor-default' %>
  </div>
  <div class="<%= secondary_col_css_classes %> h-full group">
    <%= link_to vendor.name, vendor_orders_path(vendor, status: "active"), target: '_top', class: 'text-indigo-600 hover:text-indigo-800' %>
  </div>
  <div class="<%= primary_col_css_classes %>">
    <div class="-ml-12">
      <div class="grid grid-cols-2 grid-rows-2">
        <%= content_tag :div, vendor.orders.count, class: 'justify-self-end' %>
        <%= content_tag :div, "Orders", class: "ml-3 justify-self-start" %>
        <%= content_tag :div, vendor.orders.where(archived: false).count, class: 'justify-self-end text-gray-400' %>
        <%= content_tag :div, "Active", class: "ml-3 justify-self-start text-gray-400" %>
        <%= content_tag :div, vendor.orders.where(archived: true).count, class: 'justify-self-end text-gray-400' %>
        <%= content_tag :div, "Completed", class: "ml-3 justify-self-start text-gray-400" %>
      </div>
    </div>
  </div>
</div>
