<!-- <div id="<%#= dom_id vendor %>">
<p class="p-4 pb-12">
  vendor.inspect
  <br>
  <%#= vendor.inspect %>
</p>
</div> -->

<div id="<%= dom_id vendor %>">

  <% content_for :page_heading_button do %>

    <div class="grid space-y-3 sm:inline-block sm:space-y-0">
      <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_edit", locals: {
        link_to_path: edit_vendor_path(vendor),
        link_to_text: "Edit vendor",
      } %>

      <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
        with_turbo_modal: true,
        link_to_path: new_vendor_order_path(vendor),
        link_to_text: "Add vendor order",
      } %>
    </div>

  <% end %>

  <% content_for :page_heading_card do %>

    <%= turbo_stream.update "card_title", "#{vendor.name} Active Orders" %>

    <%= turbo_stream.update "card_content" do %>
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

        <%= render partial: "/shared/data_display/stats/overview_card", locals: {
          card_title: "All vendor orders",
          card_description: vendor.orders.count,
          # card_link: (link_to "View all vendor orders", vendor_orders_path(@vendor), class:"font-medium text-cyan-700 hover:text-cyan-900"),
          card_link: (link_to "View all vendor orders", vendor_orders_path(vendor), class:"font-medium text-cyan-700 hover:text-cyan-900"),
          card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
        } %>

        <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        is_active_card: true,
        card_title: "Active vendor orders",
        card_description: vendor.orders.unarchived.count,
        card_link: (link_to "View active vendor orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/box_truck"),
        } %>

        <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Completed vendor orders",
        card_description: vendor.orders.archived.count,
        card_link: (link_to "View completed vendor orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
        } %>

      </div>
    <% end %>

  <% end %>




  <!-- <%# content_for :main_content_under do %>
    <div data-controller="reveal" data-reveal-hidden-class="hidden">
      <div class="sm:flex sm:items-center mb-5 sm:mb-7">
        <div class="sm:flex-auto">
          <div class="text-center sm:text-left">
            <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
              <%#= vendor.name %> Active Orders
            </h1>
            <p class="mt-2 ml-2 mb-1 text-md text-gray-700">A list of all active orders belonging to the vendor <%#= vendor.name %>.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="rounded-md bg-white">
      <div class="flex-1">
        <%##= render partial: "/orders/remix/table", locals:{
          table_title: "#{vendor.name} Active Orders",
          resource: @resource,
          query: @query,
          orders: @resource.paginated_target,
          order_count: @resource.paginated_target.count,
          total_order_count: vendor.orders.unarchived.count,
        }, cached: false %>
      </div>
    </div>

  <%# end %> -->


  <!-- NOTE -->
  <!-- <div class="py-12">
    <div class="bg-red-100 p-4 text-xl text-center text-red-500">
      Sorting works well w purchaser + vendor name BUT search still only search order model (cant search vendor/ship name) unless obvious descriptive query - possible but unlikely to lead to expected result (when searching ship/vendor name)
    </div>
  </div> -->

  <section>
    <div data-controller="reveal" data-reveal-hidden-class="hidden">
      <div class="sm:flex sm:items-center mb-5 sm:mb-7">
        <div class="sm:flex-auto">
          <div class="text-center sm:text-left">
            <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
              <%= vendor.name %>: Active Orders
            </h1>
            <!-- <p class="mt-2 ml-2 mb-1 text-md text-gray-700">All orders belonging to <%#= vendor.name %> that have not yet been completed.</p> -->
            <p class="mt-2 ml-2 mb-1 text-md text-gray-700">All active orders belonging to <%= content_tag :span, vendor.name, class:'font-bold' %> that have not yet been completed.</p>
          </div>
        </div>
        <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none hover:cursor-pointer">
          <div data-action="click->reveal#toggle" type="button" class="table-options-button text-center sm:inline-block">
            <div class="mr-2 relative px-4 py-2 overflow-hidden font-medium text-gray-600 bg-gray-50 border border-gray-700 rounded-lg shadow-inner group">
              <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
              <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
              <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
              <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
              <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
              <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">
                  <span class="text-base"> Table Options </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div data-reveal-target="item" class="hidden">
        <div class="pb-9">
            <div class="rounded-md bg-white py-3">

              <%= form_with url: "", method: :get, data: { turbo_frame: "orders", turbo_action: "advance" } do |form| %>
                <div class="mx-3 flex flex-wrap justify-center sm:justify-between">
                  <!-- <p class="text-sm text-gray-700">
                    <p class="text-sm text-gray-700"> Amount per page </p> <%#= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()" } %>
                    <%##= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), onchange: "this.form.requestSubmit()",  class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-50"  %>
                    <select onchange="this.form.requestSubmit()" name="count" id="count">
                    <option selected value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    </select>
                  </p> -->
                  <div class="text-gray-700 text-center sm:text-left">
                    <p class="text-sm text-gray-700 mb-1"> Amount per page </p>
                    <div class="relative">
                      <select onchange="this.form.requestSubmit()" name="count" id="count" class="relative cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left border-0 drop-shadow-md shadow-sm ring-1 ring-inset ring-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-600 text-sm leading-6">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                      </select>
                    </div>
                  </div>
                  <div class="w-full inline-flex sm:hidden">
                    <!-- placeholder div to ensure line break -->
                  </div>
                  <div>
                    <div class="text-gray-700 mt-2 sm:mt-0 text-center sm:text-right">
                      <p class="text-sm text-gray-700 sm:-ml-5"> Search </p>
                      <%#= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()" %>
                      <%= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()", class: "w-full rounded-md bg-white py-1.5 pl-3 border-0 drop-shadow-md text-left text-gray-500 focus:outline-none focus:ring-1 focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder:'Search' %>
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
        </div>
      </div>
    </div>
  </section>

  <div class="rounded-md bg-white">
    <div class="flex-1">
      <div class="pt-7 w-full px-4 sm:px-6 lg:px-8 ">
        <%= turbo_frame_tag "orders" do %>
          <!-- <div class="mb-7 flex-auto text-center sm:text-left">
            <h1 class="text-3xl font-semibold leading-6 text-gray-900"> Orders </h1>
          </div> -->
          <div class="mb-7 flex-auto text-center sm:text-left">
            <div class="flex justify-center space-y-3 sm:space-y-0 sm:justify-between flex-wrap">
              <h1 class="w-full sm:w-auto text-3xl font-semibold leading-6 text-gray-900"> Orders </h1>
              <div class="w-full sm:w-auto">
                <div data-controller="visibility" data-visibility-value-toggled="false" class="inline-flex rounded-md shadow-sm">
                  <button type="button" data-action="visibility#toggleTargets" class="relative inline-flex items-center rounded-l-md bg-white px-3 py-2 text-sm font-normal text-gray-600 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">Download Orders </button>
                  <div class="relative -ml-px block">
                    <button type="button"  data-action="visibility#toggleTargets" class="relative inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10" id="option-menu-button" aria-expanded="true" aria-haspopup="true">
                      <span class="sr-only">Open options</span>
                      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                      </svg>
                    </button>
                    <div data-visibility-target="hideable" hidden class="absolute right-0 z-10 -mr-1 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="option-menu-button" tabindex="-1">
                      <div class="py-1" role="none">
                        <%= link_to "Download as Excel", orders_path(format: :xls), class: "text-gray-700 hover:text-gray-900 hover:bg-gray-100 block px-4 py-2 text-sm" %>
                        <%= link_to "Download as CSV", orders_path(format: :csv), class: "text-gray-700 hover:text-gray-900 hover:bg-gray-100 block px-4 py-2 text-sm" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3 min-w-full flex flex-wrap text-center sm:justify-between">
            <div class="w-full sm:w-auto">
              <p class="text-sm text-gray-700">
                Showing
                <span class="font-medium"><%= @pagy.from %></span>
                to
                <span class="font-medium"><%= @pagy.to %></span>
                of
                <span class="font-medium"><%= @pagy.count %> </span>
                results
              </p>
            </div>
            <div class="w-full sm:w-auto">
              <%== pagy_nav @pagy %>
            </div>
          </div>

          <div class="overflow-x-auto flow-root">
            <div class="min-w-full">
              <div class="table min-w-full border border-slate-50">

                <% tc_css_classes = "table-cell whitespace-nowrap py-3.5 pl-4 pr-3 sm:pl-6 lg:pl-8 align-middle text-center border-b border-gray-300 bg-white bg-opacity-7 text-sm font-semibold text-gray-900" %>

                <% sort_link_to_tc_css_classes = "text-indigo-800 hover:text-indigo-900 hover:underline" %>

                <div class="table-header-group sticky top-0 backdrop-blur backdrop-filter hover:cursor-default">
                  <div class="table-row">

                    <% if current_user_is_admin_or_staff? %>
                      <!-- placeholder for edit th -->
                      <div class="<%= tc_css_classes %>">
                        <%= content_tag(:p, "", class:"text-center" ) %>
                      </div>
                    <% end %>

                    <div class="<%= tc_css_classes %>">
                      <div class="group inline-flex p-3">
                        <%= sort_link_to "ID", :id, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <!-- NOTE BEGIN -->
                    <!-- DEPT SHOULD BE SORTABLE -->
                    <!--
                    <div class="<%#= tc_css_classes %>">
                      <div class="group inline-flex ">
                        <%#= sort_link_to "Dept", :dept, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    -->
                    <div class="<%= tc_css_classes %>">
                      <%= content_tag(:p, "Dept", class:"text-center" ) %>
                    </div>
                    <div class="<%= tc_css_classes %>">
                      <div class="group inline-flex ">
                        <%= sort_link_to "Ship", :ship_name, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>

                    <div class="<%= tc_css_classes %>">
                      <%= content_tag(:p, "Vendor", class:"text-center" ) %>
                      <!-- <div class="group inline-flex ">
                        <%#= sort_link_to "Vendor", :vendor_name, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div> -->
                    </div>

                    <div class="<%= tc_css_classes %>">
                      <%= content_tag(:p, "PO Number", class:"text-center" ) %>
                    </div>
                    <div class="<%= tc_css_classes %>">
                      <%= content_tag(:p, "Tracking Number", class:"text-center" ) %>
                    </div>
                    <div class="<%= tc_css_classes %>">
                      <div class="group inline-flex ">
                        <%= sort_link_to "Date Recieved", :date_recieved, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="<%= tc_css_classes %>">
                      <%= content_tag(:p, "Content", class:"text-center" ) %>
                    </div>
                    <div class="<%= tc_css_classes %>">
                      <div class="group inline-flex ">
                        <%= sort_link_to "Courrier", :courrier, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>
                    <div class="<%= tc_css_classes %>">
                      <div class="group inline-flex ">
                        <%= sort_link_to "Date Delivered", :date_delivered, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                        <span class="ml-2 rounded bg-gray-100 text-gray-900">
                          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                          </svg>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-row-group">
                  <%#= render @orders %>
                  <%= render partial: "/orders/row", collection: @orders, as: :order %>
                </div>

              </div>
            </div>
          </div>

          <div class="text-center">
            <%== pagy_nav @pagy %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
