<% content_for :title, "#{@vendors.count} Vendors" %>

  <%= render 'shared/tab_table_options' %>
  <%= render 'shared/new_modal' %>

  <table class="bg-white table table-striped border border-2">
    <thead>
      <tr>
        <th class="">
        <%= link_to "Vendor ID", vendors_path(sort_option: 'id', sort_direction: sort_direction) %>
        </th>
        <th class="">
        <%= link_to "Vendor Name", vendors_path(sort_option: 'name', sort_direction: sort_direction) %>
        </th>
        <th class="">
        <%= link_to "Vendor Orders", vendors_path(sort_option: 'order_amount', sort_direction: sort_direction) %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td class="py-8 align-middle font-light">
            <%= vendor.id %>
          </td>
          <td class="py-8 align-middle font-light">
            <%= link_to "#{vendor.name}", vendor %>
          </td>
          <td class="py-8 align-middle font-light">
           <%= link_to "#{vendor.orders.count}", vendor %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
