<% content_for :title, "All #{@vendors.count} Vendors" %>

<div class="card p-4">
  <table class=" table table-striped">
    <thead>
      <tr>
        <!-- <th class="py-2">Vendor ID</th>
        <th class="py-2">Vendor</th>
        <th class="py-2">Orders</th> -->

        <th class="py-8"> <%= link_to "Vendor ID", vendors_path(order_attr: 'id', sort_direction: sort_direction) %> </th>

        <th class="py-8"> <%= link_to "Vendor Name", vendors_path(order_attr: 'vendor_name', sort_direction: sort_direction) %> </th>

        <th class="py-8"> <%= link_to "Orders", vendors_path(order_attr: 'order_amount', sort_direction: sort_direction) %> </th>

      </tr>
    </thead>

    <tbody>
      <% @vendors.each do |vendor| %>
        <tr class="">

          <td class="py-4">
            <%= vendor.id %>
          </td>

          <td class="py-4">
            <%= vendor.name %>
          </td>

          <td class="py-4">
           <%= link_to "#{vendor.orders.count}", vendor %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
