<% content_for :page_heading_button do %>
<%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
  # with_turbo_modal: true,
  link_to_path: new_vendor_path,
  link_to_text: "Add vendor",
} %>
<% end %>

<!-- <p style="color: green"><%#= notice %></p>
<h1>Vendors</h1>
<div id="vendors">
  <%# @vendors.each do |vendor| %>
    <%#= render vendor %>
    <p>
      <%#= link_to "Show this vendor", vendor %>
    </p>
  <%# end %>
</div>
<%#= link_to "New vendor", new_vendor_path %> -->

<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "Vendors" %>
  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1">
      <%= render partial: "/application/data_display/stats/overview_card", locals: {
        card_title: "Vendors",
        card_description: "#{Vendor.all.count} Vendors",
        card_link: (link_to "All Vendors", vendors_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/vendor"),
      } %>
    </div>
  <% end %>
<% end %>


<!-- NOTE -->
<!-- <div class="py-12">
  <div class="bg-red-100 p-4 text-xl text-center text-red-500">
    Sorting works well w purchaser + vendor name BUT search still only search order model (cant search vendor/ship name) unless obvious descriptive query - possible but unlikely to lead to expected result (when searching ship/vendor name)
  </div>
</div> -->

<section>
  <div data-controller="reveal" data-reveal-hidden-class="hidden">
    <div class="sm:flex sm:items-center mb-5 sm:mb-7">
      <div class="sm:flex-auto">
        <div class="text-center sm:text-left">
          <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
            All Vendors Table
          </h1>
          <p class="mt-2 ml-2 mb-1 text-md text-gray-700">A list of all recorded vendors.</p>
        </div>
      </div>
      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none hover:cursor-pointer">
        <div data-action="click->reveal#toggle" type="button" class="table-options-button text-center sm:inline-block">
          <div class="mr-2 relative px-4 py-2 overflow-hidden font-medium text-gray-600 bg-gray-50 border border-gray-700 rounded-lg shadow-inner group">
            <span class="absolute top-0 left-0 w-0 h-0 transition-all duration-200 border-t-2 border-gray-600 group-hover:w-full ease"></span>
            <span class="absolute bottom-0 right-0 w-0 h-0 transition-all duration-200 border-b-2 border-gray-600 group-hover:w-full ease"></span>
            <span class="absolute top-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
            <span class="absolute bottom-0 left-0 w-full h-0 transition-all duration-300 delay-200 bg-gray-600 group-hover:h-full ease"></span>
            <span class="absolute inset-0 w-full h-full duration-300 delay-300 bg-gray-900 opacity-0 group-hover:opacity-100"></span>
            <span class="relative transition-colors duration-300 delay-200 group-hover:text-white ease">
                <span class="text-base"> Table Options </span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <% turbo_frame_table_id = "vendors-table" %>
    <div data-reveal-target="item" class="hidden">
      <div class="pb-9">
          <div class="rounded-md bg-white py-3">

            <%= form_with url: "", method: :get, data: { turbo_frame: turbo_frame_table_id, turbo_action: "advance" } do |form| %>
              <div class="mx-3 flex flex-wrap justify-center sm:justify-between">
                <!-- <p class="text-sm text-gray-700">
                  <p class="text-sm text-gray-700"> Amount per page </p> <%#= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), {}, { onchange: "this.form.requestSubmit()" } %>
                  <%##= form.select :count, options_for_select([10, 25, 50, 100], selected: params[:count]), onchange: "this.form.requestSubmit()",  class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-50"  %>
                  <select onchange="this.form.requestSubmit()" name="count" id="count">
                  <option selected value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  </select>
                </p> -->
                <div class="text-gray-700 text-center sm:text-left">
                  <p class="text-sm text-gray-700 mb-1"> Amount per page </p>
                  <div class="relative">
                    <select onchange="this.form.requestSubmit()" name="count" id="count" class="relative cursor-default rounded-md bg-white py-1.5 pl-3 pr-10 text-left border-0 drop-shadow-md shadow-sm ring-1 ring-inset ring-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-600 text-sm leading-6">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    </select>
                  </div>
                </div>
                <div class="w-full inline-flex sm:hidden">
                  <!-- placeholder div to ensure line break -->
                </div>
                <div>
                  <div class="text-gray-700 mt-2 sm:mt-0 text-center sm:text-right">
                    <!-- <p class="text-sm text-gray-700 sm:-ml-5"> Search </p>
                    <%##= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()" %>
                    <%#= form.search_field :query, value: params[:query], oninput: "this.form.requestSubmit()", class: "w-full rounded-md bg-white py-1.5 pl-3 border-0 drop-shadow-md text-left text-gray-500 focus:outline-none focus:ring-1 focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder:'Search' %> -->
                  </div>
                </div>
              </div>
            <% end %>

          </div>
      </div>
    </div>
  </div>
</section>

<div class="rounded-md bg-white">
  <div class="flex-1">
    <div class="pt-7 w-full px-4 sm:px-6 lg:px-8 ">
      <%= turbo_frame_tag turbo_frame_table_id do %>
        <div class="mb-7 flex-auto text-center sm:text-left">
          <h1 class="text-3xl font-semibold leading-6 text-gray-900"> Vendors </h1>
        </div>

        <div class="mt-3 min-w-full flex flex-wrap text-center sm:justify-between">
          <div class="w-full sm:w-auto">
            <p class="text-sm text-gray-700">
              Showing
              <span class="font-medium"><%= @pagy.from %></span>
              to
              <span class="font-medium"><%= @pagy.to %></span>
              of
              <span class="font-medium"><%= @pagy.count %> </span>
              results
            </p>
          </div>
          <div class="w-full sm:w-auto">
            <%== pagy_nav @pagy %>
          </div>
        </div>

        <div class="overflow-x-auto flow-root">
          <div class="min-w-full">
            <div class="table min-w-full border border-slate-50">

              <% tc_css_classes = "table-cell whitespace-nowrap py-3.5 pl-4 pr-3 sm:pl-6 lg:pl-8 align-middle text-center border-b border-gray-300 bg-white bg-opacity-7 text-sm font-semibold text-gray-900" %>

              <% sort_link_to_tc_css_classes = "text-indigo-800 hover:text-indigo-900 hover:underline" %>

              <div class="table-header-group sticky top-0 backdrop-blur backdrop-filter hover:cursor-default">
                <div class="table-row">

                  <!-- placeholder for edit th -->
                  <!-- <%# if current_user_is_admin_or_staff? %>
                    <div class="<%#= tc_css_classes %>">
                      <%##= content_tag(:p, "", class:"text-center" ) %>
                    </div>
                  <%# end %> -->

                  <div class="<%= tc_css_classes %>">
                    <div class="group inline-flex p-3">
                      <%= sort_link_to "ID", :id, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                      <span class="ml-2 rounded bg-gray-100 text-gray-900">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  </div>

                  <!-- <div class="<%#= tc_css_classes %>">
                    <%#= content_tag(:p, "Dept", class:"text-center" ) %>
                  </div> -->

                  <div class="<%= tc_css_classes %>">
                    <div class="group inline-flex ">
                      <%= sort_link_to "Vendor Name", :name, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                      <span class="ml-2 rounded bg-gray-100 text-gray-900">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  </div>

                  <div class="<%= tc_css_classes %>">
                    <div class="group inline-flex ">
                      <%= sort_link_to "Order Amount", :order_amount, class: sort_link_to_tc_css_classes, data: { turbo_action: "advance" } %>
                      <span class="ml-2 rounded bg-gray-100 text-gray-900">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  </div>

                </div>
              </div>

              <div class="table-row-group">
                <%#= render @orders %>
                <%= render partial: "/vendors/row", collection: @vendors, as: :vendor %>
              </div>

            </div>
          </div>
        </div>

        <div class="text-center">
          <%== pagy_nav @pagy %>
        </div>

      <% end %>

    </div>
  </div>
</div>
