<% content_for :title, "#{Vendor.all.count} Vendors" %>

  <%= render 'shared/tab_table_options' %>
  <%= render 'shared/new_modal' %>

  <table class="bg-white table table-striped border border-2">
    <thead>
      <tr>
        <th class="">
          <%= link_to "Vendor ID", request.params.merge(sort_option: 'id', sort_direction: sort_direction ) %>
        </th>
        <th class="">
        <%= link_to "Vendor Name", vendors_path(sort_option: 'name', sort_direction: sort_direction) %>
        </th>
        <th class="">
        <%= link_to "Vendor Orders", vendors_path(sort_option: 'order_amount', sort_direction: sort_direction) %>
        </th>
      </tr>
    </thead>

    <tbody>
      <% @vendors.each do |vendor| %>
        <tr>
          <td class="py-8 align-middle font-light">
            <%= vendor.id %>
          </td>
          <td class="py-8 align-middle font-light">
            <%= link_to "#{vendor.name}", vendor %>
          </td>
          <td class="py-8 align-middle font-light">
           <%= link_to "#{vendor.orders.count}", vendor %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!-- SORT PARAMS -->
<!-- vendors?sort_direction=desc&sort_option=name -->

<!-- PAGE PARAMS -->
<!-- vendors?page=2 -->

<!-- PAGE + SORT PARAMS -->
<!-- vendors?page=2?sort_direction=desc&sort_option=id -->

<div class="p-4">
  <%= link_to "Prev", request.params.merge(page: @page - 1) unless @page < 1 %>
  |
  <%= link_to "Next", request.params.merge(page: @page + 1) %>
</div>


    <!-- http://localhost:3000/orders/?page=2 -->
    <!-- /orders/?page=2 -->
    <br>
    <br>
    <br>
