<% @card_title = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum repellat, explicabo quaerat voluptatum obcaecati incidunt!" %>



<% content_for :header_button do %>
    <div class="bg-green-100 text-xl">
      header button content
    </div>
<% end %>

<%= turbo_stream_action_tag "update", target: "header_title", template: %(<div id="header_title">Vendors</div>) %>

<%#= turbo_stream.update "header_title", partial: "clearances/unique_clearance", locals: { title: "Hello" } %>

<!-- <turbo-stream action="update" target="header_title">
  <template>
    Vendors
  </template>
</turbo-stream> -->

<p style="color: green"><%= notice %></p>

<h1>Vendors</h1>

<div id="vendors">
  <% @vendors.each do |vendor| %>
    <%= render vendor %>
    <p>
      <%= link_to "Show this vendor", vendor %>
    </p>
  <% end %>
</div>

<%= link_to "New vendor", new_vendor_path %>
