<% content_for :title, "Vendor: #{@vendor.name}" %>

<br>
<%= link_to 'Edit Vendor', edit_vendor_url(@vendor) %>
<br>

<br>
<%= link_to 'Add Order', '#', class:"btn btn-outline-primary btn-block" %>
<br>

<div class="card p-2">
  <table>
    <thead>
      <tr>
        <th>  </th>
        <th> Ship </th>
        <th> PO# </th>
        <th> Date Recieved </th>
        <th> Courrier </th>
        <th> Date Delivered </th>
        <th> Contents </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>

        <tr class="">
          <!-- <span class="border border-2 border-green pb-20"> -->
            <td class="pb-10 px-2">
              <%= order.id %>
            </td>

            <td class="pb-10 px-2">
              <%= link_to "#{order.purchaser.name}", purchaser_path(order.purchaser) %>
            </td>

            <td class="pb-10 px-2">
              <%= order.po_number ||= "n/a" %>
            </td>

            <td class="pb-10 px-2">
              <%=  order.date_recieved ? order.date_recieved.try(:strftime,"%m/%d/%Y") : "n/a "%>
            </td>

            <td class="pb-10 px-2">
              <%= order.courrier ||= "n/a" %>
            </td>

            <td class="pb-10 px-2">
              <%=  order.date_delivered ? order.date_delivered.try(:strftime,"%m/%d/%Y") : "n/a "%>
            </td>

            <td class="pb-10 px-2">
              <% if order.order_content.present? %>

                <%= link_to(order_path(order)) do %>

                  Boxes: <%= order.order_content.box ||= "n/a" %>
                  <br>
                  Crates: <%= order.order_content.crate ||= "n/a" %>
                  <br>
                  Pallets: <%= order.order_content.pallet ||= "n/a" %>
                  <br>

                  <% if is_nil_and_zero(order.order_content.other) == false %>
                     <%= "Other: #{order.order_content.other}" %>
                    <br>
                    <%= "Description: #{order.order_content.other_description}" %>
                  <% end %>

                <% end %>
              <% end %>
            </td>

            <td class="pl-4 pb-4 px-2">
              <%= link_to 'Show', order %> |
              <%= link_to 'Edit', edit_order_path(order) %> |
              <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
