<% content_for :page_heading_button do %>

  <div class="grid space-y-3 sm:inline-block sm:space-y-0">
    <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_edit", locals: {
      # with_turbo_modal: true,
      link_to_path: edit_vendor_path(@vendor),
      link_to_text: "Edit vendor",
    } %>

    <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
      with_turbo_modal: true,
      link_to_path: new_vendor_order_path(@vendor),
      link_to_text: "Add vendor order",
    } %>
  </div>

<% end %>

<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "#{@vendor.name} Active Orders" %>
  <%= render partial: "vendors/page_heading_card" %>
<% end %>

<%#= render @vendor %>

<% content_for :table_section_heading_description_text do %>
    All active orders belonging to <%= content_tag :span, @vendor.name, class:'font-bold' %> that have not yet been completed.
<% end %>

<%= render partial: "/orders/table", locals: {
  table_turbo_frame_tag: "orders",
  orders: @orders,
  pagy: @pagy,
  table_section_heading_title: "#{@vendor.name}: Active Orders",
  table_section_heading_description: yield(:table_section_heading_description_text),
  table_title: "Active Orders Table",
} %>
