
<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
    with_turbo_modal: true,
    link_to_path: new_purchaser_order_path(@purchaser),
    link_to_text: "Add ship order",
  } %>
<% end %>

<% content_for :page_heading_card do %>

  <%= turbo_stream.update "card_title", "#{@purchaser.name}" %>

  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        is_active_card: true,
        card_title: "All ship orders",
        card_description: @purchaser.orders.count,
        card_link: (link_to "View all ship orders", purchaser_orders_path(@purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Active ship orders",
      card_description: @purchaser.orders.unarchived.count,
      card_link: (link_to "View active ship orders", purchaser_path(@purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/purchaser"),
      } %>

      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
      card_title: "Completed ship orders",
      card_description: @purchaser.orders.archived.count,
      card_link: (link_to "View completed ship orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
      } %>

    </div>
  <% end %>

<% end %>

<%= turbo_frame_tag "all_orders", src: all_purchaser_orders_path(@purchaser), loading: "lazy" do %>

  <div class="h-full w-full p-4 bg-slate-300 opacity-25 animate-pulse ">
    <div class="flex justify-center opacity-100">
    <%= render partial: "/layouts/stacked_shell/headings/icons/loading" %>
    </div>
  </div>

<% end %>
