<% @page_heading_title = "New Ship Order" %>

<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: purchaser_orders_path(@purchaser),
    fallback_location_text: "View purchaser orders",
  } %>
<% end %>

<div class="w-full">
  <div class="flex justify-center sm:justify-start">
    <div class="flex-wrap text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>
      <div class="text-gray-900 font-medium"> New Ship Order </div>
    </div>
  </div>
  <%#= @order.inspect %>
  <%= render 'orders/form', order: @order, purchaser: @purchaser %>
  <%#= render 'purchasers/orders/form', order: @order, purchaser: @purchaser %>
</div>

<% if request.variant and request.variant == [:turbo_frame]  %>
  <%= turbo_frame_tag :modal do %>
    <div data-controller="turbo-modal" data-action="turbo:submit-end->turbo-modal#submitEnd">

      <% content_for :new_order_modal_title, flush: true do %>
        <%= link_to "New Ship Order", new_purchaser_order_path(@purchaser), target: "_top", class:"font-medium underline text-indigo-600 hover:text-indigo-800 hover:cursor-pointer" %>
      <% end %>

      <%= render "/layouts/stacked_shell/modal", modal_title: yield(:new_order_modal_title) do %>
        <%# new_order.build_order_content %>
        <%= render '/orders/modal_form', order: @order %>
      <% end %>

    </div>
  <% end %>
<% end %>
