<%= content_tag :div, data: { search_target: "result" }, class: "result", id: "#{dom_id result}" do -%>
  <% if local_assigns[:details] %>
    <div class="w-full min-h-full">
      <details class="bg-white rounded-md group hover:bg-gray-50 hover:ring-offset-4 hover:ring-4 hover:ring-slate-100 hover:cursor-default">
        <summary class="m-3">
          <div class="w-full h-full sm:-ml-1.5 text-center sm:text-left">
            <div class="sm:flex sm:justify-between">
              <div class="h-full sm:inline-flex">
                <div class="hidden sm:flex sm:justify-center sm:items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </div>
                <div class="h-full text-lg sm:text-md text-gray-800">
                  <%= title %>
                </div>
              </div>
              <div class="h-full sm:inline-flex text-xs sm:-mr-3">
                <%= match_title %>
              </div>
            </div>
          </div>
          <div class="font-semibold text-gray-900 mb-1 sm:flex sm:space-x-3">
            <div class="text-center sm:text-left">
              Ship:
              <%= link_to result.purchaser_name, purchaser_orders_path(result.purchaser, status: Order.get_status_group(result.status)), target: '_top', class: 'inline-block text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer' %>
            </div>
            <div class="text-center sm:text-left">
              Vendor:
              <%= link_to result.vendor_name, vendor_orders_path(result.vendor, status: Order.get_status_group(result.status)), target: '_top', class: 'inline-block text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer' if authorized_internal_user? %>
              <%= content_tag(:p, result.vendor.name, class:"inline-block text-md font-normal hover:cursor-pointer") if !authorized_internal_user? %>
            </div>
          </div>
        </summary>
        <span id="" class="inline-block w-full border border-slate-100 bg-white">
          <%= turbo_frame_tag dom_id(result, :thumbnail), loading: :lazy, src: hovercard_order_path(result) do %>
            <span class="animate-pulse p-4">
              <span class="my-3">Loading...</span>
            </span>
          <% end %>
        </span>
      </details>
    </div>
  <% else %>
    <div class="bg-white w-full min-h-full rounded-md group hover:bg-gray-50  hover:ring-offset-4 hover:ring-4 hover:ring-slate-100 hover:cursor-default">
      <div class="w-full min-h-full ">
        <div class="hoverWrapper ">
          <div class="m-3">
            <span class="text-lg sm:text-md text-gray-800 inline-flex align-baseline text-center"> Order <%= result.id %></span>
            <div class="">
              <span class="font-semibold text-gray-900 mb-1">
                Ship:
                <%= link_to result.purchaser_name, purchaser_orders_path(result.purchaser, status: Order.get_status_group(result.status)), method: :get, target: '_top', class: "text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" %>
              </span>
              <span class="font-semibold text-gray-900 mb-1">
                Vendor:
                <%= link_to result.vendor.name, vendor_orders_path(result.vendor, status: Order.get_status_group(result.status)), method: :get, target: '_top', class: "text-md font-normal text-cyan-700 hover:text-cyan-900 hover:cursor-pointer" if authorized_internal_user? %>
                <%= content_tag(:p, result.vendor.name, class:"text-md font-normal hover:cursor-pointer") if !authorized_internal_user? %>
              </span>
            </div>
          </div>
          <span id="hoverContent" class="inline-block h-full border border-slate-100 bg-white">
            <%= turbo_frame_tag dom_id(result, :thumbnail), loading: :lazy, src: hovercard_order_path(result) do %>
              <span class="animate-pulse p-4">
                <span class="my-3">Loading...</span>
              </span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
<% end -%>
