  <div class="pt-8">
    <%= render "sunset_searches/search_bar" %>
  </div>
  <div id="scroll-to-top">
  </div>
  <!-- Above Header Nav Tabs -->
  <div class="container">
    <div class="mb-4">
      <div class="-mb-5">
        <%= render "shared/top_header_card_tabs" %>
      </div>
    </div>
  </div>

  <div class="bg-white p-4 -mt-4">
      <!-- Top Right Header Content -->
      <div class="text-right">
        <div>
          <br>
          <div>
            <span>
              <%= yield(:top_right_header_content) %>
                <%= link_to "#{current_user.email  }", dashboard_path, class:"text-gray-500" %>
            </span>
          </div>
        </div>
      </div>
      <!-- Header Titles -->
      <div class="pb-4">
            <div class="text-4xl">
              <%= yield(:title) %>
            </div>

            <div class="text-3xl">
              <%= yield(:subtitle) %>
            </div>

            <div class="text-2xl">
              <%= yield(:subtitle_two) %>
            </div>

            <div class="text-2xl">
              <%= yield(:subtitle_three) %>
            </div>
        </div>

        <% if display_edit_toggle? %>
          <div class="container">
          <%= render 'shared/edit_toggle' %>
          </div>
        <% end %>

        <div class="container">
          <%= yield(:edit_toggle) %>
        </div>
  </div>
