<div class="pl-2 mb-1">
  <div class="nav nav-tabs">
    <ul class="row flex-nowrap -mb-4">

        <li class="nav-link my-auto -mb-2 -mx-2 topHeaderNavTab transition duration-500 ease-in-out bg-indigo-100 hover:bg-white transform hover:-translate-y-1 hover:scale-110 hover:font-bold hover:opacity-100
        <%= class_names(active: controller_name == 'dashboard') %>
        <%= class_names(selectedTopHeaderNavTab: controller_name == 'dashboard') %>">
          <%= link_to "Dashboard", dashboard_path, class:"-mr-2 px-1 hover:pr-1" %>
        </li>

        <li class="nav-link my-auto -mb-2 -mx-2 topHeaderNavTab transition duration-500 ease-in-out bg-indigo-100 hover:bg-white transform hover:-translate-y-1 hover:scale-110 hover:font-bold hover:opacity-100
        <%= class_names(active: controller_name == 'orders') %>
        <%= class_names(selectedTopHeaderNavTab: controller_name == 'orders') %>">
          <%= link_to "Orders", orders_path, class:"-mr-2 px-1 hover:pr-1" %>
        </li>

        <li class="nav-link my-auto -mb-2 -mx-2 topHeaderNavTab transition duration-500 ease-in-out bg-indigo-100 hover:bg-white transform hover:-translate-y-1 hover:scale-110 hover:font-bold hover:opacity-100
        <%= class_names(active: controller_name == 'purchasers') %>
        <%= class_names(selectedTopHeaderNavTab: controller_name == 'purchasers') %>">
          <%= link_to "Ships", purchasers_path, class:"-mr-2 px-1 hover:pr-1" %>
        </li>

        <li class="nav-link my-auto -mb-2 -mx-2 topHeaderNavTab transition duration-500 ease-in-out bg-indigo-100 hover:bg-white transform hover:-translate-y-1 hover:scale-110 hover:pr-4 hover:mr-4 hover:font-bold hover:opacity-100
        <%= class_names(active: controller_name == 'vendors') %>
        <%= class_names(selectedTopHeaderNavTab: controller_name == 'vendors') %>">
          <%= link_to "Vendors", vendors_path, class:"-mr-2 px-1 hover:pr-1" %>
        </li>
    </ul>
  </div>
</div>
