<section data-controller="counter">
  <div>
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Boxes
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= tag.span local_assigns[:order_content_form].object.packaging_materials.boxes.size, id:'packaging_materials_box_count', data: {"counter-target": "counterElement"} %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <%= link_to new_packaging_material_path(type: 'PackagingMaterial::Box', target:'packaging_materials' ), method: :get, data: {turbo_stream: true, "counter-target-param": "packaging_materials_box_count", 'action': 'counter#add'} do %>
          <button type="button" class="relative inline-flex items-center rounded-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add box</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="my-3 mt-2">
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Crates
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= tag.span local_assigns[:order_content_form].object.packaging_materials.crates.size, id:'packaging_materials_crate_count', data: {"counter-target": "counterElement" } %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <%= link_to new_packaging_material_path(type: 'PackagingMaterial::Crate', target:'packaging_materials' ), method: :get, data: {turbo_stream: true, "counter-target-param": "packaging_materials_crate_count", 'action': 'counter#add'} do %>
          <button type="button" class="relative inline-flex items-center rounded-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add crate</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="my-3 mt-2">
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Pallets
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= tag.span local_assigns[:order_content_form].object.packaging_materials.pallets.size, id:'packaging_materials_pallet_count', data: {"counter-target": "counterElement" } %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <%= link_to new_packaging_material_path(type: 'PackagingMaterial::Pallet', target:'packaging_materials' ), method: :get, data: {turbo_stream: true, "counter-target-param": "packaging_materials_pallet_count", 'action': 'counter#add'} do %>
          <button type="button" class="relative inline-flex items-center rounded-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add pallet</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        <% end %>
      </div>
    </div>
  </div>
  <% display_other_field_css = (local_assigns[:order_content_form].object.packaging_materials.others.size > 0) ? '' : 'hidden' %>
  <div class="<%= display_other_field_css %> my-3 mt-2">
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Others
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= tag.span local_assigns[:order_content_form].object.packaging_materials.others.size, id:'packaging_materials_other_count', data: {"counter-target": "counterElement" } %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <%= link_to new_packaging_material_path(type: 'PackagingMaterial::Other', target:'packaging_materials' ), method: :get, data: {turbo_stream: true, "counter-target-param": "packaging_materials_other_count", 'action': 'counter#add'} do %>
          <button type="button" class="relative inline-flex items-center rounded-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add other</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        <% end %>
      </div>
    </div>
  </div>
    <div class="w-auto">
      <ul class="list-decimal">
        <% if (local_assigns[:order_content_form].object.persisted? || !local_assigns[:order_content_form].object.new_record?) %>
          <%= local_assigns[:order_content_form].fields_for :packaging_materials do |packaging_materials_form| %>
            <%= tag.span class:"block w-full" do %>
              <%= render partial: "/packaging_materials/nested_field", locals: {
                form: packaging_materials_form,
              } %>
            <% end %>
          <% end %>
        <% end %>
        <%# NOTE packaging_materials fields prepended to span '#packaging_materials' below%>
        <%= tag.span id: "packaging_materials" %>
      </ul>
    </div>
</section>
