<% packaging_material = form.object %>
<% description_value = form.object ? form.object.description : nil %>
<%= tag.span data: { "counter-target": "element", controller: 'click-hidden toggle', "toggle-target": "toggleable", "css-class": "hidden"  }, class: type_name do %>
  <!-- <li> -->
    <div class="my-3 bg-gray-50 py-3 flex justify-around text-xs">
      <%= local_assigns[:form].hidden_field :id %>
      <div>
        <%= local_assigns[:form].label :type, 'Type', class: "block mb-1 font-medium" %>
        <% select_type_css = "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 text-xs shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
        <%= form.select :type, PackagingMaterial::Packageable::TYPE_NAMES.collect {|pm| [pm, "PackagingMaterial::#{pm}"]}, { selected: "PackagingMaterial::#{type_name.classify}" }, { class: select_type_css } %>
      </div>
      <div>
        <%= local_assigns[:form].label :description, "Description", class: "block mb-1 font-medium" %>
        <%= local_assigns[:form].text_field :description, class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 text-xs shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600", placeholder: 'e.g. OV' if @description.nil? %>
        <%= local_assigns[:form].text_field :description, value: @description, class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 text-xs shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600", placeholder: 'e.g. OV' unless @description.nil? %>
      </div>
      <div class="justify-self-start">
        <div class="mt-1 flex space-x-1 sm:space-x-1.5">
          <% if form.object && !form.object.new_record? %>
            <%= link_to new_packaging_material_path(type_name: type_name, description: description_value, target: target), method: :get, data: {turbo_stream: true, "counter-target-param": "packaging_materials_#{type_name}_count", 'action': 'counter#add'} do %>
              <button type="button" class="mt-3 sm:mt-3.5 font-medium inline-flex items-center gap-x-1.5 rounded-md bg-indigo-100 px-2.5 py-1.5 text-indigo-700 shadow-sm hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                <span class="sr-only">copy <%= type_name %></span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 h-5 text-xs">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                </svg>
              </button>
            <% end %>
          <% end %>
          <%= local_assigns[:form].check_box :_destroy, data: {"click-hidden-target": "clickable" }, class: "hidden" %>
          <%= button_tag type: 'button',
            data: { "counter-target-param": "packaging_materials_#{type_name}_count", "action": "counter#subtract click->click-hidden#clickElement click->toggle#toggle" },
            class: "mt-3 sm:mt-3.5 font-medium inline-flex items-center gap-x-1.5 rounded-md bg-red-100 px-2.5 py-1.5 text-red-700 shadow-sm hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-red-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ml-0.5 h-5 h-5 text-xs">
              <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  <!-- </li> -->
<% end %>
