<% col_css_classes = "whitespace-nowrap px-2 py-2 text-sm" %>

<% first_col_css_classes = "#{col_css_classes} -px-2 py-2 pl-4 pr-3 sm:pl-0 text-gray-500" %>
<% last_col_css_classes = "relative #{col_css_classes} py-2 -px-2 pl-3 pr-4 text-right font-medium sm:pr-0" %>

<% primary_col_css_classes = "#{col_css_classes} font-medium text-gray-900" %>
<% secondary_col_css_classes = "#{col_css_classes} text-gray-500 cursor-default" %>

<% td_link_css_classes = "text-indigo-600 hover:text-indigo-800" %>

<!-- FIRST COL -->
<% if query.present? %>
  <td class="<%= first_col_css_classes %>">
    <%= "Result: #{resource.paginated_offset += 1}"%>
  </td>
<% end %>

<% selected_table_options.each_with_index do |option, index| %>

  <% is_primary_option = option.in? ["id", "ship_name", "vendor_name", "order_content"] %>
  <% td_css_classes = is_primary_option ? primary_col_css_classes : secondary_col_css_classes %>

  <td class=" <%= td_css_classes %>	">
    <% case option %>
    <% when 'id' %>
      <%= link_to "#{order.id}", order_path(order), class: td_link_css_classes %>

    <% when 'order_sequence' %>
      <%= order.try(:order_sequence) || 0 %>

    <% when 'dept' %>
      <%= order.try(:dept).present? ? order.try(:dept) : 'n/a' %>

    <% when 'ship_name' %>
      <%= order.try(:purchaser) ? (link_to "#{order.purchaser.name}", purchaser_path(order.purchaser), class: td_link_css_classes) : 'n/a' %>

    <% when 'vendor_name' %>
      <%= order.try(:vendor) ? (link_to "#{order.vendor.name}", vendor_path(order.vendor), class: td_link_css_classes) : 'n/a' %>

    <% when 'po_number' %>
      <%= order.try(:po_number) || '' %>

    <% when 'tracking_number' %>
      <%= order.try(:tracking_number) || '' %>
  
    <% when 'date_recieved' %>
      <%= order.try(:date_recieved) ? order.date_recieved.try(:strftime,"%m/%d/%Y") : 'n/a' %>

    <% when 'order_content' %>
    <% if order.try(:order_content).present?%>
      <% content = order.order_content %>
      <%= link_to order_path(order) do %>
        <span class="<%= td_link_css_classes %>">
          Boxes: <%= content.try(:box) || '0' %>
          <br>
          Crates: <%= content.try(:crate) || '0' %>
          <br>
          Pallets: <%= content.try(:pallet) || '0' %>
          <br>
          Other: <%= content.try(:other) || '0' %>
          <br>
          <%  if content.other.present? && content.other_description.present? %>
          Other Desc:
          <% end %>
          <% if content.other.present? && content.other_description.present? %>
            <span class=" whitespace-normal text-gray-500">
              <%= content.other_description.length >= 25 ? "#{content.other_description[0..25]...}" : "Description: #{content.other_description}" if content.other_description %>
            </span>
          <% end %>
        </span>
      <% end %>
    <% end %>

    <% when 'courrier' %>
      <%= order.try(:courrier) || '' %>

    <% when 'date_delivered' %>
      <%#= order.try(:date_delivered) ? order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>
      <div class="text-center">
        <%= order.try(:date_delivered) ? order.date_delivered.try(:strftime,"%m/%d/%Y") : 'n/a' %>
      </div>

    <% end %>
  </td>
<% end %>
