<% css_td = "whitespace-nowrap px-3 py-4 text-sm text-gray-500" %>
<% css_td_first = "whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0" %>
<% css_td_last = "relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm sm:pr-0" %>

<% css_td_anchor = "text-indigo-600 hover:text-indigo-900" %>

<%= tag.span id: dom_id(order), class: "table-row" do %>
  <tr>
    <td data-table-target="td" class="<%= css_td_first %>">
      <%= link_to order.id, order_path(order), target: '_top', class: 'text-indigo-600 hover:text-indigo-900' %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= tag.span order.order_sequence %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= tag.span order.status %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= tag.span order.dept %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= link_to order.purchaser_name, purchaser_orders_path(order.purchaser), data: { turbo_frame: "orders", turbo_action: "advance" }, class: 'text-indigo-600 hover:text-indigo-900' %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= link_to order.vendor_name, vendor_orders_path(order.vendor), data: { turbo_frame: "orders", turbo_action: "advance" }, class: 'text-indigo-600 hover:text-indigo-900' %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= tag.span order.po_number %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= tag.span (order.date_recieved.strftime("%m/%d/%Y")) if order.date_recieved? %>
      <%= tag.span "n/a" unless order.date_recieved? %>
    </td>

    <td data-table-target="td" class="<%= css_td %>">
      <%= tag.span order.order_content %>
    </td>

    <td class="<%= css_td %>">
      <%= tag.span order.courrier %>
    </td>

    <td class="<%= css_td %>">
      <%= tag.span (order.date_delivered.strftime("%m/%d/%Y")) if order.date_delivered? %>
      <%= tag.span "n/a" unless order.date_delivered? %>
    </td>

    <td class="<%= css_td_last %>">
      <%#= link_to order.id, edit_order_path(order), target: '_top', class: 'text-indigo-600 hover:text-indigo-900' %>
      <%= link_to "edit", edit_order_path(order), data: {turbo_frame: "modal" }, class: "text-indigo-600 hover:text-indigo-900" if authorized_internal_user? %>
    </td>
  </tr>
<% end %>
