<nav id="desktop-nav" class="border-b border-gray-700 bg-gray-800 lg:border-none">
  <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
    <div class="relative flex h-16 items-center justify-between lg:border-b lg:border-indigo-400 lg:border-opacity-25">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <div class="h-8 w-auto">

            <% navbar_brand_url = user_signed_in? ? dashboard_path : root_path %>
            <%= link_to "LMS", navbar_brand_url, class:"mt-0.5 text-slate-200 hover:text-slate-100 text-lg sm:text-xl lg:text-2xl inline-block h-8 w-auto" %>

          </div>
        </div>
        <div class="hidden lg:ml-10 lg:block">
          <div class="flex space-x-4">

            <% desktop_navigation_resource_css_classes = "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm" %>
            <% desktop_navigation_resource_css_classes_current = "bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" %>

            <% if current_user %>
              <%= link_to "Dashboard", dashboard_path, class: desktop_navigation_resource_css_classes_current if current_page?(dashboard_path) %>
              <%= link_to "Dashboard", dashboard_path, class: desktop_navigation_resource_css_classes if !current_page?(dashboard_path) %>

              <%= link_to "Orders", orders_path, class: desktop_navigation_resource_css_classes_current if current_page?(orders_path) %>
              <%= link_to "Orders", orders_path, class: desktop_navigation_resource_css_classes if !current_page?(orders_path) %>

              <%= link_to "Ships", purchasers_path, class: desktop_navigation_resource_css_classes_current if current_page?(purchasers_path) %>
              <%= link_to "Ships", purchasers_path, class: desktop_navigation_resource_css_classes if !current_page?(purchasers_path) %>

              <%= link_to "Vendors", vendors_path, class: desktop_navigation_resource_css_classes_current if current_page?(vendors_path) %>
              <%= link_to "Vendors", vendors_path, class: desktop_navigation_resource_css_classes if !current_page?(vendors_path) %>
            <% end %>

          </div>
        </div>
      </div>
      <!-- search input -->
      <div class="flex flex-1 justify-center px-2 lg:ml-6 lg:justify-end">
        <div class="w-full max-w-lg lg:max-w-xs">
          <label for="search" class="sr-only">Search</label>
          <div class="relative text-gray-400 focus-within:text-gray-600">
            <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
              </svg>
            </div>

            <!--
            NOTE : search_input_placeholder_text (tmp) defined in: layouts/stacked_shell
           -->
            <input id="search" class="block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600 sm:text-sm sm:leading-6" placeholder="<%= search_input_placeholder_text %>" type="search" name="search">

          </div>
        </div>
      </div>
      <div class="hidden lg:ml-4 lg:block">
        <div class="flex items-center">
          <div data-controller="visibility" data-visibility-value-toggled="false" class="relative ml-3 flex-shrink-0">
            <div>
              <button type="button"  data-action="visibility#toggleTargets" class="flex rounded-md bg-gray-800 text-sm text-gray-400 border-2 border-gray-400 transition ease-in-out delay-150 hover:scale-105 duration-100 hover:border-slate-100 p-1 hover:text-slate-100 hover:text-md focus:ring-1 focus:ring-slate-200 focus:ring-offset-slate-100" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <!--
              Dropdown menu, show/hide based on menu state.
              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div data-visibility-target="hideable" hidden class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

              <% profile_dropdown_navigation_css_classes = "block py-2 px-4 text-sm text-gray-500 hover:text-gray-600 hover:bg-slate-50" %>
              <% profile_dropdown_navigation_css_classes_current = "block py-2 px-4 text-sm text-gray-600 font-medium bg-slate-100" %>

              <% if current_user %>
                <%= link_to "Account Settings", edit_user_registration_path, class: profile_dropdown_navigation_css_classes_current, role:"menuitem", tabindex:"-1" if current_page?(edit_user_registration_path) %>
                <%= link_to "Account Settings", edit_user_registration_path, class: profile_dropdown_navigation_css_classes, role:"menuitem", tabindex:"-1" if !current_page?(edit_user_registration_path) %>

                <%= link_to "Logout", signout_path, method: :delete, class: profile_dropdown_navigation_css_classes_current, role:"menuitem", tabindex:"-1" if current_page?(signout_path) %>
                <%= link_to "Logout", signout_path, method: :delete, class: profile_dropdown_navigation_css_classes, role:"menuitem", tabindex:"-1" if !current_page?(signout_path) %>
              <% end %>

              <% if !current_user %>
                <%= link_to "Home", root_path, class: profile_dropdown_navigation_css_classes_current, role:"menuitem", tabindex:"-1" if current_page?(root_path) %>
                <%= link_to "Home", root_path, class: profile_dropdown_navigation_css_classes, role:"menuitem", tabindex:"-1" if !current_page?(root_path) %>

                <%= link_to "Sign In", sign_in_path, role:"menuitem", tabindex:"-1", class: profile_dropdown_navigation_css_classes_current if current_page?(sign_in_path) %>
                <%= link_to "Sign In", sign_in_path, role:"menuitem", tabindex:"-1", class: profile_dropdown_navigation_css_classes if !current_page?(sign_in_path) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
