<!-- ************************* -->
<!-- components < application-ui < lists < tables -->
<!-- With condensed content  -->
<!-- https://tailwindui.com/components/application-ui/lists/tables#component-fa5d8b35366e1921290491bd08878e0b -->
<!-- https://tailwindui.com/components/application-ui/lists/tables#component-fa5d8b35366e1921290491bd08878e0b -->
<!-- https://tailwindui.com/components/application-ui/lists/tables#component-fa5d8b35366e1921290491bd08878e0b -->
<!-- https://tailwindui.com/components/application-ui/lists/tables#component-fa5d8b35366e1921290491bd08878e0b -->
<!-- ************************* -->
<div class="pt-7 px-4 sm:px-6 lg:px-8">
  <div class="flex sm:items-center">
    <div class="flex-auto">
      <!-- <h1 class="text-base font-semibold leading-6 text-gray-900">Sticky condensed Orders</h1>
      <p class="mt-2 text-sm text-gray-700">A table of placeholder stock market data that does not make any sense.</p> -->
      <h1 class="text-3xl font-semibold leading-6 text-gray-900">Orders</h1>
    </div>
    <div data-controller="dropdown" class="relative inline-block text-right">
      <div class="">
        <% if resource.first_page_disabled? %>
          <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
            Page 1/1
            <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        <% else %>
        <button type="button" type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
          Page: <%= "#{resource.humanized_current_page}/#{resource.humanized_total_pages}"%>
          <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
        <% end %>
      </div>
      <div data-dropdown-target="menu" class="hidden transition transform origin-top-right absolute right-0 z-10 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95">
        <div class="p-1 text-sm whitespace-nowrap">
          <% (resource.humanized_total_pages).times do | page_number, index | %>
            <% display_offset_page_number = page_number += 1 %>
            <% display_selected_current_page = "selected" %>
            <% selected_page = (resource.humanized_current_page) == display_offset_page_number ? true : false %>

            <% if selected_page == true %>
              <%= link_to "#{display_offset_page_number}/#{resource.total_pages + 1  } (current page)", request.params.merge(q: query, page: (display_offset_page_number - 1) ), class:'bg-gray-100 block px-4 py-2 text-sm text-gray-700 font-semibold "' %>
            <% else %>
              <%= link_to "#{display_offset_page_number}/#{resource.total_pages + 1 }", request.params.merge(q: query, page: (display_offset_page_number - 1) ), class:'text-gray-700 block px-4 py-2 text-sm hover:bg-gray-50' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <!-- ORIGINAL/ DEFAULT TO TABLE thead tr -->
            <!-- <tr>
              <th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Order ID</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Dept</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Ship Name</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Vendor Name</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">PO Number</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Tracking Number</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Date Recieved</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Content</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Courrier</th>
              <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Date Delivered</th>
              <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr> -->
            <tr>
              <% first_th_css_classes = "whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0" %>
              <% th_css_classes = "whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900" %>
              <% last_th_css_class = "whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0" %>

              <% selected_table_options =  resource.table_option.selected_options %>
              <% selected_table_options.delete('order_sequence') %>

              <% selected_table_options.each_with_index do | option, index | %>
                <% current_th_css_classes = th_css_classes %>
                <% current_th_css_classes = first_th_css_classes if option == selected_table_options.first %>
                <%###### ****** may need to modify ___last_th_css_class___ for admin edits ******  %###### %>
                <% current_th_css_classes = last_th_css_class if option == selected_table_options.last %>

                <% if option.in? TableOptionsHelper.sortable_ths  %>
                  <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">
                  <%= link_to(request.params.merge(q: query, sort_option: "#{option}", sort_direction: sort_direction)) do %>
                    <div href="#" class="group inline-flex">
                      <%= option.titleize %>
                      <span class="ml-2 flex-none rounded bg-gray-100 text-gray-900 group-hover:bg-gray-200">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                  <% end %>
                  </th>
                <% else %>
                  <th class="<%= current_th_css_classes %>">
                    <%= option.titleize %>
                  </th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% orders.each do |order| %>
              <tr class="hover:bg-gray-100">
                <%= render partial: "/orders/remix/table/row", locals:{
                  order: order,
                  } %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <%= render partial:"/orders/remix/table/pagination", locals:{
    orders: orders,
    }  %>
</div>
