<%= form.fields_for :packaging_materials, local_assigns[:order_content].packaging_materials do |ff| %>
  <fieldset class="">
    <!-- <div class="grid grid-flow-row auto-rows-max my-3">
      <div class="my-3 p-3 bg-green-100">
        <%= ff.object.inspect %>
      </div>
      <div class="my-3 p-3 bg-green-100">
        <%= order_content.inspect %>
      </div>
    </div> -->
    <legend class="text-xl text-left mb-3">Packaging material</legend>
      <div class="inline-block max-w-full grid grid-cols-3 gap-3 content-evenly">
        <div class="col-span-1 mx-auto">
          <%= ff.label :type, 'Type', class: "text-sm font-medium " %>
          <br>
          <%= ff.select :type, PackagingMaterial.types_options, {}, { class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm"} %>
        </div>
        <div class="col-span-1 mx-auto">
          <%= ff.label :description, "Description", class: "text-sm font-medium  " %>
          <br>
          <%= ff.text_field :description, class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" %>
        </div>

        <div class="col-span-1 mx-auto">
          <%= ff.label :_destroy, 'Remove', class: "text-sm font-medium  " %>
          <br>
          <%= ff.check_box :_destroy, class: "hover:cursor-pointer rounded-md border-0 p-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm" %>
        </div>
      </div>
      <%= ff.hidden_field :id %>
  </fieldset>
<% end %>
