<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: @order_content,
    fallback_location_text: "Back to order content",
  } %>
<% end %>
<article>
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Packaging Materials</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
    </div>
    <div class="sm:ml-16 sm:mt-0 sm:flex-none">
      <%= button_to(
        "Add packaging material",
        new_order_content_packaging_material_path(@order_content),
        method: :get,
        class:'block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
      ) %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <turbo-frame id="packaging_materials" class="bg-current">
      <div class="block">
        <div class="border-b border-gray-200">
          <nav class="-mb-px flex space-x-5" aria-label="Tabs">
            <% current_tab_css = "border-indigo-500 text-indigo-600 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" %>
            <% default_tab_css = "border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 flex whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium" %>
            <% current_tab_css_count = "bg-indigo-100 text-indigo-600 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block" %>
            <% default_tab_css_count = "bg-gray-100 text-gray-900 ml-3 hidden rounded-full py-0.5 px-2.5 text-xs font-medium md:inline-block" %>
            <% PackagingMaterialDecorator.index_path_options(@order_content).keys.each do |key| %>
              <% key_val = PackagingMaterialDecorator.index_path_options(@order_content)[key] %>
              <% on_current_page = (current_page?(url_for(send("#{key_val[:path]}", @order_content)))) %>
              <% tab_css = on_current_page ? current_tab_css : default_tab_css %>
              <% tab_count_css = on_current_page ? current_tab_css_count : default_tab_css_count %>
              <%= tag.span class: tab_css do %>
                <%= link_to send("#{key_val[:path]}", @order_content) do %>
                  <%= tag.span class: "flex space-x-1" do %>
                    <%= tag.span key_val[:title] %>
                    <%= tag.span @order_content.packaging_materials.send(key_val[:title].downcase ).size, class: tab_count_css %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </nav>
        </div>
      </div>
      <div class="bg-white m-3 sm:p-3 rounded-b-md rounded-r-md shadow">
        <% if @packaging_materials.size == 0 %>
          <div class="bg-slate-50 w-full h-full p-6 text-center">
            <% if authorized_internal_user? %>
              <%= tag.h3 "No packaging material #{(params[:type] if params[:type])}", class:"mt-2 text-sm font-semibold text-gray-900" %>
              <%= tag.p "Edit order to add new packaging material", class: "mt-1 text-sm text-gray-500" %>
            <% else %>
              <p class="text-md font-semibold text-gray-900"> No packaging material<%= " '#{params[:type]}'" if params[:type] %> </p>
            <% end %>
          </div>
        <% end %>
        <% unless @packaging_materials.size == 0 %>
          <div class="overflow-x-auto -mx-4 sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full align-middle sm:px-6 lg:px-8">
              <table class="min-w-full bg-white divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Packaging Material</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                    <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                      <span class="sr-only">Delete</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                  <% @packaging_materials.each do |packaging_material| %>
                    <%= render partial: '/packaging_materials/packaging_material', locals: {
                        packaging_material: packaging_material,
                    } %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
      <!-- <%# if authorized_internal_user? %>
        <%# case request.path %>
        <%# when order_content_packaging_materials_path(@order_content) %>
            <%# button_text_packaging_material = "New packaging material" %>
            <%# button_packaging_material_path = new_order_content_packaging_material_path(@order_content) %>
        <%# when order_content_packaging_material_boxes_path(@order_content) %>
            <%# button_text_packaging_material = "New packaging material- box" %>
            <%# button_packaging_material_path = new_order_content_packaging_material_box_path(@order_content) %>
        <%# when order_content_packaging_material_crates_path(@order_content) %>
            <%# button_text_packaging_material = "New packaging material- crate" %>
            <%# button_packaging_material_path = new_order_content_packaging_material_crate_path(@order_content) %>
        <%# when order_content_packaging_material_pallets_path(@order_content) %>
            <%# button_text_packaging_material = "New packaging material- pallet" %>
            <%# button_packaging_material_path = new_order_content_packaging_material_pallet_path(@order_content) %>
        <%# when order_content_packaging_material_others_path(@order_content) %>
          <%# button_text_packaging_material = "New packaging material" %>
          <%# button_packaging_material_path = new_order_content_packaging_material_path(@order_content) %>
        <%# end %>
        <div class="inline-block w-full my-6">
          <div data-controller="visibility" data-visibility-value-toggled="false" class="w-full relative text-center">
            <button type="button" data-action="visibility#toggleTargets" class="w-full btn btn_outline_indigo" aria-controls="" aria-expanded="false">
              <%#= button_text_packaging_material %>
            </button>
            <div data-visibility-target="hideable" hidden class="max-w-full mx-auto bg-gray-50" id="sub-menu-1">
              <div class="mx-auto">
                <%#= turbo_frame_tag "new_packaging_material", src: button_packaging_material_path, loading: "lazy" do %>
                  <%#= tag.p 'Loading packaging materials...' %>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      <%# end %> -->
    </turbo-frame>
  </div>
</article>
