<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: @order_content,
    fallback_location_text: "View order content",
  } %>
<% end %>
<%= tag.h1 "New packaging material#{(params[:type].in? PackagingMaterial.humanized_types) ? (' (' + params[:type].downcase + ')' ) : ''}" %>
<turbo-frame id="new_packaging_material">
  <%= form_with model: [@order_content, @packaging_material] do |form| %>
    <div class="mx-auto">
      <% if form.object.errors.any? %>
        <div data-controller="notification" data-notification-delay-value="10000000000" class="w-full p-4 rounded-md bg-red-100 mb-3" id="msg-container">
          <div class="text-right">
            <button type="button" data-action="notification#hide" class="inline-flex justify-self-end rounded-md text-red-800 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5 text-red-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>

          <div class="-mt-5 grid justify-items-center">
            <div class="flex justify-around text-sm font-medium">
              <div class="text-red-800">
                There was <%= pluralize(form.object.errors.count, "error") %> with your submission
              </div>
            </div>
            <div class="mt-2 text-sm text-red-700">
              <ul role="list" class="list-disc space-y-1 ml-5">
                <% form.object.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% if !(params[:type].in? PackagingMaterial.humanized_types) %>
      <div class="inline-block">
        <div class="p-1 sm:p-0 grid-cols-2 sm:grid-cols-4 grid-rows-2 sm:grid-rows-1 gap-2 sm:gap-3 sm:flex">
          <div class="my-3 col-span-1 w-full">
            <%= form.select :type, PackagingMaterial.types_options, {}, class: "w-full text-sm rounded-md border-0 shadow-sm placeholder:text-gray-400 sm:py-1.5 sm:leading-6 ring-1 sm:ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
          </div>
          <div class="my-3 col-span-1 sm:col-span-2 w-full">
            <%= form.text_field :description, placeholder: 'e.g. OV', class: "w-full text-sm rounded-md border-0 shadow-sm placeholder:text-gray-400 sm:py-1.5 sm:text-sm sm:leading-6 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
          </div>
          <div class="mx-auto my-3 col-span-2 sm:col-span-1 w-full">
            <%= form.submit "Create packaging material", data: {turbo: false }, class: 'inline-flex flex-1 text-sm hover:cursor-pointer justify-center rounded-md bg-indigo-600 py-2 px-5 font-medium sm:font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
          </div>
        </div>
        <!-- <div class="grid grid-cols-2 sm:grid-cols-0 sm:flex ">
          <div class="col-span-1 sm:col-span-0 sm:w-1/4">
            <%= form.select :type, PackagingMaterial.types_options, {}, class: "w-full text-sm rounded-md border-0 shadow-sm placeholder:text-gray-400 sm:py-1.5 sm:leading-6 ring-1 sm:ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
          </div>
          <div class="grow w-2/4 sm:w-3/4">
            <%= form.text_field :description, placeholder: 'e.g. OV', class: "w-full text-sm rounded-md border-0 shadow-sm placeholder:text-gray-400 sm:py-1.5 sm:text-sm sm:leading-6 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
          </div>
          <div class="flex-1 w-1/4">
            <%= form.submit "Create packaging material", data: {turbo: false }, class: 'inline-flex flex-1 text-sm hover:cursor-pointer justify-center rounded-md bg-indigo-600 py-2 px-5 font-medium sm:font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
          </div> -->
        </div>
      </div>
    <% else %>
      <div class="my-3 w-full flex space-x-1 sm:space-x-3">
        <div class="grow w-3/4">
          <%= form.text_field :description, placeholder: 'e.g. OV', class: "w-full text-sm rounded-md border-0 shadow-sm placeholder:text-gray-400 sm:py-1.5 sm:text-sm sm:leading-6 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600" %>
        </div>
        <div class="grow -1/4">
          <%= form.submit "Create packaging material", data: {turbo: false }, class: 'inline-flex text-sm hover:cursor-pointer justify-center rounded-md bg-indigo-600 py-2 px-5 font-medium sm:font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' %>
        </div>
      </div>
    <% end %>
  <% end %>
</turbo-frame>
