<!-- Purpose: Test/edit views without bloating actual view -->
<!-- Render this modal for testing but edit content for modal in: app/views/shared/modal_for_testing/_content_for_modal_data.html.erb -->
<!-- Rendering self: <%#= render 'shared/modal_for_testing/content_for_modal' %> -->

<%= render 'shared/modal_for_testing/content_for_modal_data' %>
<% if content_for?(:content_for_modal_button_text) %>
      <%= yield(:content_for_modal_button_text) %>
<% elsif content_for?(:content_for_modal_link_text) %>
      <%= yield(:content_for_modal_link_text) %>
<% else %>
    <script type="text/javascript">
        alert('Nothing to trigger modal brodude, gotta put content_for_modal_button_text or content_for_modal_link_text to yeild')
    </script>
<% end %>

<!-- Modal -->
<div class="modal fade" id="contentForModal" tabindex="-1" role="dialog" aria-labelledby="contentForModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="contentForModalLabel">
          <% if content_for?(:content_for_modal_title) %>
            <%= yield(:content_for_modal_title) %>
          <% else %>
            Content For Modal
          <% end %>
        </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <%= yield(:content_for_modal_body) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
