<!-- overview card -->
<%#= is_active_card = false unless current_page?(card_link) %>
<%#= current_page?(card_link) %>
<%#= card_link %>

<% is_active_card ||= false %>
<% active_card_classes = "bg-slate-100 rounded-md ring ring-offset-4 ring-4
ring-gray-300" %>

<div class="<%= active_card_classes if is_active_card %>">
  <div class="overflow-hidden rounded-lg border border-gray-100 shadow">
    <div class="p-5">
      <div class="flex items-center">
        <% if local_assigns[:card_icon] %>
          <div class="flex-shrink-0">
            <%= card_icon %>
          </div>
        <% end %>
        <div class="ml-5 w-0 flex-1">
          <dl>
            <dt class="cursor-default truncate text-sm font-medium text-gray-500"> <%= card_title %> </dt>
            <dd>
              <div class="text-lg font-medium text-gray-900"> <%= card_description %> </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <% if local_assigns[:card_link] %>
      <div class="bg-gray-50 px-5 py-3">
        <div class="text-sm">
          <%= card_link %>
        </div>
      </div>
    <% end %>
  </div>
</div>
