<%# css_form_label = "block text-sm font-medium leading-6 text-gray-900" %>
<%# css_form_text_field = "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>

<!-- File title -->

<!-- purchaser/ship -->
<!-- vendor -->

<!-- orders? -->
<!-- purchaser_orders? -->
<!-- vendor_orders? -->
<!-- purchaser_and_vendor_orders? -->

<!-- orders -->
<!-- *** ordered by order_sequence *** -->


<%= tag.div class: "bg-white rounded-md p-3" do %>
  <%#= form_with url: export_orders_path, method: :get, data: { turbo_frame: "", turbo_action: "advance" } do |form| %>
  <%= form_with url: export_orders_path, method: :get, data: {} do |form| %>
    <%#= form.fields_for :filter, html: { multipart: true }  do |filter_form| %>
      <%#= tag.div do %>
      <%# end %>
    <%# end %>

    <%= tag.div do %>
      <%#= tag.div do %>
        <%#= form.label :purchaser_id, 'Ship', class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%#= form.select :purchaser_id, Purchaser.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, {}, { class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
      <%# end %>
      <%#= tag.div do %>
        <%#= form.label :vendor_id, 'Vendor', class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%#= form.select :vendor_id, Vendor.all.order(:name).collect  { |purchaser| [ purchaser.name, purchaser.id ] }, {}, { class: "hover:cursor-pointer rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"} %>
      <%# end %>
    <% end %>

    <%= tag.div class: "my-3 flex items-center justify-end gap-x-6" do %>
      <%= button_tag 'Cancel', type: 'button', class: "rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>


      <%= button_tag(type: 'submit', class: "") do %>
        <div class="btn btn_indigo inline-flex -ml-px items-center gap-x-1.5">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="-ml-0.5 h-5 w-5">
            <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
            <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
          </svg>
          <%= tag.span "Download orders", class: "whitespace-nowrap" %>
        </div>
      <% end %>
    <% end %>
    <!-- <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
      <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div> -->
  <% end %>
<% end %>
