<!DOCTYPE html>
<html class="min-h-full min-w-full">
  <head>
    <title>
      <%= content_for?(:head_title) ? "Documentality | #{yield(:head_title)}" : "Documentality" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="min-h-full bg-gray-100">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
