<!DOCTYPE html>
<html>
  <head>
    <title>LightningMarineServices</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-indigo-100 ">
    <%= render "layouts/nav"%>

    <div class="">
      <div class="h-screen">
        <div class="text-center">
              <div class="">

                <%= render "layouts/flash_messages" %>

                <% if user_signed_in? %>
                  <div class=" container pt-4">

                      <%= render "layouts/tabs" %>
                      <!-- Header Card -->
                      <div class="card p-4 -mt-4">


                        <div class=" d-flex justify-content-end">
                          <div class=" object-right-top">
                            <div class="">
                              <%= link_to 'Admin Dashboard', admin_users_path, class:"p-6" if current_user == User.first %>
                            </div>

                          </div>
                        </div>

                        <div class="text-4xl pb-4">
                          <%= yield(:title) %>
                        </div>
                        <!-- Order ID/Count -->
                        <% if @orders != false %>
                          <div class="text-4xl">
                            <%= yield(:order_number) %>
                          </div>
                        <% end  %>
                        <!-- For edit resource on #show Controller Actions  -->
                        <%= render 'layouts/edit_toggle' %>
                      </div>
                      <!-- For new resource on #index Controller Actions  -->
                      <%= render 'layouts/new_modal' %>
                      <!-- For new Order on #show Controller Actions  -->
                      <%= render 'shared/new_order_on_show_modal' %>
                  </div>

                <% end %>
                <!-- App -->
                <!-- App -->
                <!-- App -->
                <div class="container">
                  <% if (main_functionality_controller? == true) %>
                  <%#= render 'layouts/tab_table_options' %>

                  <%#= render 'shared/index_table' if current_action == 'index' %>

                  <%#= render 'shared/sortable_table' if current_action == 'index' %>

                  <%#= render 'shared/sortable_table2' if current_action == 'index' %>

                  <%= render 'shared/show_table' if show_create_order_on_purchaser_and_vendor? %>

                  <% end  %>


                  <%= yield unless (show_create_order_on_purchaser_and_vendor?) %>



                  <%#= yield unless (show_create_order_on_purchaser_and_vendor?) || (index_action_purchaser_and_vendor?) %>


                  <%#= yield unless view_on_main_functionality_controllers? %>
                </div>


                <% if (main_functionality_controller? == true) %>
                  <div class="p-2">
                    <%= link_to "Back", :back, class:"btn btn-primary" %>
                  </div>
                <% end  %>

              </div>
        </div>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script type="text/javascript">

      setTimeout(function(){
        $('.notice-msg-container').fadeOut().remove();
      }, 3000);

      setTimeout(function(){
        $('.alert-msg-container').fadeOut().remove();
      }, 10000);

    </script>
  </body>
</html>
