<!DOCTYPE html>
<html>
  <head>
    <title>LightningMarineServices</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-indigo-100 ">

    <%= render "shared/nav"%>

    <div class="">
      <div class="h-screen">
        <div class="text-center">
              <div>

                <%= render "shared/flash_messages" %>

                <% if user_signed_in? %>

                  <div class=" container pt-4">

                    <div class="float-right">
                      <%= render "shared/search_on_page" %>
                    </div>
                    <br>
                    <br>
                      <!-- Top Header Card Tabs -->
                      <%= render "shared/tabs" %>
                      <!-- Header Card-->
                      <div class="card p-4 -mt-4">
                        <!-- Top Left Header Content -->
                        <div class=" d-flex justify-content-start">
                          <div class=" object-left-top">
                            <div class="p-2">
                              <span class="">
                                <%= yield(:top_left_header_content) %>
                              </span>
                            </div>
                          </div>
                        </div>

                        <!-- Top Right Header Content -->
                        <div class=" d-flex justify-content-end">
                          <div class=" object-right-top">
                            <div class="">
                              <span class="">
                                <%= yield(:top_right_header_content) %>
                                  <%= link_to "#{current_user.name  }", dashboard_path, class:"text-gray-500" %>
                              </span>
                            </div>
                          </div>
                        </div>

                        <!-- Header Titles -->
                        <div class="text-4xl pb-4">
                          <%= yield(:title) %>

                          <div class="text-3xl">
                            <%= yield(:subtitle) %>
                          </div>

                          <div class="text-2xl">
                            <%= yield(:subtitle_two) %>
                          </div>
                        </div>
                        <!-- For edit resource on #show Controller Actions  -->
                        <%= render 'shared/edit_toggle' %>
                      </div>
                  </div>

                <% end %>

                <!-- App -->
                <div class="container">
                  <%= yield %>
                </div>

                <% if (@page.present?) && (@total_pages.present?) %>
                  <%= render "shared/pagination_buttons" %>
                <% end %>

                <% if (show_on_order_ship_purchaser_pages? == true) %>
                    <div class="p-2">
                      <%= link_to "Back", :back, class:"btn btn-primary" %>
                    </div>
                <% end  %>

              </div>
        </div>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script type="text/javascript">

      // Flash Message(s) Fade Out
      setTimeout(function(){
        $('.notice-msg-container').fadeOut().remove();
      }, 3000);

      setTimeout(function(){
        $('.alert-msg-container').fadeOut().remove();
      }, 10000);

    </script>
  </body>
</html>
