<!DOCTYPE html>
<html class="h-full bg-slate-200">
  <head>
    <title>LightningMarineServices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <div class="bg-gray-800 pb-32">
        <nav class="bg-gray-800">
          <%= render partial: "layouts/stacked_shell/nav", locals:{
            search_input_placeholder_text: "Search",
          } %>
        </nav>
        <div id="flashes">  <%# New flashes appended to div #flashes %>
          <%= render "application/flash_messages" %>  <%# old flashes %>
        </div>
        <div class="flow-root py-10">
          <header id="header">
            <div id="page_header">
              <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="w-full inline-flex flex-wrap justify-center sm:justify-between space-y-3 sm:space-y-0">
                  <div class="w-full sm:w-auto">
                    <h1 class="text-center sm:text-left">
                      <div id="page_heading_title" class="text-4xl font-bold tracking-tight text-white">
                        <% if content_for?(:page_heading_title) %>
                            <%= yield :page_heading_title %>
                        <% else %>
                            <%= turbo_stream.update "page_heading_title", @page_heading_title %>
                        <% end %>
                      </div>
                    </h1>
                  </div>
                  <div class="w-full sm:w-auto">
                    <div class="text-center sm:text-right">
                      <div id="page_heading_button">
                        <%= yield :page_heading_button %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
        </div>
      </div>
      <main class="-mt-32">
        <div class="mx-auto max-w-7xl px-4 pb-9 sm:px-6 lg:px-8">
          <div class="bg-white rounded-md mb-9">
            <%= render partial: "layouts/stacked_shell/nav/secondary_nav" %>
            <div class="pt-3 pb-9">
              <div id="yield_if_no_content_for_page_heading_card" class=" mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <% if !content_for?(:page_heading_card) %>
                  <%= yield %>
                <% else %>
                  <%= render partial: "/layouts/stacked_shell/headings/card" %>
                  <%= yield :page_heading_card %>
                <% end %>
              </div>
            </div>
          </div>
          <div id="yield_unless_no_content_for_page_heading_card">
            <% unless !content_for?(:page_heading_card) %>
              <%= yield %>
            <% end %>
          </div>
        </div>
        <%= turbo_frame_tag :modal %>
      </main>
    </div>
  </body>
</html>
