<!DOCTYPE html>
<html class="h-full bg-slate-200">
  <head>
    <title>LightningMarineServices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "users", "data-turbo-track": "reload" if controller_path.include? "users" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%#= stylesheet_link_tag "users" if controller_path.include? "users" %>
    <%#= stylesheet_link_tag "application" %>
    <%#= javascript_include_tag "application", defer: true %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <div class="bg-gray-800 pb-32">

        <nav class="bg-gray-800">
          <% tmp_search_input_placeholder_text = "Search" %>
          <%= render partial: "layouts/stacked_shell/nav", locals:{
            search_input_placeholder_text: tmp_search_input_placeholder_text,
          } %>
        </nav>

        <div id="flashes">   <%# New flashes appended to div #flashes %>
          <%= render "shared/flash_messages" %>  <%# old flashes %>
        </div>

        <div class="flow-root py-10">
          <%= render "/layouts/stacked_shell/headings/header" %>
        </div>

      </div>
      <main class="-mt-32">

        <% if content_for?(:page_heading_card) %>
          <%= render layout: "/layouts/stacked_shell/container" do %>

            <div class="bg-white rounded-md mb-9">
              <%= render partial: "layouts/stacked_shell/nav/secondary_nav" %>
              <div class="pt-3 pb-9">
                <div class=" mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                  <%= render partial: "/layouts/stacked_shell/headings/card" %>
                  <%= yield :page_heading_card %>
                </div>
              </div>
            </div>

            <%= yield %>
            <%= turbo_frame_tag :modal %>

          <% end %>
        <%# end %>
        <%# if !content_for?(:page_heading_card) %>
        <% else %>

          <%= render layout: "/layouts/stacked_shell/container" do %>

            <div class="bg-white rounded-md mb-9">
              <%= render partial: "layouts/stacked_shell/nav/secondary_nav" %>
              <div class="pt-3 pb-9">
                <div class=" mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                  <%= yield %>
                  <%= turbo_frame_tag :modal %>
                </div>
              </div>
            </div>

          <% end %>
        <% end %>

      </main>
    </div>
  </body>
</html>
